@font-face {
    font-family: 'ONE-Mobile-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header {
    width: 100%;
    height: 80px;
    padding: 10px 40px;
    position: relative;
}

.header {
    &-logo {
        width: 376px;
        height: 60px;
        position: absolute;
        left: 40px;
        top: 10px;
    }

    &-login {
        position: absolute;
        overflow: hidden;
        right: 40px;
        top: 50%;
        transform: translateY(-50%);

        li {
            float: left;
            a {
                font-size: 16px;
                padding: 0 10px;
            }

            &:last-child {
                a {
                    border-left: 1px solid #eee;
                    padding-right: 0;
                }
            }
        }
    }
}

.nav {
    max-width: 1000px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    clear: both;
    >li {
        float: left;
        position: relative;

        >a {
            display: flex;
            width: 200px;
            height: 100%;
            font-size: 20px;
            color: #222;
            font-weight: 600;
            line-height: 1;
            align-items: center;
            justify-content: center;
        }

        ul {
            display: none;
        //     position: absolute;
        //     top: 70px;
        //     width: 100%;
        //     height: 561px;
        //     z-index: 2;
        //     border-right: 1px solid #eeeeee;
        //     text-align: center;
        //     padding-top: 20px;

        //     li {
        //         margin-bottom: 20px;
        //     }
        }
    }

    // &-bg {
    //     position: absolute;
    //     width: 100%;
    //     height: 561px;
    //     background: #fff;
    //     left: 0;
    //     z-index: 1;
    // }
}

.container {
    width: 100%;
    height: auto;
    background: #f5f8fa;

    &-top {
        width: 100%;
        height: 160px;
        position: relative;
        padding-top: 53px;

        h1 {
            font-family: 'ONE-Mobile-Title';
            font-size: 40px;
            color: #fff;
            text-align: center;
            line-height: 1;
        }
    }

    &-bottom {
        padding: 40px 0 80px;
    }
}

.lnb {
    overflow: hidden;

    >li {
        float: left;

        >a {
            color: #fff;
            display: block;
            width: 240px;
            height: 100%;
            position: relative;
            padding: 22px 24px;
            font-size: 18px;
            line-height: 1;
            border-right: 1px solid #3952cc;

            &::after {
                content: '';
                width: 16px;
                height: 9px;
                background: url(../img/arrow-down.png);
                position: absolute;
                top: 28px;
                right: 16px;
            }
        }

        ul {
            display: none;
        }

        &.home {
            a {
                width: 64px;
                height: 64px;
                background: url(../img/home.png) center no-repeat #4766ff;
                border-radius: 4px;

                &::after {
                    display: none;
                }
            }
        }
    }

    &-wrap {
        position: absolute;
        max-width: 1280px;
        width: 100%;
        height: 64px;
        background: #18297a;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 50%);
        border-radius: 4px;
    }
}

.contents {
    margin: 0 auto;
    background: #fff;
    max-width: 1280px;
    width: 100%;
    border-radius: 16px;
    padding: 43px 40px 80px;

    &-title {
        >* {
            float: left;
        }

        p {
            font-size: 32px;
            font-family: 'ONE-Mobile-Title';
            color: #222;
            line-height: 1;
        }
    }
}

.icon-box {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}