/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
@import "../scss/import/var";
@import "../scss/import/_variables.scss";
@import "../scss/import/_mixin.scss";
// common test edit fix

/* blind */
.blind {
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.testClass {
  background:#000;
}

/* inner */
.inner {
  max-width: 128rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/* 타이틀 */
.title {
  &-01 {
    line-height: 0.9;
    font: {
      family: map-get($ftStyle, secondary);
      size: 4rem;
    }
    color: map-get($color, title);
    letter-spacing: -0.08rem;
  }
  &-02 {
    line-height: 1.13;
    font: {
      family: map-get($ftStyle, secondary);
      size: 3.2rem;
    }
    color: map-get($color, title);
    letter-spacing: -0.064rem;
  }
  &-03 {
    line-height: 1.5;
    font: {
      family: map-get($ftStyle, secondary);
      size: 2.4rem;
    }
    color: map-get($color, title);
    letter-spacing: -0.048rem;
  }
  &-04 {
    line-height: 1.5;
    font: {
      weight: 600;
      size: 2.4rem;
    }
    color: map-get($color, title);
    letter-spacing: -0.048rem;
  }
  &-05 {
    line-height: 1.5;
    font: {
      weight: 600;
      size: 2rem;
    }
    color: map-get($color, title);
    letter-spacing: -0.04rem;
    &--weight {
      &-700 {
        font-weight: 700;
      }
    }
    &--family {
      &-one {
        font: {
          family: map-get($ftStyle, secondary);
          weight: 400;
        }
      }
    }
  }
  &-06 {
    line-height: 1.56;
    font: {
      weight: 500;
      size: 1.8rem;
    }
    color: map-get($color, title);
    letter-spacing: -0.072rem;
  }
  @include mobile {
    &-01 {
      line-height: 1.13;
      font: {
        size: 3.2rem;
      }
      letter-spacing: -0.064rem;
    }
    &-02 {
      font: {
        size: 2.8rem;
      }
    }
    &-04 {
      font: {
        size: 2rem;
      }
      letter-spacing: -0.04rem;
    }
    &-05 {
      line-height: 1.56;
      font: {
        weight: 500;
        size: 2rem;
      }
      color: map-get($color, title);
      letter-spacing: -0.036rem;
    }
    &-06 {
      line-height: 1.5;
      font: {
        weight: 500;
        size: 1.6rem;
      }
      color: map-get($color, title);
      letter-spacing: -0.064rem;
    }
  }
}

/* 텍스트 */
.txt {
  &-01 {
    line-height: 1.56;
    font: {
      size: 1.8rem;
    }
    color: map-get($color, secondary);
    letter-spacing: -0.072rem;
  }
  &-02 {
    line-height: 1.88;
    font: {
      size: 1.6rem;
    }
    color: map-get($color, secondary);
    letter-spacing: -0.064rem;
  }
  &-03 {
    line-height: 1.5;
    font: {
      size: 1.6rem;
    }
    color: map-get($color, secondary);
    letter-spacing: -0.064rem;
  }
  &-04 {
    line-height: 1.6;
    font: {
      size: 1.5rem;
    }
    color: map-get($color, secondary);
    letter-spacing: -0.06rem;
    &--family {
      &-one {
        font: {
          family: map-get($ftStyle, secondary);
        }
      }
    }
    &--color {
      &-primary {
        color: map-get($color, primary);
      }
    }
  }
  @include mobile {
    &-01 {
      line-height: 1.63;
      font: {
        size: 1.6rem;
      }
      letter-spacing: -0.064rem;
    }
    &-02 {
      line-height: 1.75;
      font: {
        size: 1.6rem;
      }
      letter-spacing: -0.064rem;
    }
    &-03 {
      line-height: 1.6;
      font: {
        weight: 500;
        size: 1.5rem;
      }
      color: map-get($color, title);
      letter-spacing: -0.06rem;
    }
    &-04 {
      line-height: 1.57;
      font: {
        size: 1.4rem;
      }
      color: map-get($color, title);
      letter-spacing: -0.056rem;
    }
  }
}

/* 라디오 */
.radio {
  &__input {
  }
  &__label {
  }
}
/* 버튼 */
.btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;    
    border-radius: 2px;    
    cursor: pointer;
    &--size {
        &-m {
            display: inline-block;
            width: 9.4rem;
            height: 4.8rem;
            font: {
                weight: 500;
                size: 1.6rem;
            }
            letter-spacing: -0.064rem;
        }
        &-l {
            display: inline-block;
            width: 17.2rem;
            height: 5.6rem;
            font: {
                weight: 600;
                size: 1.8rem;
            }
            letter-spacing: -0.072rem;
        }
    }
    &--bg {
        &-primary {
            background-color: #35f;
            color: #fff;
            &:hover {
                background-color: #092de0;
            }
        }
        &-secondary {
            background-color: #18297a;
            color: #fff;
            &:hover {
                background-color: #000e52;
            }
        }
        &-info {
            background-color: #00a9ff;
            color: #fff;
            &:hover {
                background-color: #0092ff;
            }
        }
    }
    &--border {        
        &-primary {
            border: 1px solid #4766ff;
            color: #35f;
            &:hover {
                background-color: #f5f7ff;
                border-color: #4766ff;
            }
        }
        &-primary2 {
          border: 1px solid #4766ff;
          color: #d6ddff;
          &:hover {
              background-color: #f5f7ff;
              border-color: #4766ff;
          }
      }
        &-dark {
            border: 1px solid #222;
            color: #666;
            &:hover {
                background-color: #f5f5f5;
                border-color: #222;
            }
        }
        &-secondary {
            background-color: #f2f2f2;
            border: 1px solid #ccc;
            color: #666;
            &:hover {
                background-color: #eee;
                border-color: #aaa;
            }
        }
    }
}

/* 셀렉트박스 */
.select {          
    height: 4.8rem;
    line-height: 4.8rem;
    padding: 0 3rem 0 1rem;
    background: url(map-get($imgSrc, common) + 'arrow_down.png') no-repeat right 1rem center #fff;
    border: 1px solid #ccc;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    &::-ms-expand {
        display: none;
    }
    &__value {
        line-height: 1.19;
        font-size: 1.6rem;
        color: map-get($color, primary);
        letter-spacing: -0.064rem;
    }    
}

/* radio */
.radio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    &__inp {
        margin-right: 0.5rem;
        width: 2rem;
        height: 2rem;
    }
    &__label {
        @extend %radio-chkbox-ft;
    }
}

/* checkbox */
.checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    &__inp {
        margin-right: 0.6rem;
        width: 2rem;
        height: 2rem !important;
        border-radius: 4px!important;
        &:disabled {
            background-color: #eee;
            border: 1px solid #ccc;
            
        }
    }
    &__label {
        @extend %radio-chkbox-ft;
    }
    &--disabled {
        .checkbox__inp {
            &:disabled {
                background: #eee url(map-get($imgSrc, common) + 'arrow_disabled.png') no-repeat center;
                border: 1px solid #ccc;
                border-radius: 4px;
            }
        }
    }
}


/* 라벨, 상태, 뱃지 */
.label {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1rem;
    background-color: #ebeeff;
    border-radius: 4px;
    font: {
        weight: 500;
        size: 1.5rem;
    }
    color: #18297a;
    letter-spacing: -0.06rem;
}

.state {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 7rem;
    height: 3rem;
    line-height: 3rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    font: {
        weight: 500;
        size: 1.5rem;
    }
    letter-spacing: -0.06rem;
    &--waiting {
        border-color: #aaa;
        color: map-get($color, primary);
    }
    &--apply {
        border-color: #00a9ff;
        color: #00a9ff;
    }
    &--completion {
        border-color: #aaa;
        color: #ccc;
    }
}


.badge {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 2.4rem;
    line-height: 2.4rem;
    padding: 0 0.8rem;
    border-radius: 1.5rem;
    font: {
        weight: 600;
        size: 1.4rem;
    }
    letter-spacing: -0.056rem;
    &--info {
        background-color: #1ab2ff;
        color: #fff;
    }
    &--warning {
        background-color: #fc3;
        color: map-get($color, primary);
    }
    &--etc {
        background-color: #00A388;
        color: #fff;
    }
    &--sports {
        background-color: #4C6AFF;
        color: #fff;
    }
}

@include mobile {
  .pagination-list {
    li.mo-none {
        display: none!important;
    }
  }
}

@media all and (max-width: 449px) {
  .pagination-list {
    li.mo-none {
        display: none!important;
    }
  }
}

@import "../scss/import/bsh.scss";
@import "../scss/import/jsw.scss";
@import "../scss/import/park.scss";