@charset "utf-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-style: normal;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    text-decoration: inherit;
    color: inherit;
    vertical-align: top;
    outline: none;
}

*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-style: normal;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    text-decoration: inherit;
    color: inherit;
    vertical-align: top;
    outline: none;
}


html {
    width: 100%;
    height: 100%;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Pretendard', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.5;
    color: #666666;
    -webkit-font-smoothing: antialiased;
    /*font-smoothing: antialiased;*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
    -webkit-print-color-adjust: exact;
}

img {
    max-width: 100%;
}

strong {
    font-weight: 700;
}

ul,
ol,
li {
    list-style: none;
}

img,
hr {
    border: none;
}

table {
    width: 100%;
    border-spacing: 0;
    table-layout: fixed;
    border-collapse: collapse;
}

th,
td {
    vertical-align: middle;
}

input[type=date],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=week],
textarea,
select {}

button,
input[type=file],
input[type=image],
input[type=reset],
input[type=button],
input[type=submit] {
    border: none;
    background: none;
    border-radius: 0;
    -webkit-appearance: none;
    appearance: none;
}

input[type=text] {
    height: 4.8rem;
    padding-left: 1.5rem;
    border-radius: 0.2rem;
    border: solid 0.1rem #ccc;
}
input::placeholder {
    color:#ccc;
}
input::-webkit-input-placeholder {
    color:#ccc;
}
input:-ms-input-placeholder {
    color:#ccc;
}


select:disabled {
    border: solid 1px #ccc;
    background-color: #f2f2f2;
}

label {
    cursor: pointer;
}

fieldset,
iframe {
    border: none;
}

sup,
sub {
    line-height: 1;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

a:active {
    text-decoration: none;
    color: inherit;
}

a:focus {
    text-decoration: none;
    color: inherit;
}

caption {
    overflow: hidden;
    border: 0;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
}

/* 마진 단위 */
.m {
    &-l {
        @for $i from 0 to 20 {
            &-#{$i} {
                margin-left: $i * 5px !important;
            }
        }
    }

    &-r {
        @for $i from 0 to 20 {
            &-#{$i} {
                margin-right: $i * 5px !important;
            }
        }
    }

    &-t {
        @for $i from 0 to 20 {
            &-#{$i} {
                margin-top: $i * 5px !important;
            }
        }
    }

    &-b {
        @for $i from 0 to 20 {
            &-#{$i} {
                margin-bottom: $i * 5px !important;
            }
        }
    }
}

/* 패딩 단위 */
.p {
    @for $i from 0 to 20 {
        &-#{$i} {
            padding: $i * 5px !important;
        }
    }

    &-l {
        @for $i from 0 to 20 {
            &-#{$i} {
                padding-left: $i * 5px !important;
            }
        }
    }

    &-r {
        @for $i from 0 to 20 {
            &-#{$i} {
                padding-right: $i * 5px !important;
            }
        }
    }

    &-t {
        @for $i from 0 to 20 {
            &-#{$i} {
                padding-top: $i * 5px !important;
            }
        }
    }

    &-b {
        @for $i from 0 to 20 {
            &-#{$i} {
                padding-bottom: $i * 5px !important;
            }
        }
    }
}

/* width 단위 */
.pc-wd {
    @for $i from 1 to 81 {
        &-#{$i*5} {
            width: $i * 5px !important;
        }
    }
}



@media all and (max-width: 768px)  {


     /*피씨버전 마진/패딩/width값 모바일 클래스 설정. 너무 작은 단위는 스타일로 맞추기*/
    .mo-m {
        &-l {
            @for $i from 0 to 41 {
                &-#{$i} {
                    margin-left: $i * 0.1rem !important;
                }
            }
        }
    
        &-r {
            @for $i from 0 to 41 {
                &-#{$i} {
                    margin-right: $i * 0.1rem !important;
                }
            }
        }
    
        &-t {
            @for $i from 0 to 41 {
                &-#{$i} {
                    margin-top: $i * 0.1rem !important;
                }
            }
        }
    
        &-b {
            @for $i from 0 to 41 {
                &-#{$i} {
                    margin-bottom: $i * 0.1rem !important;
                }
            }
        }
    }
    
    .mo-p {
        &-l {
            @for $i from 0 to 41 {
                &-#{$i} {
                    padding-left: $i * 0.1rem !important;
                }
            }
        }
    
        &-r {
            @for $i from 0 to 41 {
                &-#{$i} {
                    padding-right: $i * 0.1rem !important;
                }
            }
        }
    
        &-t {
            @for $i from 0 to 41 {
                &-#{$i} {
                    padding-top: $i * 0.1rem !important;
                }
            }
        }
    
        &-b {
            @for $i from 0 to 41 {
                &-#{$i} {
                    padding-bottom: $i * 0.1rem !important;
                }
            }
        }
    }
    .mo-wd {
        @for $i from 1 to 101 {
            &-#{$i*1} {
                width: $i * 1% !important;
            }
        }
    }
}
