@charset "UTF-8";
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: inherit;
  color: inherit;
  vertical-align: top;
  outline: none;
}

*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: inherit;
  color: inherit;
  vertical-align: top;
  outline: none;
}

html {
  width: 100%;
  height: 100%;
  touch-action: manipulation;
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5;
  color: #666666;
  -webkit-font-smoothing: antialiased;
  /*font-smoothing: antialiased;*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -webkit-print-color-adjust: exact;
}

img {
  max-width: 100%;
}

strong {
  font-weight: 700;
}

ul,
ol,
li {
  list-style: none;
}

img,
hr {
  border: none;
}

table {
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
  border-collapse: collapse;
}

th,
td {
  vertical-align: middle;
}

button,
input[type=file],
input[type=image],
input[type=reset],
input[type=button],
input[type=submit] {
  border: none;
  background: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text] {
  height: 4.8rem;
  padding-left: 1.5rem;
  border-radius: 0.2rem;
  border: solid 0.1rem #ccc;
}

input[type=password] {
  height: 4.8rem;
  padding-left: 1.5rem;
  border-radius: 0.2rem;
  border: solid 0.1rem #ccc;
}

input::-moz-placeholder {
  color: #ccc;
}

input:-ms-input-placeholder {
  color: #ccc;
}

input::placeholder {
  color: #ccc;
}

input::-webkit-input-placeholder {
  color: #ccc;
}

input:-ms-input-placeholder {
  color: #ccc;
}

@media all and (max-width: 768px) {
  input::-moz-placeholder {
    color: #ccc;
    font-size: 1.3rem;
  }
  input:-ms-input-placeholder {
    color: #ccc;
    font-size: 1.3rem;
  }
  input::placeholder {
    color: #ccc;
    font-size: 1.3rem;
  }
}
select:disabled {
  border: solid 1px #ccc;
  background-color: #f2f2f2;
}

label {
  cursor: pointer;
}

fieldset,
iframe {
  border: none;
}

sup,
sub {
  line-height: 1;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: none;
  color: inherit;
}

a:focus {
  text-decoration: none;
  color: inherit;
}

caption {
  overflow: hidden;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
}

/* 마진 단위 */
.m-l-0 {
  margin-left: 0px !important;
}
.m-l-1 {
  margin-left: 5px !important;
}
.m-l-2 {
  margin-left: 10px !important;
}
.m-l-3 {
  margin-left: 15px !important;
}
.m-l-4 {
  margin-left: 20px !important;
}
.m-l-5 {
  margin-left: 25px !important;
}
.m-l-6 {
  margin-left: 30px !important;
}
.m-l-7 {
  margin-left: 35px !important;
}
.m-l-8 {
  margin-left: 40px !important;
}
.m-l-9 {
  margin-left: 45px !important;
}
.m-l-10 {
  margin-left: 50px !important;
}
.m-l-11 {
  margin-left: 55px !important;
}
.m-l-12 {
  margin-left: 60px !important;
}
.m-l-13 {
  margin-left: 65px !important;
}
.m-l-14 {
  margin-left: 70px !important;
}
.m-l-15 {
  margin-left: 75px !important;
}
.m-l-16 {
  margin-left: 80px !important;
}
.m-l-17 {
  margin-left: 85px !important;
}
.m-l-18 {
  margin-left: 90px !important;
}
.m-l-19 {
  margin-left: 95px !important;
}
.m-r-0 {
  margin-right: 0px !important;
}
.m-r-1 {
  margin-right: 5px !important;
}
.m-r-2 {
  margin-right: 10px !important;
}
.m-r-3 {
  margin-right: 15px !important;
}
.m-r-4 {
  margin-right: 20px !important;
}
.m-r-5 {
  margin-right: 25px !important;
}
.m-r-6 {
  margin-right: 30px !important;
}
.m-r-7 {
  margin-right: 35px !important;
}
.m-r-8 {
  margin-right: 40px !important;
}
.m-r-9 {
  margin-right: 45px !important;
}
.m-r-10 {
  margin-right: 50px !important;
}
.m-r-11 {
  margin-right: 55px !important;
}
.m-r-12 {
  margin-right: 60px !important;
}
.m-r-13 {
  margin-right: 65px !important;
}
.m-r-14 {
  margin-right: 70px !important;
}
.m-r-15 {
  margin-right: 75px !important;
}
.m-r-16 {
  margin-right: 80px !important;
}
.m-r-17 {
  margin-right: 85px !important;
}
.m-r-18 {
  margin-right: 90px !important;
}
.m-r-19 {
  margin-right: 95px !important;
}
.m-t-0 {
  margin-top: 0px !important;
}
.m-t-1 {
  margin-top: 5px !important;
}
.m-t-2 {
  margin-top: 10px !important;
}
.m-t-3 {
  margin-top: 15px !important;
}
.m-t-4 {
  margin-top: 20px !important;
}
.m-t-5 {
  margin-top: 25px !important;
}
.m-t-6 {
  margin-top: 30px !important;
}
.m-t-7 {
  margin-top: 35px !important;
}
.m-t-8 {
  margin-top: 40px !important;
}
.m-t-9 {
  margin-top: 45px !important;
}
.m-t-10 {
  margin-top: 50px !important;
}
.m-t-11 {
  margin-top: 55px !important;
}
.m-t-12 {
  margin-top: 60px !important;
}
.m-t-13 {
  margin-top: 65px !important;
}
.m-t-14 {
  margin-top: 70px !important;
}
.m-t-15 {
  margin-top: 75px !important;
}
.m-t-16 {
  margin-top: 80px !important;
}
.m-t-17 {
  margin-top: 85px !important;
}
.m-t-18 {
  margin-top: 90px !important;
}
.m-t-19 {
  margin-top: 95px !important;
}
.m-b-0 {
  margin-bottom: 0px !important;
}
.m-b-1 {
  margin-bottom: 5px !important;
}
.m-b-2 {
  margin-bottom: 10px !important;
}
.m-b-3 {
  margin-bottom: 15px !important;
}
.m-b-4 {
  margin-bottom: 20px !important;
}
.m-b-5 {
  margin-bottom: 25px !important;
}
.m-b-6 {
  margin-bottom: 30px !important;
}
.m-b-7 {
  margin-bottom: 35px !important;
}
.m-b-8 {
  margin-bottom: 40px !important;
}
.m-b-9 {
  margin-bottom: 45px !important;
}
.m-b-10 {
  margin-bottom: 50px !important;
}
.m-b-11 {
  margin-bottom: 55px !important;
}
.m-b-12 {
  margin-bottom: 60px !important;
}
.m-b-13 {
  margin-bottom: 65px !important;
}
.m-b-14 {
  margin-bottom: 70px !important;
}
.m-b-15 {
  margin-bottom: 75px !important;
}
.m-b-16 {
  margin-bottom: 80px !important;
}
.m-b-17 {
  margin-bottom: 85px !important;
}
.m-b-18 {
  margin-bottom: 90px !important;
}
.m-b-19 {
  margin-bottom: 95px !important;
}

/* 패딩 단위 */
.p-0 {
  padding: 0px !important;
}
.p-1 {
  padding: 5px !important;
}
.p-2 {
  padding: 10px !important;
}
.p-3 {
  padding: 15px !important;
}
.p-4 {
  padding: 20px !important;
}
.p-5 {
  padding: 25px !important;
}
.p-6 {
  padding: 30px !important;
}
.p-7 {
  padding: 35px !important;
}
.p-8 {
  padding: 40px !important;
}
.p-9 {
  padding: 45px !important;
}
.p-10 {
  padding: 50px !important;
}
.p-11 {
  padding: 55px !important;
}
.p-12 {
  padding: 60px !important;
}
.p-13 {
  padding: 65px !important;
}
.p-14 {
  padding: 70px !important;
}
.p-15 {
  padding: 75px !important;
}
.p-16 {
  padding: 80px !important;
}
.p-17 {
  padding: 85px !important;
}
.p-18 {
  padding: 90px !important;
}
.p-19 {
  padding: 95px !important;
}
.p-l-0 {
  padding-left: 0px !important;
}
.p-l-1 {
  padding-left: 5px !important;
}
.p-l-2 {
  padding-left: 10px !important;
}
.p-l-3 {
  padding-left: 15px !important;
}
.p-l-4 {
  padding-left: 20px !important;
}
.p-l-5 {
  padding-left: 25px !important;
}
.p-l-6 {
  padding-left: 30px !important;
}
.p-l-7 {
  padding-left: 35px !important;
}
.p-l-8 {
  padding-left: 40px !important;
}
.p-l-9 {
  padding-left: 45px !important;
}
.p-l-10 {
  padding-left: 50px !important;
}
.p-l-11 {
  padding-left: 55px !important;
}
.p-l-12 {
  padding-left: 60px !important;
}
.p-l-13 {
  padding-left: 65px !important;
}
.p-l-14 {
  padding-left: 70px !important;
}
.p-l-15 {
  padding-left: 75px !important;
}
.p-l-16 {
  padding-left: 80px !important;
}
.p-l-17 {
  padding-left: 85px !important;
}
.p-l-18 {
  padding-left: 90px !important;
}
.p-l-19 {
  padding-left: 95px !important;
}
.p-r-0 {
  padding-right: 0px !important;
}
.p-r-1 {
  padding-right: 5px !important;
}
.p-r-2 {
  padding-right: 10px !important;
}
.p-r-3 {
  padding-right: 15px !important;
}
.p-r-4 {
  padding-right: 20px !important;
}
.p-r-5 {
  padding-right: 25px !important;
}
.p-r-6 {
  padding-right: 30px !important;
}
.p-r-7 {
  padding-right: 35px !important;
}
.p-r-8 {
  padding-right: 40px !important;
}
.p-r-9 {
  padding-right: 45px !important;
}
.p-r-10 {
  padding-right: 50px !important;
}
.p-r-11 {
  padding-right: 55px !important;
}
.p-r-12 {
  padding-right: 60px !important;
}
.p-r-13 {
  padding-right: 65px !important;
}
.p-r-14 {
  padding-right: 70px !important;
}
.p-r-15 {
  padding-right: 75px !important;
}
.p-r-16 {
  padding-right: 80px !important;
}
.p-r-17 {
  padding-right: 85px !important;
}
.p-r-18 {
  padding-right: 90px !important;
}
.p-r-19 {
  padding-right: 95px !important;
}
.p-t-0 {
  padding-top: 0px !important;
}
.p-t-1 {
  padding-top: 5px !important;
}
.p-t-2 {
  padding-top: 10px !important;
}
.p-t-3 {
  padding-top: 15px !important;
}
.p-t-4 {
  padding-top: 20px !important;
}
.p-t-5 {
  padding-top: 25px !important;
}
.p-t-6 {
  padding-top: 30px !important;
}
.p-t-7 {
  padding-top: 35px !important;
}
.p-t-8 {
  padding-top: 40px !important;
}
.p-t-9 {
  padding-top: 45px !important;
}
.p-t-10 {
  padding-top: 50px !important;
}
.p-t-11 {
  padding-top: 55px !important;
}
.p-t-12 {
  padding-top: 60px !important;
}
.p-t-13 {
  padding-top: 65px !important;
}
.p-t-14 {
  padding-top: 70px !important;
}
.p-t-15 {
  padding-top: 75px !important;
}
.p-t-16 {
  padding-top: 80px !important;
}
.p-t-17 {
  padding-top: 85px !important;
}
.p-t-18 {
  padding-top: 90px !important;
}
.p-t-19 {
  padding-top: 95px !important;
}
.p-b-0 {
  padding-bottom: 0px !important;
}
.p-b-1 {
  padding-bottom: 5px !important;
}
.p-b-2 {
  padding-bottom: 10px !important;
}
.p-b-3 {
  padding-bottom: 15px !important;
}
.p-b-4 {
  padding-bottom: 20px !important;
}
.p-b-5 {
  padding-bottom: 25px !important;
}
.p-b-6 {
  padding-bottom: 30px !important;
}
.p-b-7 {
  padding-bottom: 35px !important;
}
.p-b-8 {
  padding-bottom: 40px !important;
}
.p-b-9 {
  padding-bottom: 45px !important;
}
.p-b-10 {
  padding-bottom: 50px !important;
}
.p-b-11 {
  padding-bottom: 55px !important;
}
.p-b-12 {
  padding-bottom: 60px !important;
}
.p-b-13 {
  padding-bottom: 65px !important;
}
.p-b-14 {
  padding-bottom: 70px !important;
}
.p-b-15 {
  padding-bottom: 75px !important;
}
.p-b-16 {
  padding-bottom: 80px !important;
}
.p-b-17 {
  padding-bottom: 85px !important;
}
.p-b-18 {
  padding-bottom: 90px !important;
}
.p-b-19 {
  padding-bottom: 95px !important;
}

/* width 단위 */
.pc-wd-5 {
  width: 5px !important;
}
.pc-wd-10 {
  width: 10px !important;
}
.pc-wd-15 {
  width: 15px !important;
}
.pc-wd-20 {
  width: 20px !important;
}
.pc-wd-25 {
  width: 25px !important;
}
.pc-wd-30 {
  width: 30px !important;
}
.pc-wd-35 {
  width: 35px !important;
}
.pc-wd-40 {
  width: 40px !important;
}
.pc-wd-45 {
  width: 45px !important;
}
.pc-wd-50 {
  width: 50px !important;
}
.pc-wd-55 {
  width: 55px !important;
}
.pc-wd-60 {
  width: 60px !important;
}
.pc-wd-65 {
  width: 65px !important;
}
.pc-wd-70 {
  width: 70px !important;
}
.pc-wd-75 {
  width: 75px !important;
}
.pc-wd-80 {
  width: 80px !important;
}
.pc-wd-85 {
  width: 85px !important;
}
.pc-wd-90 {
  width: 90px !important;
}
.pc-wd-95 {
  width: 95px !important;
}
.pc-wd-100 {
  width: 100px !important;
}
.pc-wd-105 {
  width: 105px !important;
}
.pc-wd-110 {
  width: 110px !important;
}
.pc-wd-115 {
  width: 115px !important;
}
.pc-wd-120 {
  width: 120px !important;
}
.pc-wd-125 {
  width: 125px !important;
}
.pc-wd-130 {
  width: 130px !important;
}
.pc-wd-135 {
  width: 135px !important;
}
.pc-wd-140 {
  width: 140px !important;
}
.pc-wd-145 {
  width: 145px !important;
}
.pc-wd-150 {
  width: 150px !important;
}
.pc-wd-155 {
  width: 155px !important;
}
.pc-wd-160 {
  width: 160px !important;
}
.pc-wd-165 {
  width: 165px !important;
}
.pc-wd-170 {
  width: 170px !important;
}
.pc-wd-175 {
  width: 175px !important;
}
.pc-wd-180 {
  width: 180px !important;
}
.pc-wd-185 {
  width: 185px !important;
}
.pc-wd-190 {
  width: 190px !important;
}
.pc-wd-195 {
  width: 195px !important;
}
.pc-wd-200 {
  width: 200px !important;
}
.pc-wd-205 {
  width: 205px !important;
}
.pc-wd-210 {
  width: 210px !important;
}
.pc-wd-215 {
  width: 215px !important;
}
.pc-wd-220 {
  width: 220px !important;
}
.pc-wd-225 {
  width: 225px !important;
}
.pc-wd-230 {
  width: 230px !important;
}
.pc-wd-235 {
  width: 235px !important;
}
.pc-wd-240 {
  width: 240px !important;
}
.pc-wd-245 {
  width: 245px !important;
}
.pc-wd-250 {
  width: 250px !important;
}
.pc-wd-255 {
  width: 255px !important;
}
.pc-wd-260 {
  width: 260px !important;
}
.pc-wd-265 {
  width: 265px !important;
}
.pc-wd-270 {
  width: 270px !important;
}
.pc-wd-275 {
  width: 275px !important;
}
.pc-wd-280 {
  width: 280px !important;
}
.pc-wd-285 {
  width: 285px !important;
}
.pc-wd-290 {
  width: 290px !important;
}
.pc-wd-295 {
  width: 295px !important;
}
.pc-wd-300 {
  width: 300px !important;
}
.pc-wd-305 {
  width: 305px !important;
}
.pc-wd-310 {
  width: 310px !important;
}
.pc-wd-315 {
  width: 315px !important;
}
.pc-wd-320 {
  width: 320px !important;
}
.pc-wd-325 {
  width: 325px !important;
}
.pc-wd-330 {
  width: 330px !important;
}
.pc-wd-335 {
  width: 335px !important;
}
.pc-wd-340 {
  width: 340px !important;
}
.pc-wd-345 {
  width: 345px !important;
}
.pc-wd-350 {
  width: 350px !important;
}
.pc-wd-355 {
  width: 355px !important;
}
.pc-wd-360 {
  width: 360px !important;
}
.pc-wd-365 {
  width: 365px !important;
}
.pc-wd-370 {
  width: 370px !important;
}
.pc-wd-375 {
  width: 375px !important;
}
.pc-wd-380 {
  width: 380px !important;
}
.pc-wd-385 {
  width: 385px !important;
}
.pc-wd-390 {
  width: 390px !important;
}
.pc-wd-395 {
  width: 395px !important;
}
.pc-wd-400 {
  width: 400px !important;
}

@media all and (max-width: 768px) {
  /*피씨버전 마진/패딩/width값 모바일 클래스 설정. 너무 작은 단위는 스타일로 맞추기*/
  .mo-m-l-0 {
    margin-left: 0rem !important;
  }
  .mo-m-l-1 {
    margin-left: 0.1rem !important;
  }
  .mo-m-l-2 {
    margin-left: 0.2rem !important;
  }
  .mo-m-l-3 {
    margin-left: 0.3rem !important;
  }
  .mo-m-l-4 {
    margin-left: 0.4rem !important;
  }
  .mo-m-l-5 {
    margin-left: 0.5rem !important;
  }
  .mo-m-l-6 {
    margin-left: 0.6rem !important;
  }
  .mo-m-l-7 {
    margin-left: 0.7rem !important;
  }
  .mo-m-l-8 {
    margin-left: 0.8rem !important;
  }
  .mo-m-l-9 {
    margin-left: 0.9rem !important;
  }
  .mo-m-l-10 {
    margin-left: 1rem !important;
  }
  .mo-m-l-11 {
    margin-left: 1.1rem !important;
  }
  .mo-m-l-12 {
    margin-left: 1.2rem !important;
  }
  .mo-m-l-13 {
    margin-left: 1.3rem !important;
  }
  .mo-m-l-14 {
    margin-left: 1.4rem !important;
  }
  .mo-m-l-15 {
    margin-left: 1.5rem !important;
  }
  .mo-m-l-16 {
    margin-left: 1.6rem !important;
  }
  .mo-m-l-17 {
    margin-left: 1.7rem !important;
  }
  .mo-m-l-18 {
    margin-left: 1.8rem !important;
  }
  .mo-m-l-19 {
    margin-left: 1.9rem !important;
  }
  .mo-m-l-20 {
    margin-left: 2rem !important;
  }
  .mo-m-l-21 {
    margin-left: 2.1rem !important;
  }
  .mo-m-l-22 {
    margin-left: 2.2rem !important;
  }
  .mo-m-l-23 {
    margin-left: 2.3rem !important;
  }
  .mo-m-l-24 {
    margin-left: 2.4rem !important;
  }
  .mo-m-l-25 {
    margin-left: 2.5rem !important;
  }
  .mo-m-l-26 {
    margin-left: 2.6rem !important;
  }
  .mo-m-l-27 {
    margin-left: 2.7rem !important;
  }
  .mo-m-l-28 {
    margin-left: 2.8rem !important;
  }
  .mo-m-l-29 {
    margin-left: 2.9rem !important;
  }
  .mo-m-l-30 {
    margin-left: 3rem !important;
  }
  .mo-m-l-31 {
    margin-left: 3.1rem !important;
  }
  .mo-m-l-32 {
    margin-left: 3.2rem !important;
  }
  .mo-m-l-33 {
    margin-left: 3.3rem !important;
  }
  .mo-m-l-34 {
    margin-left: 3.4rem !important;
  }
  .mo-m-l-35 {
    margin-left: 3.5rem !important;
  }
  .mo-m-l-36 {
    margin-left: 3.6rem !important;
  }
  .mo-m-l-37 {
    margin-left: 3.7rem !important;
  }
  .mo-m-l-38 {
    margin-left: 3.8rem !important;
  }
  .mo-m-l-39 {
    margin-left: 3.9rem !important;
  }
  .mo-m-l-40 {
    margin-left: 4rem !important;
  }
  .mo-m-r-0 {
    margin-right: 0rem !important;
  }
  .mo-m-r-1 {
    margin-right: 0.1rem !important;
  }
  .mo-m-r-2 {
    margin-right: 0.2rem !important;
  }
  .mo-m-r-3 {
    margin-right: 0.3rem !important;
  }
  .mo-m-r-4 {
    margin-right: 0.4rem !important;
  }
  .mo-m-r-5 {
    margin-right: 0.5rem !important;
  }
  .mo-m-r-6 {
    margin-right: 0.6rem !important;
  }
  .mo-m-r-7 {
    margin-right: 0.7rem !important;
  }
  .mo-m-r-8 {
    margin-right: 0.8rem !important;
  }
  .mo-m-r-9 {
    margin-right: 0.9rem !important;
  }
  .mo-m-r-10 {
    margin-right: 1rem !important;
  }
  .mo-m-r-11 {
    margin-right: 1.1rem !important;
  }
  .mo-m-r-12 {
    margin-right: 1.2rem !important;
  }
  .mo-m-r-13 {
    margin-right: 1.3rem !important;
  }
  .mo-m-r-14 {
    margin-right: 1.4rem !important;
  }
  .mo-m-r-15 {
    margin-right: 1.5rem !important;
  }
  .mo-m-r-16 {
    margin-right: 1.6rem !important;
  }
  .mo-m-r-17 {
    margin-right: 1.7rem !important;
  }
  .mo-m-r-18 {
    margin-right: 1.8rem !important;
  }
  .mo-m-r-19 {
    margin-right: 1.9rem !important;
  }
  .mo-m-r-20 {
    margin-right: 2rem !important;
  }
  .mo-m-r-21 {
    margin-right: 2.1rem !important;
  }
  .mo-m-r-22 {
    margin-right: 2.2rem !important;
  }
  .mo-m-r-23 {
    margin-right: 2.3rem !important;
  }
  .mo-m-r-24 {
    margin-right: 2.4rem !important;
  }
  .mo-m-r-25 {
    margin-right: 2.5rem !important;
  }
  .mo-m-r-26 {
    margin-right: 2.6rem !important;
  }
  .mo-m-r-27 {
    margin-right: 2.7rem !important;
  }
  .mo-m-r-28 {
    margin-right: 2.8rem !important;
  }
  .mo-m-r-29 {
    margin-right: 2.9rem !important;
  }
  .mo-m-r-30 {
    margin-right: 3rem !important;
  }
  .mo-m-r-31 {
    margin-right: 3.1rem !important;
  }
  .mo-m-r-32 {
    margin-right: 3.2rem !important;
  }
  .mo-m-r-33 {
    margin-right: 3.3rem !important;
  }
  .mo-m-r-34 {
    margin-right: 3.4rem !important;
  }
  .mo-m-r-35 {
    margin-right: 3.5rem !important;
  }
  .mo-m-r-36 {
    margin-right: 3.6rem !important;
  }
  .mo-m-r-37 {
    margin-right: 3.7rem !important;
  }
  .mo-m-r-38 {
    margin-right: 3.8rem !important;
  }
  .mo-m-r-39 {
    margin-right: 3.9rem !important;
  }
  .mo-m-r-40 {
    margin-right: 4rem !important;
  }
  .mo-m-t-0 {
    margin-top: 0rem !important;
  }
  .mo-m-t-1 {
    margin-top: 0.1rem !important;
  }
  .mo-m-t-2 {
    margin-top: 0.2rem !important;
  }
  .mo-m-t-3 {
    margin-top: 0.3rem !important;
  }
  .mo-m-t-4 {
    margin-top: 0.4rem !important;
  }
  .mo-m-t-5 {
    margin-top: 0.5rem !important;
  }
  .mo-m-t-6 {
    margin-top: 0.6rem !important;
  }
  .mo-m-t-7 {
    margin-top: 0.7rem !important;
  }
  .mo-m-t-8 {
    margin-top: 0.8rem !important;
  }
  .mo-m-t-9 {
    margin-top: 0.9rem !important;
  }
  .mo-m-t-10 {
    margin-top: 1rem !important;
  }
  .mo-m-t-11 {
    margin-top: 1.1rem !important;
  }
  .mo-m-t-12 {
    margin-top: 1.2rem !important;
  }
  .mo-m-t-13 {
    margin-top: 1.3rem !important;
  }
  .mo-m-t-14 {
    margin-top: 1.4rem !important;
  }
  .mo-m-t-15 {
    margin-top: 1.5rem !important;
  }
  .mo-m-t-16 {
    margin-top: 1.6rem !important;
  }
  .mo-m-t-17 {
    margin-top: 1.7rem !important;
  }
  .mo-m-t-18 {
    margin-top: 1.8rem !important;
  }
  .mo-m-t-19 {
    margin-top: 1.9rem !important;
  }
  .mo-m-t-20 {
    margin-top: 2rem !important;
  }
  .mo-m-t-21 {
    margin-top: 2.1rem !important;
  }
  .mo-m-t-22 {
    margin-top: 2.2rem !important;
  }
  .mo-m-t-23 {
    margin-top: 2.3rem !important;
  }
  .mo-m-t-24 {
    margin-top: 2.4rem !important;
  }
  .mo-m-t-25 {
    margin-top: 2.5rem !important;
  }
  .mo-m-t-26 {
    margin-top: 2.6rem !important;
  }
  .mo-m-t-27 {
    margin-top: 2.7rem !important;
  }
  .mo-m-t-28 {
    margin-top: 2.8rem !important;
  }
  .mo-m-t-29 {
    margin-top: 2.9rem !important;
  }
  .mo-m-t-30 {
    margin-top: 3rem !important;
  }
  .mo-m-t-31 {
    margin-top: 3.1rem !important;
  }
  .mo-m-t-32 {
    margin-top: 3.2rem !important;
  }
  .mo-m-t-33 {
    margin-top: 3.3rem !important;
  }
  .mo-m-t-34 {
    margin-top: 3.4rem !important;
  }
  .mo-m-t-35 {
    margin-top: 3.5rem !important;
  }
  .mo-m-t-36 {
    margin-top: 3.6rem !important;
  }
  .mo-m-t-37 {
    margin-top: 3.7rem !important;
  }
  .mo-m-t-38 {
    margin-top: 3.8rem !important;
  }
  .mo-m-t-39 {
    margin-top: 3.9rem !important;
  }
  .mo-m-t-40 {
    margin-top: 4rem !important;
  }
  .mo-m-b-0 {
    margin-bottom: 0rem !important;
  }
  .mo-m-b-1 {
    margin-bottom: 0.1rem !important;
  }
  .mo-m-b-2 {
    margin-bottom: 0.2rem !important;
  }
  .mo-m-b-3 {
    margin-bottom: 0.3rem !important;
  }
  .mo-m-b-4 {
    margin-bottom: 0.4rem !important;
  }
  .mo-m-b-5 {
    margin-bottom: 0.5rem !important;
  }
  .mo-m-b-6 {
    margin-bottom: 0.6rem !important;
  }
  .mo-m-b-7 {
    margin-bottom: 0.7rem !important;
  }
  .mo-m-b-8 {
    margin-bottom: 0.8rem !important;
  }
  .mo-m-b-9 {
    margin-bottom: 0.9rem !important;
  }
  .mo-m-b-10 {
    margin-bottom: 1rem !important;
  }
  .mo-m-b-11 {
    margin-bottom: 1.1rem !important;
  }
  .mo-m-b-12 {
    margin-bottom: 1.2rem !important;
  }
  .mo-m-b-13 {
    margin-bottom: 1.3rem !important;
  }
  .mo-m-b-14 {
    margin-bottom: 1.4rem !important;
  }
  .mo-m-b-15 {
    margin-bottom: 1.5rem !important;
  }
  .mo-m-b-16 {
    margin-bottom: 1.6rem !important;
  }
  .mo-m-b-17 {
    margin-bottom: 1.7rem !important;
  }
  .mo-m-b-18 {
    margin-bottom: 1.8rem !important;
  }
  .mo-m-b-19 {
    margin-bottom: 1.9rem !important;
  }
  .mo-m-b-20 {
    margin-bottom: 2rem !important;
  }
  .mo-m-b-21 {
    margin-bottom: 2.1rem !important;
  }
  .mo-m-b-22 {
    margin-bottom: 2.2rem !important;
  }
  .mo-m-b-23 {
    margin-bottom: 2.3rem !important;
  }
  .mo-m-b-24 {
    margin-bottom: 2.4rem !important;
  }
  .mo-m-b-25 {
    margin-bottom: 2.5rem !important;
  }
  .mo-m-b-26 {
    margin-bottom: 2.6rem !important;
  }
  .mo-m-b-27 {
    margin-bottom: 2.7rem !important;
  }
  .mo-m-b-28 {
    margin-bottom: 2.8rem !important;
  }
  .mo-m-b-29 {
    margin-bottom: 2.9rem !important;
  }
  .mo-m-b-30 {
    margin-bottom: 3rem !important;
  }
  .mo-m-b-31 {
    margin-bottom: 3.1rem !important;
  }
  .mo-m-b-32 {
    margin-bottom: 3.2rem !important;
  }
  .mo-m-b-33 {
    margin-bottom: 3.3rem !important;
  }
  .mo-m-b-34 {
    margin-bottom: 3.4rem !important;
  }
  .mo-m-b-35 {
    margin-bottom: 3.5rem !important;
  }
  .mo-m-b-36 {
    margin-bottom: 3.6rem !important;
  }
  .mo-m-b-37 {
    margin-bottom: 3.7rem !important;
  }
  .mo-m-b-38 {
    margin-bottom: 3.8rem !important;
  }
  .mo-m-b-39 {
    margin-bottom: 3.9rem !important;
  }
  .mo-m-b-40 {
    margin-bottom: 4rem !important;
  }
  .mo-p-l-0 {
    padding-left: 0rem !important;
  }
  .mo-p-l-1 {
    padding-left: 0.1rem !important;
  }
  .mo-p-l-2 {
    padding-left: 0.2rem !important;
  }
  .mo-p-l-3 {
    padding-left: 0.3rem !important;
  }
  .mo-p-l-4 {
    padding-left: 0.4rem !important;
  }
  .mo-p-l-5 {
    padding-left: 0.5rem !important;
  }
  .mo-p-l-6 {
    padding-left: 0.6rem !important;
  }
  .mo-p-l-7 {
    padding-left: 0.7rem !important;
  }
  .mo-p-l-8 {
    padding-left: 0.8rem !important;
  }
  .mo-p-l-9 {
    padding-left: 0.9rem !important;
  }
  .mo-p-l-10 {
    padding-left: 1rem !important;
  }
  .mo-p-l-11 {
    padding-left: 1.1rem !important;
  }
  .mo-p-l-12 {
    padding-left: 1.2rem !important;
  }
  .mo-p-l-13 {
    padding-left: 1.3rem !important;
  }
  .mo-p-l-14 {
    padding-left: 1.4rem !important;
  }
  .mo-p-l-15 {
    padding-left: 1.5rem !important;
  }
  .mo-p-l-16 {
    padding-left: 1.6rem !important;
  }
  .mo-p-l-17 {
    padding-left: 1.7rem !important;
  }
  .mo-p-l-18 {
    padding-left: 1.8rem !important;
  }
  .mo-p-l-19 {
    padding-left: 1.9rem !important;
  }
  .mo-p-l-20 {
    padding-left: 2rem !important;
  }
  .mo-p-l-21 {
    padding-left: 2.1rem !important;
  }
  .mo-p-l-22 {
    padding-left: 2.2rem !important;
  }
  .mo-p-l-23 {
    padding-left: 2.3rem !important;
  }
  .mo-p-l-24 {
    padding-left: 2.4rem !important;
  }
  .mo-p-l-25 {
    padding-left: 2.5rem !important;
  }
  .mo-p-l-26 {
    padding-left: 2.6rem !important;
  }
  .mo-p-l-27 {
    padding-left: 2.7rem !important;
  }
  .mo-p-l-28 {
    padding-left: 2.8rem !important;
  }
  .mo-p-l-29 {
    padding-left: 2.9rem !important;
  }
  .mo-p-l-30 {
    padding-left: 3rem !important;
  }
  .mo-p-l-31 {
    padding-left: 3.1rem !important;
  }
  .mo-p-l-32 {
    padding-left: 3.2rem !important;
  }
  .mo-p-l-33 {
    padding-left: 3.3rem !important;
  }
  .mo-p-l-34 {
    padding-left: 3.4rem !important;
  }
  .mo-p-l-35 {
    padding-left: 3.5rem !important;
  }
  .mo-p-l-36 {
    padding-left: 3.6rem !important;
  }
  .mo-p-l-37 {
    padding-left: 3.7rem !important;
  }
  .mo-p-l-38 {
    padding-left: 3.8rem !important;
  }
  .mo-p-l-39 {
    padding-left: 3.9rem !important;
  }
  .mo-p-l-40 {
    padding-left: 4rem !important;
  }
  .mo-p-r-0 {
    padding-right: 0rem !important;
  }
  .mo-p-r-1 {
    padding-right: 0.1rem !important;
  }
  .mo-p-r-2 {
    padding-right: 0.2rem !important;
  }
  .mo-p-r-3 {
    padding-right: 0.3rem !important;
  }
  .mo-p-r-4 {
    padding-right: 0.4rem !important;
  }
  .mo-p-r-5 {
    padding-right: 0.5rem !important;
  }
  .mo-p-r-6 {
    padding-right: 0.6rem !important;
  }
  .mo-p-r-7 {
    padding-right: 0.7rem !important;
  }
  .mo-p-r-8 {
    padding-right: 0.8rem !important;
  }
  .mo-p-r-9 {
    padding-right: 0.9rem !important;
  }
  .mo-p-r-10 {
    padding-right: 1rem !important;
  }
  .mo-p-r-11 {
    padding-right: 1.1rem !important;
  }
  .mo-p-r-12 {
    padding-right: 1.2rem !important;
  }
  .mo-p-r-13 {
    padding-right: 1.3rem !important;
  }
  .mo-p-r-14 {
    padding-right: 1.4rem !important;
  }
  .mo-p-r-15 {
    padding-right: 1.5rem !important;
  }
  .mo-p-r-16 {
    padding-right: 1.6rem !important;
  }
  .mo-p-r-17 {
    padding-right: 1.7rem !important;
  }
  .mo-p-r-18 {
    padding-right: 1.8rem !important;
  }
  .mo-p-r-19 {
    padding-right: 1.9rem !important;
  }
  .mo-p-r-20 {
    padding-right: 2rem !important;
  }
  .mo-p-r-21 {
    padding-right: 2.1rem !important;
  }
  .mo-p-r-22 {
    padding-right: 2.2rem !important;
  }
  .mo-p-r-23 {
    padding-right: 2.3rem !important;
  }
  .mo-p-r-24 {
    padding-right: 2.4rem !important;
  }
  .mo-p-r-25 {
    padding-right: 2.5rem !important;
  }
  .mo-p-r-26 {
    padding-right: 2.6rem !important;
  }
  .mo-p-r-27 {
    padding-right: 2.7rem !important;
  }
  .mo-p-r-28 {
    padding-right: 2.8rem !important;
  }
  .mo-p-r-29 {
    padding-right: 2.9rem !important;
  }
  .mo-p-r-30 {
    padding-right: 3rem !important;
  }
  .mo-p-r-31 {
    padding-right: 3.1rem !important;
  }
  .mo-p-r-32 {
    padding-right: 3.2rem !important;
  }
  .mo-p-r-33 {
    padding-right: 3.3rem !important;
  }
  .mo-p-r-34 {
    padding-right: 3.4rem !important;
  }
  .mo-p-r-35 {
    padding-right: 3.5rem !important;
  }
  .mo-p-r-36 {
    padding-right: 3.6rem !important;
  }
  .mo-p-r-37 {
    padding-right: 3.7rem !important;
  }
  .mo-p-r-38 {
    padding-right: 3.8rem !important;
  }
  .mo-p-r-39 {
    padding-right: 3.9rem !important;
  }
  .mo-p-r-40 {
    padding-right: 4rem !important;
  }
  .mo-p-t-0 {
    padding-top: 0rem !important;
  }
  .mo-p-t-1 {
    padding-top: 0.1rem !important;
  }
  .mo-p-t-2 {
    padding-top: 0.2rem !important;
  }
  .mo-p-t-3 {
    padding-top: 0.3rem !important;
  }
  .mo-p-t-4 {
    padding-top: 0.4rem !important;
  }
  .mo-p-t-5 {
    padding-top: 0.5rem !important;
  }
  .mo-p-t-6 {
    padding-top: 0.6rem !important;
  }
  .mo-p-t-7 {
    padding-top: 0.7rem !important;
  }
  .mo-p-t-8 {
    padding-top: 0.8rem !important;
  }
  .mo-p-t-9 {
    padding-top: 0.9rem !important;
  }
  .mo-p-t-10 {
    padding-top: 1rem !important;
  }
  .mo-p-t-11 {
    padding-top: 1.1rem !important;
  }
  .mo-p-t-12 {
    padding-top: 1.2rem !important;
  }
  .mo-p-t-13 {
    padding-top: 1.3rem !important;
  }
  .mo-p-t-14 {
    padding-top: 1.4rem !important;
  }
  .mo-p-t-15 {
    padding-top: 1.5rem !important;
  }
  .mo-p-t-16 {
    padding-top: 1.6rem !important;
  }
  .mo-p-t-17 {
    padding-top: 1.7rem !important;
  }
  .mo-p-t-18 {
    padding-top: 1.8rem !important;
  }
  .mo-p-t-19 {
    padding-top: 1.9rem !important;
  }
  .mo-p-t-20 {
    padding-top: 2rem !important;
  }
  .mo-p-t-21 {
    padding-top: 2.1rem !important;
  }
  .mo-p-t-22 {
    padding-top: 2.2rem !important;
  }
  .mo-p-t-23 {
    padding-top: 2.3rem !important;
  }
  .mo-p-t-24 {
    padding-top: 2.4rem !important;
  }
  .mo-p-t-25 {
    padding-top: 2.5rem !important;
  }
  .mo-p-t-26 {
    padding-top: 2.6rem !important;
  }
  .mo-p-t-27 {
    padding-top: 2.7rem !important;
  }
  .mo-p-t-28 {
    padding-top: 2.8rem !important;
  }
  .mo-p-t-29 {
    padding-top: 2.9rem !important;
  }
  .mo-p-t-30 {
    padding-top: 3rem !important;
  }
  .mo-p-t-31 {
    padding-top: 3.1rem !important;
  }
  .mo-p-t-32 {
    padding-top: 3.2rem !important;
  }
  .mo-p-t-33 {
    padding-top: 3.3rem !important;
  }
  .mo-p-t-34 {
    padding-top: 3.4rem !important;
  }
  .mo-p-t-35 {
    padding-top: 3.5rem !important;
  }
  .mo-p-t-36 {
    padding-top: 3.6rem !important;
  }
  .mo-p-t-37 {
    padding-top: 3.7rem !important;
  }
  .mo-p-t-38 {
    padding-top: 3.8rem !important;
  }
  .mo-p-t-39 {
    padding-top: 3.9rem !important;
  }
  .mo-p-t-40 {
    padding-top: 4rem !important;
  }
  .mo-p-b-0 {
    padding-bottom: 0rem !important;
  }
  .mo-p-b-1 {
    padding-bottom: 0.1rem !important;
  }
  .mo-p-b-2 {
    padding-bottom: 0.2rem !important;
  }
  .mo-p-b-3 {
    padding-bottom: 0.3rem !important;
  }
  .mo-p-b-4 {
    padding-bottom: 0.4rem !important;
  }
  .mo-p-b-5 {
    padding-bottom: 0.5rem !important;
  }
  .mo-p-b-6 {
    padding-bottom: 0.6rem !important;
  }
  .mo-p-b-7 {
    padding-bottom: 0.7rem !important;
  }
  .mo-p-b-8 {
    padding-bottom: 0.8rem !important;
  }
  .mo-p-b-9 {
    padding-bottom: 0.9rem !important;
  }
  .mo-p-b-10 {
    padding-bottom: 1rem !important;
  }
  .mo-p-b-11 {
    padding-bottom: 1.1rem !important;
  }
  .mo-p-b-12 {
    padding-bottom: 1.2rem !important;
  }
  .mo-p-b-13 {
    padding-bottom: 1.3rem !important;
  }
  .mo-p-b-14 {
    padding-bottom: 1.4rem !important;
  }
  .mo-p-b-15 {
    padding-bottom: 1.5rem !important;
  }
  .mo-p-b-16 {
    padding-bottom: 1.6rem !important;
  }
  .mo-p-b-17 {
    padding-bottom: 1.7rem !important;
  }
  .mo-p-b-18 {
    padding-bottom: 1.8rem !important;
  }
  .mo-p-b-19 {
    padding-bottom: 1.9rem !important;
  }
  .mo-p-b-20 {
    padding-bottom: 2rem !important;
  }
  .mo-p-b-21 {
    padding-bottom: 2.1rem !important;
  }
  .mo-p-b-22 {
    padding-bottom: 2.2rem !important;
  }
  .mo-p-b-23 {
    padding-bottom: 2.3rem !important;
  }
  .mo-p-b-24 {
    padding-bottom: 2.4rem !important;
  }
  .mo-p-b-25 {
    padding-bottom: 2.5rem !important;
  }
  .mo-p-b-26 {
    padding-bottom: 2.6rem !important;
  }
  .mo-p-b-27 {
    padding-bottom: 2.7rem !important;
  }
  .mo-p-b-28 {
    padding-bottom: 2.8rem !important;
  }
  .mo-p-b-29 {
    padding-bottom: 2.9rem !important;
  }
  .mo-p-b-30 {
    padding-bottom: 3rem !important;
  }
  .mo-p-b-31 {
    padding-bottom: 3.1rem !important;
  }
  .mo-p-b-32 {
    padding-bottom: 3.2rem !important;
  }
  .mo-p-b-33 {
    padding-bottom: 3.3rem !important;
  }
  .mo-p-b-34 {
    padding-bottom: 3.4rem !important;
  }
  .mo-p-b-35 {
    padding-bottom: 3.5rem !important;
  }
  .mo-p-b-36 {
    padding-bottom: 3.6rem !important;
  }
  .mo-p-b-37 {
    padding-bottom: 3.7rem !important;
  }
  .mo-p-b-38 {
    padding-bottom: 3.8rem !important;
  }
  .mo-p-b-39 {
    padding-bottom: 3.9rem !important;
  }
  .mo-p-b-40 {
    padding-bottom: 4rem !important;
  }
  .mo-wd-1 {
    width: 1% !important;
  }
  .mo-wd-2 {
    width: 2% !important;
  }
  .mo-wd-3 {
    width: 3% !important;
  }
  .mo-wd-4 {
    width: 4% !important;
  }
  .mo-wd-5 {
    width: 5% !important;
  }
  .mo-wd-6 {
    width: 6% !important;
  }
  .mo-wd-7 {
    width: 7% !important;
  }
  .mo-wd-8 {
    width: 8% !important;
  }
  .mo-wd-9 {
    width: 9% !important;
  }
  .mo-wd-10 {
    width: 10% !important;
  }
  .mo-wd-11 {
    width: 11% !important;
  }
  .mo-wd-12 {
    width: 12% !important;
  }
  .mo-wd-13 {
    width: 13% !important;
  }
  .mo-wd-14 {
    width: 14% !important;
  }
  .mo-wd-15 {
    width: 15% !important;
  }
  .mo-wd-16 {
    width: 16% !important;
  }
  .mo-wd-17 {
    width: 17% !important;
  }
  .mo-wd-18 {
    width: 18% !important;
  }
  .mo-wd-19 {
    width: 19% !important;
  }
  .mo-wd-20 {
    width: 20% !important;
  }
  .mo-wd-21 {
    width: 21% !important;
  }
  .mo-wd-22 {
    width: 22% !important;
  }
  .mo-wd-23 {
    width: 23% !important;
  }
  .mo-wd-24 {
    width: 24% !important;
  }
  .mo-wd-25 {
    width: 25% !important;
  }
  .mo-wd-26 {
    width: 26% !important;
  }
  .mo-wd-27 {
    width: 27% !important;
  }
  .mo-wd-28 {
    width: 28% !important;
  }
  .mo-wd-29 {
    width: 29% !important;
  }
  .mo-wd-30 {
    width: 30% !important;
  }
  .mo-wd-31 {
    width: 31% !important;
  }
  .mo-wd-32 {
    width: 32% !important;
  }
  .mo-wd-33 {
    width: 33% !important;
  }
  .mo-wd-34 {
    width: 34% !important;
  }
  .mo-wd-35 {
    width: 35% !important;
  }
  .mo-wd-36 {
    width: 36% !important;
  }
  .mo-wd-37 {
    width: 37% !important;
  }
  .mo-wd-38 {
    width: 38% !important;
  }
  .mo-wd-39 {
    width: 39% !important;
  }
  .mo-wd-40 {
    width: 40% !important;
  }
  .mo-wd-41 {
    width: 41% !important;
  }
  .mo-wd-42 {
    width: 42% !important;
  }
  .mo-wd-43 {
    width: 43% !important;
  }
  .mo-wd-44 {
    width: 44% !important;
  }
  .mo-wd-45 {
    width: 45% !important;
  }
  .mo-wd-46 {
    width: 46% !important;
  }
  .mo-wd-47 {
    width: 47% !important;
  }
  .mo-wd-48 {
    width: 48% !important;
  }
  .mo-wd-49 {
    width: 49% !important;
  }
  .mo-wd-50 {
    width: 50% !important;
  }
  .mo-wd-51 {
    width: 51% !important;
  }
  .mo-wd-52 {
    width: 52% !important;
  }
  .mo-wd-53 {
    width: 53% !important;
  }
  .mo-wd-54 {
    width: 54% !important;
  }
  .mo-wd-55 {
    width: 55% !important;
  }
  .mo-wd-56 {
    width: 56% !important;
  }
  .mo-wd-57 {
    width: 57% !important;
  }
  .mo-wd-58 {
    width: 58% !important;
  }
  .mo-wd-59 {
    width: 59% !important;
  }
  .mo-wd-60 {
    width: 60% !important;
  }
  .mo-wd-61 {
    width: 61% !important;
  }
  .mo-wd-62 {
    width: 62% !important;
  }
  .mo-wd-63 {
    width: 63% !important;
  }
  .mo-wd-64 {
    width: 64% !important;
  }
  .mo-wd-65 {
    width: 65% !important;
  }
  .mo-wd-66 {
    width: 66% !important;
  }
  .mo-wd-67 {
    width: 67% !important;
  }
  .mo-wd-68 {
    width: 68% !important;
  }
  .mo-wd-69 {
    width: 69% !important;
  }
  .mo-wd-70 {
    width: 70% !important;
  }
  .mo-wd-71 {
    width: 71% !important;
  }
  .mo-wd-72 {
    width: 72% !important;
  }
  .mo-wd-73 {
    width: 73% !important;
  }
  .mo-wd-74 {
    width: 74% !important;
  }
  .mo-wd-75 {
    width: 75% !important;
  }
  .mo-wd-76 {
    width: 76% !important;
  }
  .mo-wd-77 {
    width: 77% !important;
  }
  .mo-wd-78 {
    width: 78% !important;
  }
  .mo-wd-79 {
    width: 79% !important;
  }
  .mo-wd-80 {
    width: 80% !important;
  }
  .mo-wd-81 {
    width: 81% !important;
  }
  .mo-wd-82 {
    width: 82% !important;
  }
  .mo-wd-83 {
    width: 83% !important;
  }
  .mo-wd-84 {
    width: 84% !important;
  }
  .mo-wd-85 {
    width: 85% !important;
  }
  .mo-wd-86 {
    width: 86% !important;
  }
  .mo-wd-87 {
    width: 87% !important;
  }
  .mo-wd-88 {
    width: 88% !important;
  }
  .mo-wd-89 {
    width: 89% !important;
  }
  .mo-wd-90 {
    width: 90% !important;
  }
  .mo-wd-91 {
    width: 91% !important;
  }
  .mo-wd-92 {
    width: 92% !important;
  }
  .mo-wd-93 {
    width: 93% !important;
  }
  .mo-wd-94 {
    width: 94% !important;
  }
  .mo-wd-95 {
    width: 95% !important;
  }
  .mo-wd-96 {
    width: 96% !important;
  }
  .mo-wd-97 {
    width: 97% !important;
  }
  .mo-wd-98 {
    width: 98% !important;
  }
  .mo-wd-99 {
    width: 99% !important;
  }
  .mo-wd-100 {
    width: 100% !important;
  }
}/*# sourceMappingURL=reset.css.map */