@mixin tablet {
    @media (max-width: #{map-get($responsive, tablet)}) {
        @content;
    }
}
@mixin mobile {
    @media (max-width: #{map-get($responsive, mobile)}) {
        @content;
    }
}

%radio-chkbox-ft {
    font-size: 1.6rem;
    color: map-get($color, primary);
    letter-spacing: -0.064rem
}