
$responsive: (
    tablet: 1280px,
    mobile: 768px,
);

$imgSrc: (
    common: '$imgPath + '',
); 

$ftStyle: (
    secondary: 'ONE-Mobile-Title',
);

$color: (
    primary: #222,
    secondary: #444,
    title: #222,
);

$bg: (
    container: #f4f4f4,
);