

$responsive: (
    //desktop: 
    tablet: 1280px,
    mobile: 768px,
);

/*
@mixin desktop {
    @media (max-width: #{desktop}) {
      @content;
    }
}
*/


$imgSrc: (
    /*
    main: '/img/main/',
    common: '/img/common/',
    */
    common: '/img/',
); 

$ftStyle: (
    secondary: 'ONE-Mobile-Title',
);

$color: (
    primary: #222,
    secondary: #444,
    title: #222,
);

$bg: (
    container: #f4f4f4,
);