// start-boardList //
.list {
  width: 100%;
  height: 8rem;
  border-radius: 0.4rem;
  border: solid 0.1rem #e5e5e5;
  background-color: #f9f9f9;
  display: flex;
  margin-bottom: 5rem;
  justify-content: space-between;
  align-items: center;
}

.list .list-left {
  width: 20%;
  margin-left: 4rem;
}

.list .list-left select {
  color: #222;
  border: 0rem;
  border-radius: 0.2rem;
  border: solid 0.1rem #ccc;
  width: 100%;
  max-width: 13rem;
  height: 4.8rem;
  padding: 1rem;
  margin-right: 0.4rem;
  width: 13rem;
}

.list .list-right {
  justify-content: end;
  width: 80%;
  margin-right: 4rem;
  display: flex;
}

.list .list-right select {
  color: #222;
  border: 0rem;
  border-radius: 0.2rem;
  border: solid 0.1rem #ccc;
  width: 100%;
  max-width: 12rem;
  height: 4.8rem;
  padding: 1rem;
  margin-right: 0.4rem;
}

.list .search-box {
  background: #fff;
  display: flex;
  border-radius: 0.2rem;
  border: solid 0.1rem #ccc;
  align-items: center;
  width: 100%;
  max-width: 24rem;
  height: 4.8rem;
}

.list .search-box input {
  width: 100%;
  padding-left: 1rem;
  border: none;
}

.list .search-box input::placeholder {
  color: #ccc;
}

.list button {
  margin-left: 0.4rem;
  cursor: pointer;
  border-radius: 0.2rem;
  background-color: #35f;
  width: 4.8rem;
  height: 4.8rem;
  padding: 1.5rem;
  flex-shrink: 0;
}
.list button img {
  width: 1.8rem;
  height: 1.8rem;
}

.listType-header {
  margin-bottom: 2.4rem;
}

.listType-header .free-main {
  border-top: 0.2rem solid #000;
  width: 100%;
  max-width: 128rem;
}

.listType-header .free-main-title {
  font-size: 1.6rem;
  color: #888;
  font-stretch: normal;
  font-style: normal;

  letter-spacing: -0.064rem;
  text-align: left;
}

.listType-header .free-main-title strong {
  font-weight: bold;

  color: #4766ff;
}

.listType-header .free-main {
  margin-top: 1.6rem;
}

.listType-header .free-main ol li {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid #eee;
}

.listType-header .free-main ol li:nth-child(1) {
  height: 4.8rem;
}

.listType-header .free-main ol li:nth-child(2) {
  background-color: #f0f6fa;
}

.listType-header .free-main ol li:nth-child(3) {
  background-color: #f0f6fa;
}

.listType-header .free-main ol li .left-free {
  width: 71%;
  display: flex;
  margin-left: 2rem;
  align-items: center;
}

.listType-header .free-main ol li .left-free b {
  font-size: 1.5rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.06rem;
  text-align: left;
  color: #1a1a1a;

  width: 10%;
}
.listType-header .free-main ol li .left-free b:nth-child(1) {
  margin-left: 2.5rem;
}

.listType-header .free-main ol li .left-free b:nth-child(2) {
  margin-left: -1.5rem;
}

.listType-header .free-main ol li .left-free b:nth-child(3) {
  margin-left: 2.5rem;
}

.listType-header .free-main ol li .left-free .announ {
  color: #35f;
  width: 12%;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.06rem;
}

.listType-header .free-main ol li .left-free p {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: -0.06rem;
  width: 10%;
  text-align: center;
}

.listType-header .free-main ol li .left-free h4 {
  letter-spacing: -0.072rem;
  line-height: 1.19;
  font-weight: 500;
  font-size: 1.8rem;
  color: #222222;
  width: 60%;
}

.listType-header .free-main ol li .left-free h4 span {
  margin-left: 1rem;
}

.listType-header .free-main ol li .right-free {
  color: #666;
  line-height: 1.6;
  letter-spacing: -0.06rem;
  font-size: 1.5rem;
  width: 29%;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.listType-header .free-main ol li .right-free b {
  font-size: 1.5rem;
  font-weight: 600;

  line-height: 1.6;
  letter-spacing: -0.06rem;
  text-align: left;
  color: #1a1a1a;
}
.listType-header .free-main ol li .right-free b:nth-child(1) {
  margin-left: 1rem;
}
.listType-header .free-main ol li .right-free b:nth-child(2) {
  margin-left: 0.5rem;
}
.listType-header .free-main ol li .right-free b:nth-child(3) {
  margin-left: 0.5rem;
}
.listType-header .free-main ol li .right-free b:nth-child(4) {
  margin-left: 6rem;
}
.listType-header .free-main ol li .right-free button {
  width: 10%;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .listType-header .free-main ol li .left-free {
    display: block;
    width: 100%;
  }
  .listType-header .free-main ol li .left-free .announ {
    margin-left: 0rem;
  }
  .listType-header .free-main ol li {
    padding: 1rem 0;
    display: block;
    height: inherit;
  }
  .listType-header .free-main ol li .right-free {
    justify-content: flex-start;
    width: 100%;
  }

  .listType-header .free-main ol li .right-free p {
    margin-right: 1.5rem;
  }
  .listType-header .free-main ol li .left-free h4 {
    max-width: 128rem;
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .list {
    width: 100%;
    height: 15.2rem;
    display: flex;
    margin-bottom: 2rem;
    justify-content: center;
  }
  .list select {
    border: 0rem;

    width: 30%;
    max-width: 12rem;
    height: 4.8rem;
    padding: 1.5rem;
    margin-right: 1rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
  }
  .listType-header .free-main ol li:nth-child(1) {
    display: none;
  }
  .listType-header .free-main ol li .left-free p {
    display: none;
  }
  .list .list-left {
    display: none;
  }
  .list .list-right {
    max-width: 30rem;
    flex-wrap: wrap;
    justify-content: start;
  }
  .list .search-box {
    margin-top: 1rem;
  }
  .list button {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 465px) {
  .list .list-right {
    width: 100%;
    margin-left: 5%;
    margin-right: 0rem;
  }
  .list .search-box {
    max-width: 20rem;
  }
}

// end-boardList //

// start-boardQnaList //
.listType-header .qna-main {
  border-top: 0.2rem solid #000;
  width: 100%;
  max-width: 128rem;
}

.listType-header .qna-main-title {
  font-size: 1.6rem;
  color: #888;
  font-stretch: normal;
  font-style: normal;

  letter-spacing: -0.064rem;
  text-align: left;
}

.listType-header .qna-main-title strong {
  font-weight: bold;

  color: #4766ff;
}

.listType-header .qna-main {
  margin-top: 1.6rem;
}

.listType-header .qna-main ol li {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid #eee;
}

.listType-header .qna-main ol li:nth-child(1) {
  height: 4.8rem;
}

.listType-header .qna-main ol li .left-qna {
  width: 100%;
  display: flex;
  margin-left: 2rem;
  align-items: center;
  gap: 3%;
}

.listType-header .qna-main ol li .left-qna b {
  font-size: 1.5rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.06rem;
  text-align: left;
  color: #1a1a1a;

  width: 10%;
}
.listType-header .qna-main ol li .left-qna b:nth-child(1) {
  margin-left: 2.2rem;
}

.listType-header .qna-main ol li .left-qna b:nth-child(2) {
  margin-left: -3.2rem;
}

.listType-header .qna-main ol li .left-qna .announ {
  color: #35f;
  width: 12%;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.06rem;
}

.listType-header .qna-main ol li .left-qna p {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: -0.06rem;
  width: 10%;
  text-align: center;
}

.listType-header .qna-main ol li .left-qna h4 {
  letter-spacing: -0.072rem;
  line-height: 1.19;
  font-weight: 500;
  font-size: 1.8rem;
  color: #222222;
  width: 100%;
}

.listType-header .qna-main ol li .left-qna h4 span {
  margin-left: 1rem;
}

.listType-header .qna-main ol li .right-qna {
  color: #666;
  line-height: 1.6;
  letter-spacing: -0.06rem;
  font-size: 1.5rem;
  width: 29%;
  align-items: center;
  display: flex;

  gap: 20%;
}
.listType-header .qna-main ol li .right-qna b {
  font-size: 1.5rem;
  font-weight: 600;

  line-height: 1.6;
  letter-spacing: -0.06rem;
  text-align: left;
  color: #1a1a1a;
}

.listType-header .qna-main ol li .right-qna span {
  color: #222;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.06rem;
  line-height: 1.6;
  width: 7rem;
  height: 3rem;
  padding-left: 0.9rem;
  padding-top: 0.3rem;
  border-radius: 0.4rem;
  border: solid 0.1rem #aaa;
  background-color: #fff;
}

.listType-header .qna-main ol li .right-qna .finsh {
  color: #00a9ff;
  border: solid 0.1rem #00a9ff;
  background-color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.06rem;
  line-height: 1.6;
  width: 7rem;
  height: 3rem;
  padding-left: 0.9rem;
  padding-top: 0.3rem;
  border-radius: 0.4rem;
}

.listType-header .qna-main ol li .right-qna b:nth-child(1) {
  margin-right: 5rem;
}

@media screen and (max-width: 768px) {
  .listType-header .qna-main ol li .left-qna {
    margin-left: 0rem;
    display: block;
    width: 100%;
  }
  .listType-header .qna-main ol li .left-qna .announ {
    margin-left: 0rem;
  }
  .listType-header .qna-main ol li {
    padding: 1rem 0;
    display: block;
    height: inherit;
  }
  .listType-header .qna-main ol li .right-qna {
    justify-content: space-between;
    width: 100%;
  }

  .listType-header .qna-main ol li .right-qna p {
    margin-right: 0rem;
  }
  .listType-header .qna-main ol li .left-qna h4 {
    max-width: 128rem;
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .listType-header .qna-main ol li:nth-child(1) {
    display: none;
  }
  .listType-header .qna-main ol li .left-qna p {
    display: none;
  }
}

// end-boardQnaList //

// start-boardArticleList //

.listType-header .article-main-title {
  font-size: 1.6rem;
  color: #888;
  font-stretch: normal;
  font-style: normal;
  align-items: center;
  letter-spacing: -0.064rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.listType-header .article-main-title .main-title-left {
  width: 70%;
}
.listType-header .article-main-title .main-title-left strong {
  font-weight: bold;

  color: #4766ff;
}

.listType-header .article-main-title .main-title-right {
  width: 30%;
  display: flex;
  justify-content: end;
}

.listType-header .article-main-title .main-title-right select:nth-child(1) {
  height: 4.8rem;
  margin-right: 0.4rem;
  color: #222;
  border: 0rem;
  border-radius: 0.2rem;
  border: solid 0.1rem #ccc;
  width: 100%;
  max-width: 13rem;
  padding: 1rem;
  margin-right: 0.4rem;
}

.listType-header .article-main-title .main-title-right select:nth-child(2) {
  height: 4.8rem;
  margin-right: 0.4rem;
  color: #222;
  border: 0rem;
  border-radius: 0.2rem;
  border: solid 0.1rem #ccc;
  width: 100%;
  max-width: 16rem;
  padding: 1rem;
}

.listType-header .article-main {
  border-top: 0.2rem solid #000;
  width: 100%;
  max-width: 128rem;
  margin-top: 0.8rem;
}

.listType-header .article-main ol li a {
  margin-top: 0.8rem;
  display: flex;
  align-items: center;
}

.listType-header .article-main ol li .article-img {
  font-size: 1.6rem;
  color: #e6e6e6;
  padding-top: 6.2rem;
  padding-left: 6.2rem;
  width: 41.1%;
  max-width: 28.2rem;
  height: 15.8rem;
  border-radius: 0.4rem;
  border: solid 0.1rem #e5e5e5;
  margin-right: 2.5rem;
}

.listType-header .article-main ol li .article-content h1 {
  font-weight: 700;
  font-size: 2rem;
  color: #222;
  letter-spacing: -0.04rem;
  line-height: 1.5;
}

.listType-header .article-main ol li .article-content p {
  size: 1.6rem;
  line-height: 1.6;
  letter-spacing: -0.064rem;
  color: #666;
  margin-top: 1.2rem;
  margin-bottom: 2rem;
}

.listType-header .article-main ol li .article-content span {
  line-height: 1.6;
  font-size: 1.5rem;
  color: #666;
  letter-spacing: -0.06rem;
}

.listType-header .article-main ol hr {
  margin-top: 0.8rem;
  height: 0.1rem;
  background-color: #eee;
}

@media screen and (max-width: 768px) {
  .listType-header .article-main ol li a {
    margin-top: 0.8rem;
    display: block;
    align-items: center;
  }
  .listType-header .article-main ol li .article-img {
    font-size: 2.2rem;
    color: #e6e6e6;
    padding-top: 7.3rem;
    padding-left: 7.3rem;
    width: 100%;
    max-width: 35rem;
    height: 19.6rem;
    border-radius: 0.4rem;
    border: solid 0.1rem #e5e5e5;
    margin-right: 2.5rem;
  }
  .listType-header .article-main ol li .article-content p {
    height: 5rem;

    overflow: hidden;
    text-overflow: ellipsis;
    size: 1.4rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .listType-header .article-main ol li .article-content h1 {
    font-size: 1.8rem;
    margin-top: 1.6rem;
    letter-spacing: -0.036rem;
  }
  .listType-header .article-main ol li:nth-child(-n + 9) a {
    display: none;
  }
  .listType-header .article-main ol hr:nth-child(-n + 10) {
    display: none;
  }
  .listType-header .article-main-title {
    display: block;
  }
  .listType-header .article-main-title .main-title-right {
    width: 100%;
    display: flex;
    justify-content: start;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
  }
}

// end-boardArticleList //

// start-boardinfo //

.list-info {
  width: 100%;
  height: 16rem;
  border-radius: 0.4rem;
  border: solid 0.1rem #e5e5e5;
  background-color: #f9f9f9;
  display: flex;
  margin-bottom: 5rem;
  justify-content: space-between;
  align-items: center;
}

.list-info ol {
  padding-top: 1rem;
  padding-left: 2rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.list-info ol li {
  margin-right: 0.4rem;
}

.list-info ol li button {
  font-family: "ONE-Mobile-Title";
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  cursor: pointer;
  border: solid 0.1rem #ccc;
  color: #444;
  line-height: 1.14;
  letter-spacing: -0.056rem;
  font-size: 1.4rem;
  width: 100%;
  height: 3.2rem;
  margin: 0 0.4rem 1.2rem 0;
  padding: 0.8rem 1.5rem;
  border-radius: 2rem;
  background-color: #fff;
}

.list-info ol li:nth-child(1) button {
  color: #fff;
  line-height: 1.14;
  letter-spacing: -0.056rem;
  font-size: 1.4rem;
  width: 100%;
  height: 3.2rem;
  margin: 0 0.4rem 1.2rem 0;
  padding: 0.8rem 1.5rem;
  border-radius: 2rem;
  background-color: #35f;
}

.listType-header .article-main-title .main-title-info {
  font-family: "ONE-Mobile-Title";
  line-height: 1.5;
  letter-spacing: -0.048rem;
  font-size: 2.4rem;
  color: #222;
}

.listType-header .article-main-title .main-title2-info {
  margin-top: 4rem;
  font-family: "ONE-Mobile-Title";
  line-height: 1.5;
  letter-spacing: -0.048rem;
  font-size: 2.4rem;
  color: #222;
}

.listType-header .article-main .artile-section1 {
  width: 100%;
  display: flex;
}

.listType-header .article-main .artile-section1 .left {
  margin-top: 2.6rem;
  width: 16%;
}
.listType-header .article-main .artile-section1 .left h2 {
  font-family: "ONE-Mobile-Title";
  color: #222;
  font-size: 1.8rem;
  line-height: 1.56;
  letter-spacing: -0.072rem;
}

.listType-header .article-main .artile-section1 .left div {
  width: 4rem;
  height: 0.2rem;
  background-color: #35f;
  margin-top: 0.4rem;
}

.listType-header .article-main .artile-section1 .right {
  margin-top: 2.6rem;
}

.listType-header .article-main .artile-section1 .right p {
  color: #222;
  font-size: 1.8rem;
  line-height: 1.56;
  letter-spacing: -0.072rem;
  font-family: "Pretendard";
}

.listType-header .article-main hr {
  margin-top: 4rem;
  height: 0.1rem;
  background-color: #eee;
}

.listType-header .article-main .section-part {
  width: 100%;
  margin-top: 4rem;
  height: 0.4rem;
  background-color: #eee;
}

.listType-header .article-main .artile-section1 .right .right-content {
  display: flex;
  align-items: center;
  margin-bottom: 2.9rem;
}

.listType-header
  .article-main
  .artile-section1
  .right
  .right-content
  h3::before {
  content: url(../img/check_blue.png);
  margin-right: 0.8rem;
}

.listType-header .article-main .artile-section1 .right .right-content h3 {
  font-family: "ONE-Mobile-Title";
  color: #222;
  font-size: 1.8rem;
  line-height: 1.56;
  letter-spacing: -0.072rem;
  margin-right: 1.2rem;
}

.listType-header
  .article-main
  .artile-section1
  .right
  .right-content
  #width-control {
  width: 68%;
  text-align: left;
}

.listType-header .article-main .artile-section1 .right .right-content p {
  color: #222;
  font-size: 1.8rem;
  line-height: 1.56;
  letter-spacing: -0.072rem;
  font-family: "Pretendard";
  overflow: hidden;
  word-break: break-all;
}
.listType-header .article-main .artile-section1 .right .right-content p a {
  overflow: hidden;
  word-break: break-all;
  font-size: 1.6rem;
  color: #35f;
}

.listType-header
  .article-main
  .artile-section1
  .right
  .right-content2
  h3::before {
  content: url(../img/check_blue.png);
  margin-right: 0.8rem;
}

.listType-header .article-main .artile-section1 .right .right-content2 h3 {
  font-family: "ONE-Mobile-Title";
  color: #222;
  font-size: 1.8rem;
  line-height: 1.56;
  letter-spacing: -0.072rem;
  margin-right: 1.2rem;
}

.listType-header .article-main .artile-section1 .right .right-content2 ul {
  margin-left: 3rem;
}

.listType-header .article-main .artile-section1 .right .right-content2 ul li {
  display: flex;
  font-size: 1.6rem;

  color: #666;
  line-height: 1.5;
  letter-spacing: -0.064rem;
  font-family: "Pretendard";
}

.listType-header
  .article-main
  .artile-section1
  .right
  .right-content2
  ul
  li
  div {
  color: #eee;
  width: 0.1rem;
  height: 1.6rem;
  margin-right: 1rem;
  width: 1%;
}

.listType-header
  .article-main
  .artile-section1
  .right
  .right-content2
  ul
  li
  span {
  width: 5rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #222;
  line-height: 1.5;
  letter-spacing: -0.064rem;
  font-family: "Pretendard";
}

.listType-header .article-main .artile-section1 .right .sign {
  margin-left: 7.5rem;
  margin-top: -3rem;
  font-size: 1.6rem;
  color: #666;
  line-height: 1.5;
  letter-spacing: -0.064rem;
}
