// board_list //
.list {
  width: 100%;
  height: 8rem;
  border-radius: 0.4rem;
  border: solid 0.1rem #e5e5e5;
  background-color: #f9f9f9;
  display: flex;
  margin-bottom: 5rem;
  justify-content: space-between;
  align-items: center;
}

.list .list-left {
  width: 20%;
  margin-left: 4rem;
}

.list .list-left select {
  width: 13rem;
}

.list .list-right {
  justify-content: end;
  width: 80%;
  margin-right: 4rem;
  display: flex;
}

.list .list-right select {
  border: 0rem;
  border-radius: 0.2rem;
  border: solid 0.1rem #ccc;
  width: 100%;
  max-width: 12rem;
  height: 4.8rem;
  padding: 1rem;
  margin-right: 0.4rem;
}

.list .search-box {
  background: #fff;
  display: flex;
  border-radius: 0.2rem;
  border: solid 0.1rem #ccc;
  align-items: center;
  width: 100%;
  max-width: 24rem;
  height: 4.8rem;
}

.list .search-box input {
  width: 100%;
  padding-left: 1rem;
  border: none;
}

.list .search-box input::placeholder {
  color: #ccc;
}

.list button {
  margin-left: 0.4rem;
  cursor: pointer;
  border-radius: 0.2rem;
  background-color: #35f;
  width: 4.8rem;
  height: 4.8rem;

  flex-shrink: 0;
}
.list button img {
  width: 1.8rem;
  height: 1.8rem;
}
.listType-header .free-main {
  border-top: 0.3rem solid #000;
  width: 100%;
  max-width: 128rem;
}

.listType-header .free-main-title {
  // font-size: 1.6rem;
  // color: #888;
  // font-stretch: normal;
  // font-style: normal;

  // letter-spacing: -0.064rem;
  // text-align: left;
}

.listType-header .free-main-title strong {
  // font-weight: bold;

  // color: #4766ff;
}

.listType-header .free-main {
  margin-top: 1.6rem;
}

.listType-header .free-main ol li {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid #eee;
}

.listType-header .free-main ol li:nth-child(1) {
  height: 4.8rem;
}

.listType-header .free-main ol li:nth-child(2) {
  background-color: #f0f6fa;
}

.listType-header .free-main ol li:nth-child(3) {
  background-color: #f0f6fa;
}

.listType-header .free-main ol li .left-free {
  width: 71%;
  display: flex;
  margin-left: 2rem;
  align-items: center;
}

.listType-header .free-main ol li .left-free b {
  // font-size: 1.5rem;
  // font-weight: 600;
  // font-stretch: normal;
  // font-style: normal;
  // line-height: 1.2;
  // letter-spacing: -0.06rem;
  // text-align: left;
  // color: #1a1a1a;

  width: 10%;
}
.listType-header .free-main ol li .left-free b:nth-child(1) {
  margin-left: 2.5rem;
}

.listType-header .free-main ol li .left-free b:nth-child(2) {
  margin-left: -1.5rem;
}

.listType-header .free-main ol li .left-free b:nth-child(3) {
  margin-left: 2.5rem;
}

.listType-header .free-main ol li .left-free .announ {
  // color: #0c4fff;
  width: 12%;
  margin-left: 1rem;
  margin-right: 1rem;
  // font-size: 1.5rem;
  // font-weight: 500;
}

.listType-header .free-main ol li .left-free p {
  width: 10%;
  text-align: center;
}

.listType-header .free-main ol li .left-free h4 {
  // line-height: 1.19;
  // font-weight: normal;
  // font-size: 1.8rem;
  // color: #222222;
  width: 60%;
}

.listType-header .free-main ol li .left-free h4 span {
  margin-left: 1rem;
}

.listType-header .free-main ol li .right-free {
  // font-size: 1.5rem;
  width: 29%;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.listType-header .free-main ol li .right-free b {
  // font-size: 1.5rem;
  // font-weight: 600;
  // font-stretch: normal;
  // font-style: normal;
  // line-height: 1.2;
  // letter-spacing: -0.06rem;
  // text-align: left;
  // color: #1a1a1a;
}
.listType-header .free-main ol li .right-free b:nth-child(1) {
  margin-left: 1rem;
}
.listType-header .free-main ol li .right-free b:nth-child(2) {
  margin-left: 0.5rem;
}
.listType-header .free-main ol li .right-free b:nth-child(3) {
  margin-left: 0.5rem;
}
.listType-header .free-main ol li .right-free b:nth-child(4) {
  margin-left: 6rem;
}
.listType-header .free-main ol li .right-free button {
  width: 10%;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .listType-header .free-main ol li .left-free {
    display: block;
    width: 100%;
  }
  .listType-header .free-main ol li .left-free .announ {
    margin-left: 0rem;
  }
  .listType-header .free-main ol li {
    padding: 1rem 0;
    display: block;
    height: inherit;
  }
  .listType-header .free-main ol li .right-free {
    justify-content: flex-start;
    width: 100%;
  }

  .listType-header .free-main ol li .right-free p {
    margin-right: 1.5rem;
  }
  .listType-header .free-main ol li .left-free h4 {
    max-width: 128rem;
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .list {
    width: 100%;
    height: 15.2rem;
    display: flex;
    margin-bottom: 2rem;
    justify-content: center;
  }
  .list select {
    border: 0rem;

    width: 30%;
    max-width: 12rem;
    height: 4.8rem;
    padding: 1.5rem;
    margin-right: 1rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
  }
  .listType-header .free-main ol li:nth-child(1) {
    display: none;
  }
  .listType-header .free-main ol li .left-free p {
    display: none;
  }
  .list .list-left {
    display: none;
  }
  .list .list-right {
    max-width: 30rem;
    flex-wrap: wrap;
    justify-content: start;
  }
  .list .search-box {
    margin-top: 1rem;
  }
  .list button {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 465px) {
  .list .list-right {
    width: 100%;
    margin-left: 5%;
    margin-right: 0rem;
  }
  .list .search-box {
    max-width: 20rem;
  }
}
