/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


// 푸터 여백 없애는 용도
.container-bottom2 {
  padding: 4rem 0 0;
}
.contents2 {
  margin: 0 auto;
  background: #fff;
  max-width: 128rem;
  width: 100%;
  border-radius: 1.6rem;
  padding: 4.3rem 4rem 8rem;
  margin-bottom: 8rem;
}
// start-boardList //
.list {
  width: 100%;
  height: 8rem;
  border-radius: 0.4rem;
  border: solid 0.1rem #e5e5e5;
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list .list-left {
  width: 20%;
  margin-left: 4rem;
}

.list .list-left .select {
  color: #222;

  width: 100%;
  max-width: 13rem;
  margin-right: 0.4rem;
  width: 13rem;
}

.list .list-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 80%;
  margin-right: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list .list-right .select {
  color: #222;

  width: 100%;
  max-width: 12rem;
  margin-right: 0.4rem;
}

.list .search-box {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.2rem;
  border: solid 0.1rem #ccc;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 24rem;
  height: 4.8rem;
}

.list .search-box input {
  width: 100%;
  padding-left: 1rem;
  border: none;
}

.list .search-box input::-webkit-input-placeholder {
  color: #ccc;
}

.list .search-box input::-moz-placeholder {
  color: #ccc;
}

.list .search-box input:-ms-input-placeholder {
  color: #ccc;
}

.list .search-box input::-ms-input-placeholder {
  color: #ccc;
}

.list .search-box input::placeholder {
  color: #ccc;
}

.list button {
  margin-left: 0.4rem;
  cursor: pointer;
  border-radius: 0.2rem;
  background-color: #35f;
  width: 4.8rem;
  height: 4.8rem;
  padding: 1.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.list button img {
  width: 1.8rem;
  height: 1.8rem;
}

.listType-header {
  margin-bottom: 2.4rem;
}

.listType-header .free-main {
  border-top: 0.2rem solid #000;
  width: 100%;
  max-width: 128rem;
}

.listType-header .free-main-title {
  font-size: 1.6rem;
  color: #888;
  font-stretch: normal;
  font-style: normal;

  letter-spacing: -0.064rem;
  text-align: left;
}

.listType-header .free-main-title strong {
  font-weight: bold;

  color: #4766ff;
}

.listType-header .free-main {
  margin-top: 1.6rem;
}

.listType-header .free-main ol li {
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.1rem solid #eee;
}

.listType-header .free-main ol li:nth-child(1) {
  height: 4.8rem;
}

.listType-header .free-main ol li:nth-child(2) {
  background-color: #f0f6fa;
}

.listType-header .free-main ol li:nth-child(3) {
  background-color: #f0f6fa;
}

.listType-header .free-main ol li .left-free {
  width: 71%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.listType-header .free-main ol li .left-free b {
  font-size: 1.5rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.06rem;
  text-align: left;
  color: #1a1a1a;

  width: 10%;
}
.listType-header .free-main ol li .left-free b:nth-child(1) {
  margin-left: 2.5rem;
}

.listType-header .free-main ol li .left-free b:nth-child(2) {
  margin-left: -1.5rem;
}

.listType-header .free-main ol li .left-free b:nth-child(3) {
  margin-left: 2.5rem;
}

.listType-header .free-main ol li .left-free .announ {
  color: #35f;
  width: 12%;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.06rem;
}

.listType-header .free-main ol li .left-free p {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: -0.06rem;
  width: 10%;
  text-align: center;
}

.listType-header .free-main ol li .left-free h4 {
  letter-spacing: -0.072rem;
  line-height: 1.19;
  font-weight: 500;
  font-size: 1.8rem;
  color: #222222;
  width: 60%;
}

.listType-header .free-main ol li .left-free h4 span {
  margin-left: 1rem;
}

.listType-header .free-main ol li .right-free {
  color: #666;
  line-height: 1.6;
  letter-spacing: -0.06rem;
  font-size: 1.5rem;
  width: 29%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.listType-header .free-main ol li .right-free b {
  font-size: 1.5rem;
  font-weight: 600;

  line-height: 1.6;
  letter-spacing: -0.06rem;
  text-align: left;
  color: #1a1a1a;
}
.listType-header .free-main ol li .right-free b:nth-child(1) {
  margin-left: 1rem;
}
.listType-header .free-main ol li .right-free b:nth-child(2) {
  margin-left: 0.5rem;
}
.listType-header .free-main ol li .right-free b:nth-child(3) {
  margin-left: 0.5rem;
}
.listType-header .free-main ol li .right-free b:nth-child(4) {
  margin-left: 6rem;
}

.listType-header .free-main ol li .right-free .file-img2 {
  width: 10%;
  cursor: pointer;
  padding-top: 0.5rem;
}

.listType-header .free-main ol li .right-free .file-img {
  width: 10%;

  padding-top: 0.5rem;
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .listType-header .free-main ol li .right-free .file-img2 img {
    margin-right: 1.2rem;
    padding-top: 0.1rem;
  }
  .listType-header .free-main ol li .right-free .file-img {
    width: 10%;
    cursor: pointer;
    padding-top: 0.5rem;
    opacity: 0;
    margin-left: -2.6rem;
  }
  .listType-header .free-main ol li .right-free .file-img2 {
    width: 10%;
    cursor: pointer;
    padding-top: 0.5rem;
  }
  .listType-header .free-main ol li .left-free {
    display: block;
    width: 100%;
  }
  .listType-header .free-main ol li .left-free .announ {
    margin-left: 0rem;
  }
  .listType-header .free-main ol li {
    padding: 1rem 0;
    display: block;
    height: inherit;
  }
  .listType-header .free-main ol li .right-free {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: 25rem;
    margin-left: 2rem;
  }

  .listType-header .free-main ol li .right-free p {
    margin-right: 1.5rem;
  }
  .listType-header .free-main ol li .left-free h4 {
    max-width: 128rem;
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .list {
    width: 100%;
    height: 15.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .list .list-right .select {
    width: 38.5%;
    max-width: 12rem;
    height: 4.8rem;
    margin-right: 0.5rem;
  }
  .listType-header .free-main ol li:nth-child(1) {
    display: none;
  }
  .listType-header .free-main ol li .left-free p {
    display: none;
  }
  .list .list-left {
    display: none;
  }
  .list .list-right {
    max-width: 30rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .list .search-box {
    margin-top: 1rem;
  }
  .list button {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 465px) {
  .list .list-right {
    width: 100%;
    margin-left: 5%;
    margin-right: 0rem;
  }
  .list .search-box {
    max-width: 20rem;
  }
}

// end-boardList //

// start-boardQnaList //
.listType-header .qna-main {
  border-top: 0.2rem solid #000;
  width: 100%;
  max-width: 128rem;
}

.listType-header .qna-list-btn {
  width: 100%;
}

.listType-header .qna-list-btn button {
  margin: 0 auto;
  cursor: pointer;
  width: 9.4rem;
  height: 4.8rem;
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: -0.064rem;
  border-radius: 0.2rem;
  background-color: #18297a;
  display: none;
}

.listType-header .qna-main-title {
  font-size: 1.6rem;
  color: #888;
  font-stretch: normal;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.064rem;
  text-align: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.listType-header .qna-main-title button {
  cursor: pointer;
  width: 9.4rem;
  height: 4.8rem;
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: -0.064rem;
  border-radius: 0.2rem;
  background-color: #18297a;
}

.listType-header .qna-main-title strong {
  font-weight: bold;
  margin-right: 0.4rem;
  color: #4766ff;
}

.listType-header .qna-main {
  margin-top: 1.6rem;
}

.listType-header .qna-main ol li {
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.1rem solid #eee;
}

.listType-header .qna-main ol li:nth-child(1) {
  height: 4.8rem;
}

.listType-header .qna-main ol li .left-qna {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3%;
}

.listType-header .qna-main ol li .left-qna b {
  font-size: 1.5rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.06rem;
  text-align: left;
  color: #1a1a1a;

  width: 10%;
}
.listType-header .qna-main ol li .left-qna b:nth-child(1) {
  margin-left: 2.2rem;
}

.listType-header .qna-main ol li .left-qna b:nth-child(2) {
  margin-left: -3.2rem;
}

.listType-header .qna-main ol li .left-qna .announ {
  color: #35f;
  width: 12%;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.06rem;
}

.listType-header .qna-main ol li .left-qna p {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: -0.06rem;
  width: 10%;
  text-align: center;
}

.listType-header .qna-main ol li .left-qna h4 {
  letter-spacing: -0.072rem;
  line-height: 1.19;
  font-weight: 500;
  font-size: 1.8rem;
  color: #222222;
  width: 100%;
}

.listType-header .qna-main ol li .left-qna h4 span {
  margin-left: 1rem;
}

.listType-header .qna-main ol li .right-qna {
  color: #666;
  line-height: 1.6;
  letter-spacing: -0.06rem;
  font-size: 1.5rem;
  width: 29%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  gap: 20%;
}
.listType-header .qna-main ol li .right-qna b {
  font-size: 1.5rem;
  font-weight: 600;

  line-height: 1.6;
  letter-spacing: -0.06rem;
  text-align: left;
  color: #1a1a1a;
}

.listType-header .qna-main ol li .right-qna span {
  color: #222;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.06rem;
  line-height: 1.6;
  width: 7rem;
  height: 3rem;
  padding-left: 0.9rem;
  padding-top: 0.3rem;
  border-radius: 0.4rem;
  border: solid 0.1rem #aaa;
  background-color: #fff;
}

.listType-header .qna-main ol li .right-qna .finsh {
  color: #00a9ff;
  border: solid 0.1rem #00a9ff;
  background-color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.06rem;
  line-height: 1.6;
  width: 7rem;
  height: 3rem;
  padding-left: 0.9rem;
  padding-top: 0.3rem;
  border-radius: 0.4rem;
}

.listType-header .qna-main ol li .right-qna b:nth-child(1) {
  margin-right: 5rem;
}

@media screen and (max-width: 768px) {
  .listType-header .qna-list-btn button {
    margin-top: 0.4rem;
    margin-bottom: 4rem;
    text-align: center;
    display: block;
  }
  .listType-header .qna-main-title button {
    display: none;
  }
  .listType-header .qna-main ol li .left-qna {
    margin-left: 0rem;
    display: block;
    width: 100%;
  }
  .listType-header .qna-main ol li .left-qna .announ {
    margin-left: 0rem;
  }
  .listType-header .qna-main ol li {
    padding: 1rem 0;
    display: block;
    height: inherit;
  }
  .listType-header .qna-main ol li .right-qna {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }

  .listType-header .qna-main ol li .right-qna p {
    margin-right: 0rem;
  }
  .listType-header .qna-main ol li .left-qna h4 {
    max-width: 128rem;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
  }
  .listType-header .qna-main ol li:nth-child(1) {
    display: none;
  }
  .listType-header .qna-main ol li .left-qna p {
    display: none;
  }
}

// end-boardQnaList //

// start-boardArticleList //

.listType-header .article-main-title {
  font-size: 1.6rem;
  color: #888;
  font-stretch: normal;
  font-style: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.064rem;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.listType-header .article-main-title .main-title-left {
  width: 70%;
}
.listType-header .article-main-title .main-title-left strong {
  font-weight: bold;

  color: #4766ff;
}

.listType-header .article-main-title .main-title-right {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.listType-header .article-main-title .main-title-right .select:nth-child(1) {
  height: 4.8rem;
  margin-right: 0.4rem;
  color: #222;

  width: 13rem;

  margin-right: 0.4rem;
}

.listType-header .article-main-title .main-title-right .select:nth-child(2) {
  height: 4.8rem;
  margin-right: 0.4rem;
  color: #222;

  width: 16rem;
}

.listType-header .article-main {
  border-top: 0.2rem solid #000;
  width: 100%;
  max-width: 128rem;
  margin-top: 0.8rem;
}


.listType-header .article-main ol li {
  padding-bottom: 0.8rem;
  border-bottom: 1px solid #eee;
}

.listType-header .article-main ol li a {
  margin-top: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.listType-header .article-main ol li .article-img {
  width: 28.2rem;
  border-radius: 0.4rem;
  border: solid 0.1rem #e5e5e5;
  margin-right: 2.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;

  img {
    width: 100%;
    display: block;
    aspect-ratio: 16/9;
  }
}

.listType-header .article-main ol li .article-content h1 {
  font-weight: 700;
  font-size: 2rem;
  color: #222;
  letter-spacing: -0.04rem;
  line-height: 1.5;
}

.listType-header .article-main ol li .article-content p {
  size: 1.6rem;
  line-height: 1.6;
  letter-spacing: -0.064rem;
  color: #666;
  margin: 1.2rem 0 2rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.listType-header .article-main ol li .article-content span {
  line-height: 1.6;
  font-size: 1.5rem;
  color: #666;
  letter-spacing: -0.06rem;
}

@media screen and (max-width: 768px) {
  .listType-header .article-main ol li {
    padding-bottom: 1.2rem;

    &:nth-child(n+6) {
      display: none;
    }
  }
  .listType-header .article-main ol li a {
    margin-top: 0.8rem;
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .listType-header .article-main ol li .article-img {
    width: 100%;
    border-radius: 0.4rem;
    border: solid 0.1rem #e5e5e5;
    margin-right: 2.5rem;
  }
  .listType-header .article-main ol li .article-content {
    padding: 0 1rem;
  }
  .listType-header .article-main ol li .article-content p {
    height: 5rem;
    size: 1.4rem;
  }
  .listType-header .article-main ol li .article-content h1 {
    font-size: 1.8rem;
    margin-top: 1.6rem;
    letter-spacing: -0.036rem;
  }
  .listType-header .article-main ol li .article-content span {
    font-size: 1.3rem;
  }
  .listType-header .article-main-title {
    display: block;
  }
  .listType-header .article-main-title .main-title-right {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
  }
}

// end-boardArticleList //

// start-boardinfo //

.list-info {
  width: 100%;
  height: auto;
  border-radius: 0.4rem;
  border: solid 0.1rem #e5e5e5;
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: none;
  margin-bottom: 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

}

.list-info ol {
  padding-top: 1rem;
  padding-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.list-info ol li {
  margin-right: 0.4rem;
}

.list-info ol li button {
  font-family: "ONE-Mobile-Title";
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  cursor: pointer;
  border: solid 0.1rem #ccc;
  color: #444;
  line-height: 1.14;
  letter-spacing: -0.056rem;
  font-size: 1.4rem;
  width: 100%;
  height: 3.2rem;
  margin: 0 0.4rem 1.2rem 0;
  padding: 0.8rem 1.5rem;
  border-radius: 2rem;
  background-color: #fff;
}

.list-info ol li:nth-child(10) button {
  display: none;
}

.list-info ol li:nth-child(17) button {
  display: none;
}

.list-info ol li .blue-btn {
  color: #fff;
  background-color: #35f;
}

.listType-header .article-main-title .main-title-info {
  font-family: "ONE-Mobile-Title";
  line-height: 1.5;
  letter-spacing: -0.048rem;
  font-size: 2.4rem;
  color: #222;
}

.listType-header .article-main-title .main-title2-info {
  margin-top: 4rem;
  font-family: "ONE-Mobile-Title";
  line-height: 1.5;
  letter-spacing: -0.048rem;
  font-size: 2.4rem;
  color: #222;
}

.listType-header .article-main-title .main-title3-info {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.listType-header .article-main-title .main-title3-info p {
  font-family: "ONE-Mobile-Title";
  line-height: 1.5;
  letter-spacing: -0.048rem;
  font-size: 2.4rem;
  color: #222;
}

.listType-header .article-main .artile-section1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.listType-header .article-main .artile-section1 .left {
  margin-top: 2.6rem;
  width: 20%;
}
.listType-header .article-main .artile-section1 .left h2 {
  font-family: "ONE-Mobile-Title";
  color: #222;
  font-size: 1.8rem;
  line-height: 1.56;
  letter-spacing: -0.072rem;
}

.listType-header .article-main .artile-section1 .left div {
  width: 4rem;
  height: 0.2rem;
  background-color: #35f;
  margin-top: 0.4rem;
}

.listType-header .article-main .artile-section1 .right {
  width: 100%;
  margin-top: 2.6rem;

  &.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    .right-content {
      margin-bottom: 0;
    }

    a {
      line-height: 1.57;
      overflow: hidden;
      word-break: break-all;
      font-size: 1.6rem;
      color: #35f;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }
}

.listType-header .article-main .artile-section1 .right p {
  color: #222;
  font-size: 1.8rem;
  line-height: 1.56;
  letter-spacing: -0.072rem;
  font-family: "Pretendard";
}

.listType-header .article-main hr {
  margin-top: 4rem;
  height: 0.1rem;
  background-color: #eee;
}

.listType-header .article-main .section-part {
  width: 100%;
  margin-top: 4rem;
  height: 0.4rem;
  background-color: #eee;
}

.listType-header .article-main .artile-section1 .right .right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 2.9rem;

  &.flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;

    ul {
      margin-top: 1.2rem;
    }

    li {
      padding-left: 2.8rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 1.6rem;
      letter-spacing: -0.064rem;
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }

      span {
        color: #222;
        font-weight: 600;
        min-width: 5.6rem;
      }
      div {
        width: 0.1rem;
        height: 1.6rem;
        background: #eee;
        margin: 0.2rem 0.8rem 0 0;
      }
      p {
        font-size: 1.6rem;
        letter-spacing: -0.064rem;
        color: #666;
      }
    }
  }
}

.listType-header
  .article-main
  .artile-section1
  .right
  .right-content
  h3::before {
  content: '';
  width: 2rem;
  height: 1.6rem;
  background: url($imgPath + 'check_blue.png');
  position: absolute;
  left: 0;
  top: 0.5rem;
}

.listType-header .article-main .artile-section1 .right .right-content h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "ONE-Mobile-Title";
  color: #222;
  font-size: 1.8rem;
  line-height: 1.56;
  letter-spacing: -0.072rem;
  margin-right: 1.2rem;
  padding-left: 2.8rem;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;

  &.none {
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
}

.listType-header .article-main .artile-section1 .right .right-content p {
  color: #222;
  font-size: 1.8rem;
  line-height: 1.56;
  letter-spacing: -0.072rem;
  font-family: "Pretendard";
}

.listType-header
  .article-main
  .artile-section1
  .right
  .right-content2
  h3::before {
  content: url($imgPath + 'check_blue.png');
  margin-right: 0.8rem;
}

.listType-header .article-main .artile-section1 .right .right-content2 h3 {
  font-family: "ONE-Mobile-Title";
  color: #222;
  font-size: 1.8rem;
  line-height: 1.56;
  letter-spacing: -0.072rem;
  margin-right: 1.2rem;
}

.listType-header .article-main .artile-section1 .right .right-content3 {
  margin-bottom: 2.9rem;
}

.listType-header
  .article-main
  .artile-section1
  .right
  .right-content3
  .content3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.listType-header
  .article-main
  .artile-section1
  .right
  .right-content3:nth-child(1)
  .content3
  img {
  margin-top: -3.5rem;
  margin-right: 0.8rem;
}

.listType-header
  .article-main
  .artile-section1
  .right
  .right-content3:nth-child(2)
  .content3
  img {
  margin-top: -0.5rem;
  margin-right: 0.8rem;
}

.listType-header
  .article-main
  .artile-section1
  .right
  .right-content3
  .content3
  h3 {
  font-family: "ONE-Mobile-Title";
  color: #222;
  font-size: 1.8rem;
  line-height: 1.56;
  letter-spacing: -0.072rem;
  margin-right: 1.2rem;
}

.listType-header .article-main .artile-section1 .right .right-content2 ul {
  margin-left: 3rem;
  margin-top: 1.6rem;
}

.listType-header .article-main .artile-section1 .right .right-content2 ul li {
  margin-bottom: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.listType-header .article-main .artile-section1 .right .right-content2 ul li p {
  margin-left: 0rem;
  font-size: 1.6rem;
  width: 100%;
  color: #666;
  line-height: 1.5;
  letter-spacing: -0.064rem;
  font-family: "Pretendard";
}

.listType-header
  .article-main
  .artile-section1
  .right
  .right-content2
  ul
  li
  div {
  color: #eee;
  width: 0.1rem;
  height: 1.6rem;
  margin-right: 1rem;
  width: 1%;
}

.listType-header
  .article-main
  .artile-section1
  .right
  .right-content2
  ul
  li
  span {
  width: 5rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #222;
  line-height: 1.5;
  letter-spacing: -0.064rem;
  font-family: "Pretendard";
}

.listType-header .article-main .artile-section1 .right .sign {
  margin-left: 7.5rem;
  margin-top: -3rem;
  font-size: 1.6rem;
  color: #666;
  line-height: 1.5;
  letter-spacing: -0.064rem;
}

@media screen and (max-width: 768px) {
  .listType-header .article-main-title .main-title3-info {
    display: block;
  }
  .listType-header .article-main .section-part {
    height: 0.8rem;
  }
  .listType-header .article-main .artile-section1 .right {
    margin-top: 1.6rem;
    .right-content {
      &.flex-column {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    
        li {
          font-size: 1.5rem;
          span {
            min-width: 5.2rem;
          }
          div {
            margin-right: 1rem;
          }
          p {
            margin-left: 0;
            font-size: 1.5rem;
          }
        }
      }

      a {
        padding-left: 2.8rem;
        font-size: 1.4rem;
      }
    }
  }

  .listType-header .article-main .artile-section1 .right .right-content h3 {
    margin-bottom: 1.2rem;
    font-size: 1.6rem;
  }

  .listType-header .article-main .artile-section1 .right p {
    margin-left: 2.8rem;
    font-size: 1.6rem;

    &.none {
      margin: 0;
    }
  }
  .listType-header .article-main .artile-section1 .right .right-content p {
    font-size: 1.6rem;
  }
  .listType-header
    .article-main
    .artile-section1
    .right
    .right-content2
    ul
    li
    p {
    font-size: 1.5rem;
  }

  .list-info {
    padding: 2.4rem 1.1rem;
    ol {
      padding: 0;
      li {
        button {
          padding: 0 0.9rem;
          line-height: 3.2rem;
          margin: 0 0 0.8rem 0;
          font-size: 1.3rem;
        }
      }
      .none {
        display: none;
      }
    }
  }
  .listType-header .article-main .artile-section1 {
    display: block;
  }
  .listType-header .article-main .artile-section1 .left {
    width: 100%;
  }
  .listType-header .article-main .artile-section1 .right .right-content {
    display: block;
  }
  .listType-header .article-main .artile-section1 .right .sign {
    margin-left: 2.8rem;
  }
  .listType-header
    .article-main
    .artile-section1
    .right
    .right-content2
    ul
    li
    span {
    font-size: 1.5rem;
    width: 6rem;
  }
  .mob-blind {
    display: none;
  }
}
// end-boardinfo //

// start-boardDetail //

.icon-box-btn {
  margin-right: 1.6rem;
  cursor: pointer;
}

.listType-header .detail-main-title {
  border-top: 2px solid #2a2a2a;
}

.listType-header .detail-main-title .main-title-detail {
  padding: 2.2rem 2.4rem;
  font-family: "Pretendard";
  line-height: 1.5;
  letter-spacing: -0.048rem;
  font-size: 2.4rem;
  color: #222;
  font-weight: 500;
  border-bottom: 1px solid #eee;
}
.listType-header .detail-main-title .main-title-detail span {
  margin-top: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.026rem;
  font-size: 1.5rem;
  color: #666;
}
.listType-header .detail-main-title .main-title-detail strong {
  font-size: 1.6rem;
  font-weight: 500;
  color: #35f;
  margin-right: 1.2rem;
}

.listType-header .detail-main-title .detail-container {
  padding: 4rem 2.4rem;
  width: 100%;
}

.listType-header .detail-main-title .detail-container .detail-content p {
  word-break: break-all;
  margin-bottom: 3.2rem;
  line-height: 1.88;
  letter-spacing: -0.032rem;
  font-size: 1.6rem;
  color: #444;
  max-width: 79.4rem;

  &:last-child {
    margin-bottom: 8rem;
  }
}

.listType-header .detail-main-title .detail-container .detail-content img {
  width: 100%;
  max-width: 96rem;
  display: block;
  aspect-ratio: 16/9;
  background: #888;
  margin-bottom: 4rem;

  &.wide {
    aspect-ratio: unset;
    max-width: 115.2rem;
  }
}

.listType-header .detail-main-title .detail-container .detail-file {
  border-radius: 0.4rem;
  border: solid 0.2rem #e5e5e5;
  background-color: #f9f9f9;
  width: 100%;
  height: 11.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.6rem 4rem;
}

.listType-header .detail-main-title .detail-container .detail-file h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #222;
  line-height: 1.2;
  letter-spacing: -0.06rem;
}

.listType-header .detail-main-title .detail-container .detail-file span {
  width: 0.1rem;
  height: 100%;
  background-color: #e5e5e5;
}

.listType-header .detail-main-title .detail-container .detail-file .mob-line {
  display: none;
}

.listType-header .detail-main-title .detail-container .detail-file ul li {
  line-height: 1.2;
  letter-spacing: -0.06rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  position: relative;
  padding-left: 1.6rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.listType-header
  .detail-main-title
  .detail-container
  .detail-file
  ul
  li::before {
    content: '';
    width: 1.6rem;
    height: 1.6rem;
    background: url($imgPath + 'file.png');
    position: absolute;
    left: -0.8rem;
    top: 0;
}

.listType-header .detail-main-title .be-af .before a img {
  margin-left: 1rem;
}

.listType-header .detail-main-title .be-af .before a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6.4rem;
  width: 100%;
  gap: 1%;
  border-top: 0.1rem solid #eee;
  border-bottom: 0.1rem solid #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.listType-header .detail-main-title .be-af .before a h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #aaa;
  line-height: 1.2;
  letter-spacing: -0.06rem;
  width: 5rem;
  margin-left: 0.6rem;
}

.listType-header .detail-main-title .be-af .before a p {
  width: 450px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  size: 1.4rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 1.8rem;
  color: #222;
  letter-spacing: -0.072rem;
  line-height: 1.19;
  font-weight: 500;
}

.listType-header .detail-main-title .be-af .after a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6.4rem;
  height: 6.4rem;
  width: 100%;
  gap: 1%;
  border-bottom: 0.1rem solid #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.listType-header .detail-main-title .be-af .after a p {
  width: 450px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  size: 1.4rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 1.8rem;
  color: #222;
  letter-spacing: -0.072rem;
  line-height: 1.19;
  font-weight: 500;
}
.listType-header .detail-main-title .be-af .after a img {
  margin-left: 1rem;
}

.listType-header .detail-main-title .be-af .after a h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #aaa;
  line-height: 1.2;
  letter-spacing: -0.06rem;
  width: 5rem;
  margin-left: 0.6rem;
}

.listType-header .detail-main-title .go-list {
  width: 100%;
  text-align: center;
  margin-top: 2.4rem;
}
.listType-header .detail-main-title .go-list button {
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  width: 9.4rem;
  height: 4.8rem;
  color: #fff;
  border-radius: 2px;
  background-color: #18297a;
  letter-spacing: -0.06rem;
}

@media screen and (max-width: 768px) {

  .listType-header .detail-main-title .detail-container {
    padding: 4rem 0;
  }
  .listType-header .detail-main-title .detail-container .detail-file {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 1.6rem 2rem;

    ul {
      padding-left: 1rem;
    }
  }
  .listType-header .detail-main-title .detail-container .detail-file span {
    display: none;
  }
  .listType-header .detail-main-title .detail-container .detail-file .mob-line {
    display: block;
    width: 100%;
    height: 0.1rem;
    margin: 1rem 0 1.6rem;
  }

  .listType-header .detail-main-title .main-title-detail {
    padding: 1.8rem 1rem 2rem;
    letter-spacing: -0.09rem;
    font-size: 2rem;
  }
  .listType-header .detail-main-title .main-title-detail p {
    margin-top: 1.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: -0.026rem;
    font-size: 1.3rem;
    color: #666;
  }
  .listType-header .detail-main-title .main-title-detail strong {
    font-size: 1.4rem;
    font-weight: 500;
    color: #35f;
    margin-right: 1.2rem;
  }
}
@media screen and (max-width: 499px) {
  .listType-header .detail-main-title .be-af .before a h3 {
    width: 9rem;
  }
  .listType-header .detail-main-title .be-af .after a h3 {
    width: 9rem;
  }
}
// end-boardDetail //

// start-boardArticleDetail //

.listType-header .detail-main-title .detail-container .Article-detail-img {
  position: relative;
  width: 100%;
  max-width: 96rem;
  height: 54rem;
  background-color: #888;
}

.listType-header .detail-main-title .detail-container .Article-detail-img p {
  color: #fff;
  position: absolute;
  top: 45%;
  left: 42%;
  opacity: 0.4;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .listType-header .detail-main-title .detail-container .Article-detail-img {
    position: relative;
    width: 100%;
    max-width: 96rem;
    height: 19.6rem;
    background-color: #888;
  }

  .contents2 {
    padding: 3.9rem 2rem 0 !important;
  }
}

// end-boardArticleDetail //

// start-boardQnaDetail //

.listType-header .detail-main-title .qna-before {
  width: 100%;
  border-bottom: 1px solid #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.listType-header .detail-main-title .detail-container .detail-content-qna p {
  word-break: break-all;
  margin-bottom: 2.5rem;
  line-height: 1.88;
  letter-spacing: -0.032rem;
  font-size: 1.6rem;
  color: #444;
}

.listType-header .detail-main-title .qna-before img {
  margin-top: -2.5rem;
  margin-right: -1rem;
  margin-left: 2.4rem;
}

.listType-header .detail-main-title .main-title-qnadetail .finsh {
  color: #00a9ff;
  border: solid 0.1rem #00a9ff;
  background-color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.06rem;
  line-height: 1.6;
  width: 7rem;
  height: 3rem;
  padding-left: 0.9rem;
  padding-top: 0.3rem;
  border-radius: 0.4rem;
  margin-right: 1.2rem;
}

.listType-header .detail-main-title .main-title-qnadetail {
  padding-left: 2.4rem;
  padding-top: 2.2rem;
  padding-bottom: 4.2rem;
  font-family: "Pretendard";
  line-height: 1.5;
  letter-spacing: -0.048rem;
  font-size: 2.4rem;
  color: #222;
  font-weight: 500;

  width: 100%;
}

.listType-header .detail-main-title .main-title-qnadetail p {
  margin-top: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.026rem;
  font-size: 1.5rem;
  color: #666;
}

.listType-header .detail-main-title .detail-container .detail-content4 {
  width: 100%;
}

.listType-header .detail-main-title .detail-container .detail-content4 p {
  margin-top: 4rem;

  word-break: break-all;
  margin-bottom: 4rem;
  line-height: 1.88;
  letter-spacing: -0.032rem;
  font-size: 1.6rem;
  color: #444;
}

.listType-header .detail-main-title .go-list2 {
  width: 100%;
  text-align: center;
  margin-top: 8rem;
  border-top: 1px solid #eee;
  padding-top: 2.4rem;
}

.listType-header .detail-main-title .go-list2 button {
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  width: 9.4rem;
  height: 4.8rem;
  color: #fff;
  padding: 15px 20px 14px;
  border-radius: 2px;
  background-color: #18297a;
  letter-spacing: -0.06rem;
}

.listType-header .detail-main-title .detail-container .detail-img2 {
  position: relative;
  width: 100%;
  height: 32rem;
  background-color: #666;
}

.listType-header .detail-main-title .detail-container .detail-img2 img {
  width: 100%;
  max-width: 96rem;
  height: 32rem;
  position: absolute;
  background-color: #888;
}

.listType-header .detail-main-title .detail-container .detail-img2 p {
  opacity: 0.4;
  color: #fff;
  position: absolute;
  top: 45%;
  left: 40%;
}

@media screen and (max-width: 768px) {
  .listType-header
    .detail-main-title
    .detail-container
    .detail-content-qna
    p:nth-child(2) {
    display: none;
  }
  .listType-header
    .detail-main-title
    .detail-container
    .detail-content-qna
    p:nth-child(3) {
    display: none;
  }
  .listType-header .detail-main-title .main-title-qnadetail p {
    margin-top: 1.2rem;
  }

  .listType-header .detail-main-title .detail-container .detail-img2 {
    max-width: 76.8rem;
    height: 19.6rem;
  }
  .listType-header .detail-main-title .detail-container .detail-img2 img {
    display: none;
  }
}
// end-boardQnaDetail //

// start-boardQnaWrite //

.listType-header .detail-main .detail-main-title .qna-title h3 {
  font-family: "ONE-Mobile-Title";
  font-size: 1.5rem;
  line-height: 1.2;
  letter-spacing: -0.06rem;
  color: #222;
  margin-top: 1.7rem;
  margin-bottom: 0.8rem;
}

.listType-header .detail-main .detail-main-title .qna-title input {
  width: 100%;
  height: 6.4rem;
}

.listType-header .detail-main .detail-main-title .qna-content h3 {
  font-family: "ONE-Mobile-Title";
  font-size: 1.5rem;
  line-height: 1.2;
  letter-spacing: -0.06rem;
  color: #222;
  margin-top: 1.7rem;
  margin-bottom: 0.8rem;
}

.listType-header .detail-main .detail-main-title .qna-content input {
  width: 100%;
  height: 48rem;
}

.listType-header .detail-main .detail-main-title .secure-text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.listType-header .detail-main .detail-main-title .secure-text span {
  display: block;
  width: 16rem;
  height: 8rem;
  margin: 0 1.6rem 0 0;
  border-radius: 0.2rem;
  border: solid 0.1rem #666;
  background-color: #aaa;
}

.listType-header .detail-main .detail-main-title .secure-text .left p {
  display: none;
}

.listType-header .detail-main .detail-main-title .secure-text .secure-box p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2;
  letter-spacing: -0.026;
  color: #35f;
}

.listType-header
  .detail-main
  .detail-main-title
  .secure-text
  .secure-box
  input {
  width: 12rem;
  height: 4.8rem;
  margin: 0.6rem 0.4rem 0 0;
  border-radius: 0.2rem;
  border: solid 0.1rem #ccc;
  background-color: #fff;
}

.listType-header
  .detail-main
  .detail-main-title
  .secure-text
  .secure-box
  button {
  cursor: pointer;
  width: 9.4rem;
  height: 4.8rem;
  margin: 0.6rem 0.4rem 0 0;
  border-radius: 0.2rem;
  border: solid 0.1rem #ccc;
  background-color: #f2f2f2;
  font-size: 1.6rem;
  letter-spacing: -0.064rem;
  line-height: 1.19;
}

.listType-header .detail-main .detail-main-title .qna-registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 6.7rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.listType-header
  .detail-main
  .detail-main-title
  .qna-registration
  button:nth-child(1) {
  cursor: pointer;
  width: 100%;
  max-width: 24rem;
  height: 5.6rem;
  margin: 0 0.8rem 0 0;
  border-radius: 0.2rem;
  border: solid 0.1rem #35f;
  background-color: #fff;
  font-size: 1.8rem;
  color: #35f;
  line-height: 1.17;
  letter-spacing: -0.072rem;
  font-weight: 600;
}

.listType-header
  .detail-main
  .detail-main-title
  .qna-registration
  button:nth-child(2) {
  cursor: pointer;
  width: 100%;
  max-width: 24rem;
  height: 5.6rem;
  margin: 0 0.8rem 0 0;
  border-radius: 0.2rem;
  background-color: #35f;
  font-size: 1.8rem;
  color: #fff;
  line-height: 1.17;
  letter-spacing: -0.072rem;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .listType-header .detail-main-title .main-title-qnadetail {
    padding-bottom: 1.6rem;
  }
  .listType-header .detail-main .detail-main-title .secure-text .left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .listType-header .detail-main .detail-main-title .secure-text .left p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2;
    letter-spacing: -0.05rem;
    color: #35f;
    display: block;
  }
  .listType-header .detail-main .detail-main-title .secure-text .secure-box p {
    display: none;
  }
  .listType-header .detail-main .detail-main-title .secure-text {
    display: block;
  }

  .listType-header .detail-main .detail-main-title .secure-text span {
    display: block;
    width: 12rem;
    height: 6rem;
    margin: 0 1.6rem 0 0;
    border-radius: 0.2rem;
    border: solid 0.1rem #666;
    background-color: #aaa;
  }
  .listType-header
    .detail-main
    .detail-main-title
    .qna-registration
    button:nth-child(1) {
    max-width: 17.2rem;
    height: 5.6rem;
  }

  .listType-header
    .detail-main
    .detail-main-title
    .qna-registration
    button:nth-child(2) {
    max-width: 17.2rem;
    height: 5.6rem;
  }
}
@media screen and (max-width: 535px) {
  .listType-header .detail-main-title .qna-before img {
    margin-top: -4rem;
    margin-left: 0;
  }
}

/*게시판 리스트 수정*/
.listType-header .free-main {
  display: none;
}
.main-title-info {
  font-family: "ONE-Mobile-Title";
  line-height: 1.5;
  letter-spacing: -0.048rem;
  font-size: 2.4rem;
  color: #222;
  
}
.boardlist-table {
  margin: 4rem 0 2.4rem;
  border-top: 2px solid #1a1a1a;
  width: 100%;
  max-width: 128rem;
  margin-top: 0.8rem;
  h4 {
    letter-spacing: -0.072rem;
    line-height: 1.19;
    font-weight: 500;
    font-size: 1.8rem;
    color: #222222;
  }
  tr {
      height: 4.8rem;
      &.board-bg {
        background-color: #f0f6fa;
      }
  }
  th {
      height: 4.6rem;
      padding: 1rem 2rem 1rem 2rem !important;
      font-size: 1.5rem;
      letter-spacing: -0.06rem;
      color: #1a1a1a;
      font-weight: 600;
      border-bottom: 0.1rem solid #eee;
  }
  // td:first-child {
  //     text-align: left;
  // }

  td {
      padding: 2.4rem 2rem !important;
      border-bottom: 0.1rem solid #eee;
      height: auto;
      font-size: 1.6rem;
      letter-spacing: -0.064rem;
      color: #666;

      &.strong {
          font-size: 1.8rem;
          color: map-get($color, primary);
          letter-spacing: -0.072rem;
          font-weight: 500;
      }
      img {
          // background-color: #fff;
          display: inline-block;
          text-align: center;
          &.img-speaker {
            width: 24px!important;
            height: 19px!important;
          }
      }

  }

}

.mob-list-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
 
  cursor: pointer;
  img {
    margin-left: 0.8rem;
  }
  .list-info {
    // display: none;
  }
}
#toc-toggle2 {
  border-bottom: 1px solid #e5e5e5;
}

.img-file {
  img {
    display: inline-block;
    padding: 0!important;
    width: 16px!important;
    height: 16px!important;
    border: none!important;
    box-shadow: none!important;
    border-radius: 0!important;
    -webkit-border-radius: 0!important;
    -moz-border-radius: 0!important;
    -ms-border-radius: 0!important;
    -o-border-radius: 0!important;
  }
}


@media all and (max-width: 1200px) {
  .boardlist-table {
      th {
          padding: 0.5rem 1rem !important;
      }
      td {
          padding: 2rem 1rem !important;
      }
      
  }
}

@media all and (max-width: 768px) {
  .boardlist-table {
    display: none;
  }
  .listType-header .free-main {
    display: block;
  }
}
