@font-face {
    font-family: 'ONE-Mobile-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.text {
    &-left {
        text-align: left !important;
    }

    &-right {
        text-align: right !important;
    }

    &-center {
        text-align: center !important;
    }
}

header {
    width: 100%;
    height: 8rem;
    padding: 0 4rem;
    position: relative;
    z-index: 5;
    background: #fff;
}

.header {
    &-logo {
        width: 37.6rem;
        height: 6rem;
        position: absolute;
        left: 4rem;
        top: 50%;
        transform: translateY(-50%);

        .main {
            display: none;
        }
    }

    &-login {
        position: absolute;
        overflow: hidden;
        right: 4rem;
        top: 50%;
        transform: translateY(-50%);

        li {
            float: left;
            a {
                font-size: 1.6rem;
                padding: 0 1rem;
                letter-spacing: -0.064rem;
            }

            &:last-child {
                a {
                    border-left: 1px solid #eee;
                    padding-right: 0;
                }
            }
        }
    }
}

.nav {
    width: 100%;
    height: 100%;
    clear: both;
    >li {
        float: left;
        position: relative;
        height: 100%;
        width: 20%;

        >a {
            display: flex;
            width: 100%;
            height: 100%;
            font-size: 2rem;
            color: #222;
            font-weight: 600;
            line-height: 1;
            align-items: center;
            justify-content: center;
            letter-spacing: -0.08rem;
        }

        &:first-child {
            ul {
                border-left: 1px solid #eeeeee;
            }
        }

        ul {
            position: absolute;
            top: 8rem;
            width: 100%;
            height: 56.1rem;
            z-index: 3;
            border-right: 1px solid #eeeeee;
            text-align: center;
            padding-top: 2rem;
            display: none;

            li {
                margin-bottom: 2rem;
                line-height: 1;

                a {
                    font-size: 1.8rem;
                    color: #222;
                    line-height: 1;
                    letter-spacing: -0.072rem;
                }
            }
        }

        &:hover {
            ul {
                background: #f0f7fa;
                
                &::before {
                    content: '';
                    width: calc(100% + 0.2rem);
                    height: 0.4rem;
                    background: #4c6aff;
                    position: absolute;
                    left: -0.1rem;
                    top: -0.4rem;
                }
            }
        }
    }

    &-bg  {
        position: absolute;
        width: 100%;
        height: 56.1rem;
        background: #fff;
        left: 0;
        top: 8rem;
        z-index: 2;
        display: none;
        box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2);
    }

    &-wrap {
        max-width: 100rem;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        &:hover {
            ul {
                display: block;
            }
            .nav-bg {
                display: block;
            }
        }
    }

    &-box {
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        z-index: 10;
        display: none;

        &.active {
            display: block;
        }
    }

    &-right {
        z-index: 10;
        width: 35rem;
        height: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        transition: 0.1s;
        background: url(../img/nav_bg.png) no-repeat right bottom #fff;
        padding: 12rem 0 11.3rem;
        overflow-y: auto;
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }

        &.active {
            right: 0;

            .nav-header, .nav-info {
                right: 0;
            }
        }
    }

    &-header {
        width: 35rem;
        height: 12rem;
        background:#4766ff;
        color: #fff;
        padding: 2rem;
        position: fixed;
        top: 0;
        right: -100%;
        transition: 0.1s;

        p {
            line-height: 2.4rem;
            margin-bottom: 1.3rem;
        }

        .none {
            font-size: 1.8rem;
        }

        .login {
            padding-left: 2.6rem;
            background: url(../img/login_icon.png) left center no-repeat;

            .name {
                font-size: 2rem;
                margin-right: 0.6rem;
            }

            .badge {
                background: rgba(0, 0, 0, 0.24);
            }
        }

        .btn {
            font-size: 1.5rem;
            border: 1px solid #fff;
            display: inline;
            width: 9rem;
            height: 4rem;
        }

        .close {
            width: 2.4rem;
            height: 2.4rem;
            background: url(../img/nav_close_icon.png) no-repeat;
            position: absolute;
            right: 1.5rem;
            top: 1.8rem;
            cursor: pointer;
        }

        &.lightblue {
            background: #00a9ff;
        }
        &.purple {
            background: #8548fe;
        }
        &.green {
            background: #00a388;
        }
        &.blue {
            background: #4766ff;
        }
    }

    &-list {
        padding: 0 2rem;
        width: 100%;

        >li {
            width: 100%;
            padding-top: 2.4rem;
            color: map-get($color, primary);

            >a {
                display: block;
                width: 100%;
                padding-bottom: 8px;
                border-bottom: 2px solid #eee;
                background: url(../img/nav_open_button.png) no-repeat right center;
            }

            ul {
                height: 0;
                overflow: hidden;
                padding: 0 2rem;
                background: #f0f6fa;
                font-size: 1.8rem;
                line-height: 1;
                border-radius: 0 0 4px 4px;

                li {
                    margin-bottom: 2.2rem;

                    &:first-child {
                        margin-top: 2.4rem;
                    }

                    &:last-child {
                        margin-bottom: 2.4rem;
                    }
                }
            }

            &.active {
                >a {
                    border-color: #3355ff;
                    background: url(../img/nav_close_button.png) no-repeat right center;
                }

                ul {
                    height: auto;
                }
            }
        }
    }

    &-info {
        width: 35rem;
        height: 11.3rem;
        background: url(../img/nav_bg.png) no-repeat right bottom #fff;
        position: fixed;
        right: -100%;
        bottom: 0;
        transition: 0.1s;
        padding: 0 0 4.2rem 2rem;
        color: map-get($color, primary);
        h5 {
            font: {
                family: map-get($ftStyle, secondary);
                size: 1.8rem;
            }
        }
    }
}

.hamburger {
    width: 2.4rem;
    height: 1.6rem;
    background: url(../img/hamburger.png) no-repeat;
    position: absolute;
    right: 1.6rem;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    cursor: pointer;
}

.container {
    width: 100%;
    height: auto;
    background: #f5f8fa;

    &-top {
        width: 100%;
        height: 16rem;
        position: relative;
        padding-top: 5.3rem;

        h1 {
            font-family: 'ONE-Mobile-Title';
            font-size: 4rem;
            color: #fff;
            text-align: center;
            line-height: 1;
        }

        &.notice {
            background: url(../img/sub_w.png) no-repeat center;
        }

        &.recruit {
            background: url(../img/recruit_sub_w.png) no-repeat center;
        }

        &.counseledu {
            background: url(../img/counseledu_sub_w.png) no-repeat center;
        }

        &.join {
            background: url(../img/join_sub_w.png) no-repeat center;
        }

        &.welfare {
            background: url(../img/welfare_sub_w.png) no-repeat center;
        }
    }

    &-bottom {
        padding: 4rem 0 8rem;
    }
}

.lnb {
    height: 100%;
    clear: both;

    >li {
        float: left;
        position: relative;
        height: 100%;

        >a {
            color: #fff;
            display: flex;
            width: 24rem;
            height: 100%;
            position: relative;
            padding-left: 2.4rem;
            font-size: 1.8rem;
            line-height: 1;
            border-right: 1px solid #3952cc;
            align-items: center;

            &::after {
                content: '';
                width: 1.6rem;
                height: 0.9rem;
                background: url(../img/arrow-down.png) no-repeat;
                position: absolute;
                top: 50%;
                right: 1.6rem;
                transform: translateY(-50%);
            }
        }

        &:hover {
            a {
                background: #000e52;
            }

            ul {
                display: block;
            }
        }

        ul {
            display: none;
            width: 100%;
            height: auto;
            min-height: 22rem;
            background: #000e52;
            border-radius: 0 0 0.4rem 0.4rem;
            padding: 2rem 2.4rem;
            overflow: hidden;
            position: absolute;
            left: 0;
            top: 6.4rem;
            border-top: 1px solid #162881;
            z-index: 2;

            li {
                margin-bottom: 2rem;
                line-height: 1;
                a {
                    color: #fff;
                    font-size: 1.6rem;
                    line-height: 1;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &.home {
            a {
                width: 6.4rem;
                height: 6.4rem;
                background: url(../img/home.png) center no-repeat #4766ff;
                border-radius: 0.4rem;

                &::after {
                    display: none;
                }
            }
        }
        &.none {
            a {
                &::after {
                    display: none;
                }
            }
        }
    }

    &-wrap {
        position: absolute;
        max-width: 128rem;
        width: 100%;
        height: 6.4rem;
        background: #18297a;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 50%);
        border-radius: 0.4rem;
        z-index: 1;
    }
}

.contents {
    margin: 0 auto;
    background: #fff;
    max-width: 128rem;
    width: 100%;
    border-radius: 1.6rem;
    padding: 4.3rem 4rem 4rem;

    &-title {
        width: 100%;
        margin-bottom: 2.4rem;
        display: flex;

        p {
            font-size: 3.2rem;
            font-family: 'ONE-Mobile-Title';
            color: #222;
            line-height: 1;
        }
    }

    &-box {
        width: 100%;
    }
}

.icon-box {
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
        display: flex;
    }
}

.tab {
    width: 100%;
    height: 5.6rem;
    border-radius: 0.4rem;
    display: flex;
    flex-flow: inherit;
    border: 1px solid #cccccc;
    overflow: hidden;

    li {
        width: 100%;
        a {
            display: flex;
            width: 100%;
            height: 100%;
            border-right: 1px solid #cccccc;
            align-items: center;
            justify-content: center;
            font-size: 1.6rem;
            font-family: 'ONE-Mobile-Title';
            color: #444;
            text-align: center;
            flex-wrap: wrap;

            span {
                margin-left: 5px;
                flex-shrink: 0;
            }
        }

        &:last-child {
            a {
                border: none;
                width: calc(100% + 0.1rem);
            }
        }

        &.active {
            a {
                background: #3355ff;
                color: #fff;
            }
        }
    }

    &-con {
        width: 100%;
        margin-top: 4rem;
        display: none;

        &.active {
            display: block;
        }
    }
}

.vertical-top {
    vertical-align: top;
}

/* header용 미디어 쿼리 */

@media screen and (max-width: 1830px) {
    .header {
        &-logo {
            width: 30rem;
            height: 4.8rem;
            left: 2rem;
        }

        &-login {
            right: 2rem;
        }
    }
    

	.nav-wrap {
        max-width: 90rem;
    }
}

@media screen and (max-width: 1540px) {
    header {
        height: 7rem;
    }

    .header {
        &-logo {
            width: 27rem;
            height: 4.3rem;
        }
    }
    
	.nav {
        &-wrap {
            max-width: 70rem;
        }

        &-bg {
            top: 7rem;
        }

        >li {
            ul {
                top: 7rem;
                li {
                    a {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .header {
        &-logo {
            width: 25rem;
            height: 4rem;
        }
    }
    
	.nav {
        &-wrap {
            max-width: 60rem;
        }

        >li {
            >a {
                font-size: 1.8rem;
            }
        }
    }
}

@media screen and (max-width: 1150px) {
    header {
        height: 6rem;
    }
    
    .header {
        &-logo {
            width: 25rem;
            height: 4rem;
            left: 1rem;
        }
        
        &-login {
            right: 1rem;
        }
    }
    
	.nav {
        &-wrap {
            max-width: 50rem;
        }

        >li {
            >a {
                font-size: 1.6rem;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    header {
        height: 6rem;
    }
    
    .header {
        &-login {
            display: none;
        }
    }

    .nav {
        &-wrap {
            display: none;
        }
    }

    .hamburger {
        display: block;
    }
}

/* header용 미디어 쿼리 끝 */

@include mobile {

    .container {
        &-top {
            height: 12rem;
            padding-top: 0;

            h1 {
                font-size: 3.2rem;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            &.notice {
                background: url(../img/sub_m.png) no-repeat center;
            }
    
            &.recruit {
                background: url(../img/recruit_sub_m.png) no-repeat center;
            }
    
            &.counseledu {
                background: url(../img/counseledu_sub_m.png) no-repeat center;
            }
    
            &.join {
                background: url(../img/join_sub_m.png) no-repeat center;
            }
    
            &.welfare {
                background: url(../img/welfare_sub_m.png) no-repeat center;
            }
        }

        &-bottom {
            background: #fff;
        }
    }

    .lnb {
        &-wrap {
            height: 4.8rem;
            bottom: -2.4rem;
            border-radius: 0;
        }

        >li {
            width: calc(50% - 2.4rem);

            a {
                width: 100%;
                font-size: 1.5rem;
                padding-left: 1.2rem;

                &::after {
                    right: 1rem;
                    width: 1.2rem;
                    height: 0.8rem;
                    background-size: 100%;
                }
            }

            &.home {
                width: 4.8rem;

                a {
                    width: 4.8rem;
                    height: 4.8rem;
                    font-size: 1.5rem;
                    border-radius: 0;
                }
            }

            ul {
                top: 4.8rem;
                padding: 2rem 0 2rem 1.6rem;
            }
        }
    }

    .contents {
        padding: 3.9rem 2rem 0 !important;
    }

    .tab {
        display: block;
        height: auto;
        border: none;
        border-radius: 0;
        li {
            height: 5.6rem;
            float: left;
            width: 33.3%;
            margin-bottom: 0.4rem;
            margin-right: -0.1rem;
            a {
                font-size: 1.4rem;
                flex-direction: column;
                border: 1px solid #cccccc !important;

                span {
                    margin-left: 0;
                }
            }

            &.half {
                width: 50%;

                &.right {
                    a {
                        border-left: 0 !important;
                    }
                }
            }

            &.left {
                a {
                    border-radius: 4px 0 0 4px;
                }
            }
            &.right {
                a {
                    border-radius: 0 4px 4px 0;
                }
            }
            &.center {
                a {
                    border-width: 1px 0 1px 0 !important;
                }
            }

            &.active {
                a {
                    border-color: #3355ff;;
                }
            }
        }
    }
}