/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

// 센터정보 //

@font-face {
  font-family: "ONE-Mobile-Title";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.tour-title{
  font-family: "ONE-Mobile-Title";
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1.28px;
  text-align: center;
  color: #222;
}

.tour-title.white{
  color: #fff;
}

.tour-contents{
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: -0.72px;
  text-align: center;
  color: #444;
}

.tour-contents.white{
  color: #eee;
}

#map {
  position: relative;
  width: 100%;
  height: 60rem;
}
.listType-header .centerinfo-main-title {
  margin-top: 4.3rem;
  font-size: 1.6rem;
  color: #888;
  font-stretch: normal;
  font-style: normal;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.064rem;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.listType-header .centerinfo-main-title .main-title-info {
  font-family: "ONE-Mobile-Title";
  line-height: 1.5;
  letter-spacing: -0.048rem;
  font-size: 2.4rem;
  color: #222;
}

.listType-header .info-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 0.2rem solid #000;
  width: 100%;
  max-width: 128rem;
  margin-top: 0.8rem;
  padding-top: 1.6rem;
}

.listType-header .info-main .daum-map {
  width: 100%;
}

.listType-header .info-main .info-right {
  margin: 0 auto;
  border: 0.1rem solid #e5e5e5;

  width: 100%;
  max-width: 40rem;
}

.listType-header .info-main .info-right .main-info {
  font-family: "ONE-Mobile-Title";
  line-height: 1.1;
  letter-spacing: -0.08rem;
  font-size: 2rem;
  color: #18297a;
}

.listType-header .info-main .info-right .info-right-content {
  margin: 4.2rem auto;
  width: 100%;
  max-width: 35.2rem;
}

.listType-header .info-main .info-right .info-tb {
  border-top: 0.1rem solid #18297a;

  margin-top: 0.8rem;
  width: 100%;
}

.listType-header .info-main .info-right .info-tb tbody tr {
  height: 6.8rem;
}

.listType-header .info-main .info-right .info-tb tbody tr td {
  line-height: 1.19;
  color: #444;
  font-size: 1.6rem;
  border-bottom: 0.1rem solid #e4e6ee;
  padding-left: 2.4rem;
}

.listType-header
  .info-main
  .info-right
  .info-tb
  tbody
  tr:nth-child(5)
  td:nth-child(2) {
  line-height: 1.5;
}

.listType-header .info-main .info-right .info-tb tbody tr .color-box {
  background-color: #f5f7ff;

  font-size: 1.5rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.06rem;
  text-align: left;
  color: #18297a;
}

.listType-header
  .info-main
  .info-right
  .info-tb
  tbody
  tr:nth-child(5)
  .color-box {
  height: 11.6rem;
}
.container{
  .container-bottom{
    .contents{
      .listType-header{
        .info-main{
          .tour{
            justify-content: center;
            width: 100%;
            max-width: 1200px;
            display: flex;
            flex-wrap: wrap;
            gap: 12px;
            .seventy-five{
              width: 100%;
              max-width: 796px;
              padding: 0px;
              height: auto;
             
            }
            .thirty-three{
              width: 100%;
              max-width: 392px;
            }
            .thirty-three.img{
              padding: 0px;
              height: auto;
            }
            .thirty-three.mob{
              display: none;
            }
            .half.img{
              padding: 0px;
              height: auto;
            }
            .half{
              width: 100%;
              max-width: 593px;
            }
            li{margin-bottom: 40px;
              height: 391px;
              background-color: #ddd;
              padding: 130px 24px 0px 24px;
              border-radius: 5px;
              &:nth-child(2){
                background-color: rgba($color: #000000, $alpha: 0.8);
              }
              &:nth-child(6){
                background-color:#f0f5ff;
              }
              &:nth-child(7){
                background-color:#f5faf9;
              }
              &:nth-child(15){
                background-color:#fff9f2;
              }
            }
          }
        }
      }
    }
  }
}



@media screen and (max-width: 768px) {
  #map {
    height: 26.2rem;
  }
  .listType-header .info-main .info-right .info-right-content {
    margin: 4.2rem auto;
    width: 100%;
    max-width: 100%;
  }
  .listType-header .info-main {
    display: block;
  }

  #daumRoughmapContainer1664849100308 {
    width: 100%;
    height: 26.2rem;
  }

  .listType-header .info-main .info-right .info-tb tbody tr td {
    line-height: 2;
    letter-spacing: -0.052rem;
    font-size: 1.4rem;
  }

  .listType-header .info-main .info-right .info-tb tbody tr .color-box {
    line-height: 1.15;
    letter-spacing: -0.052rem;
    font-size: 1.3rem;
  }
  .listType-header .info-main .info-right {
    border: 0rem solid #e5e5e5;
    max-width: 100%;
  }
  .listType-header
    .info-main
    .info-right
    .info-tb
    tbody
    tr:nth-child(5)
    .color-box {
    height: 8.1rem;
  }
  .listType-header .info-main .info-right .info-tb tbody tr {
    height: 5.7rem;
  }

  #daumRoughmapContainer1664859198327 {
    display: block;
  }
  #daumRoughmapContainer1664849100308 {
    display: none;
  }


  .container{
    .container-bottom{
      .contents{
        .listType-header{
          .info-main{
            .tour{
              width: 100%;
              max-width: 1200px;
              display: flex;
              flex-wrap: wrap;
              gap: 12px;
              .seventy-five{
                width: 100%;
                max-width: 796px;
               
              }
              .thirty-three{
                width: 100%;
                max-width: 392px;
              }
              .thirty-three.mob{
                display: block;
              }
              .half{
                width: 100%;
                max-width: 593px;
              }
              li{margin-bottom: 40px;
                height: 391px;
                background-color: #ddd;
                padding: 130px 24px 0px 24px;
                &:nth-child(2){
                  background-color: rgba($color: #000000, $alpha: 0.8);
                }
                &:nth-child(3){
                  
                  background-color:#f0f5ff;
                }
                &:nth-child(6){
                  display: none;
                  background-color:#f0f5ff;
                }
                &:nth-child(7){
                  background-color:#f5faf9;
                }
                &:nth-child(12){
                  
                  background-color:#fff9f2;
                }
                &:nth-child(15){
                  display: none;
                  background-color:#fff9f2;
                }
              }
            }
          }
        }
      }
    }
  }

}