.contents {
    &.counselEdu {
        padding: 4rem 4rem 3.1rem;
    }
}

.counselEdu {
    &-title {
        width: 100%;
        height: 24rem;
        border-radius: 1.6rem;
        color: #fff;
        padding-left: 50.1%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 2.4rem;
        
        h1 {
            font-size: 3.6rem;
            font-family: map-get($ftStyle, secondary);
            letter-spacing: -0.144rem;
            margin-top: 0.4rem;
            line-height: 1;
        }

        p {
            font-size: 1.8rem;
            letter-spacing: -0.072rem;
            opacity: 0.8;
            margin: 0.4rem 0 1.8rem;
            line-height: 1.56;

            span {
                display: block;
            }
        }

        button {
            height: 4.8rem;
            line-height: 4.8rem;
            padding: 0 2.4rem;
            font-size: 1.6rem;
            font-weight: 500;
            color: map-get($color, primary);
            background: #fff;
            border-radius: 0.2rem;
            cursor: pointer;
            letter-spacing: -0.064rem;
        }

        &.edu {
            background: url(../img/counseledu_edu.png) no-repeat center;
        }
        &.counsel {
            background: url(../img/counseledu_counsel.png) no-repeat center;
        }
        &.mentor {
            background: url(../img/counseledu_mentor.png) no-repeat center;
        }
        &.video {
            background: url(../img/counseledu_video.png) no-repeat center;
        }
        &.student {
            background: url(../img/counseledu_student.png) no-repeat center;

            h1 {
                margin-top: 0;
            }
            p {
                margin-bottom: 0;
            }
        }
    }

    &-list {
        .item {
            display: flex;

            .left {
                width: 16rem;
                border: 2px solid;
                border-radius: 0.8rem 0 0 0;
                border-right: 0;
                border-bottom: 0;
                padding: 1.6rem;
                font-size: 1.8rem;
                line-height: 1;
                letter-spacing: -0.072rem;
                font-family: map-get($ftStyle, secondary);
                height: 4rem;
                margin-right: 4rem;
                flex-shrink: 0;
            }

            .right {
                border-top: 2px solid #eee;
                width: 100%;
                padding: 2.4rem 0 4rem;

                h3 {
                    font-size: 2.4rem;
                    font-weight: bold;
                    letter-spacing: -0.192rem;
                    color: map-get($color, primary);
                }

                span {
                    font-size: 1.6rem;
                    letter-spacing: -0.064rem;
                    color: #666;
                }

                &.flex {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }

                &.start {
                    justify-content: flex-start;

                    div {
                        margin-right: 4rem;
                    }
                }
            }

            .way {
                padding-left: 2.8rem;
                display: inline-block;
                margin-right: 4rem;

                p {
                    font-size: 1.8rem;
                    font-weight: bold;
                    letter-spacing: -0.072rem;
                    color: map-get($color, primary);
                    line-height: 2rem;
                    margin-bottom: 1rem;
                }

                div {
                    display: flex;
                    align-items: center;

                    &.mobile {
                        display: none;
                    }
                }

                .search-box {
                    padding: 0.5rem 1rem;
                    line-height: 1;
                    font-size: 1.5rem;
                    border: 1px solid #222;
                    border-radius: 0.2rem;
                    margin: 0 0.4rem;
                }

                &-1 {
                    background: url(../img/homepage.png) no-repeat;
                }
                &-2 {
                    background: url(../img/talk.png) no-repeat;
                }
                &-3 {
                    background: url(../img/phone.png) no-repeat;
                    padding-left: 2.2rem;
                    margin-right: 0;
                }
            }

            .process {
                width: calc(33.3% - 0.5rem);
                margin-bottom: 0.9rem;

                p {
                    width: 100%;
                    height: 4.8rem;
                    border-radius: 2.4rem;
                    color: #fff;
                    font-size: 2rem;
                    line-height: 4.8rem;
                    letter-spacing: -0.08rem;
                    text-align: center;
                    margin-bottom: 1.6rem;
                    font-weight: 600;
                }

                li {
                    line-height: 1;
                    margin-bottom: 1.2rem;
                    padding: 0 2.4rem;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        &.edu {
            .left {
                border-color: #935cff;
                color: #935cff;
            }

            .counselEdu-item {
                background: #faf7ff;
                h5 {
                    color: #692de0;
                }
            }
        }
        &.mentor {
            .left {
                border-color: #ff9a26;
                color: #ff9a26;
            }
            .top {
                padding-bottom: 1.2rem;
            }
            .bottom {
                text-align: center;
            }

            .counselEdu-item {
                background: #fff9f2;
                height: 27.2rem;
                padding: 2.4rem 2rem;
                h5 {
                    color: #ff7310;
                    text-align: center;
                    line-height: 1.6;
                    margin-top: 2.2rem;
                }
            }
            .process {
                li {
                    line-height: 1.5;
                }
                &-1 {
                    p {
                        background: #ff9a26;
                    }
                }
                &-2 {
                    p {
                        background: #ff791f;
                    }
                }
                &-3 {
                    p{
                        background: #e05a00;
                    }
                }
            }
        }
        &.counsel {
            .left {
                border-color: #00997a;
                color: #00997a;
            }

            .counselEdu-item {
                background: #f5faf9;
                height: 22rem;
                padding: 3.4rem 0 2.4rem;
                h5 {
                    color: #008066;
                    margin: 3.1rem 0 1rem;
                }
        
                p {
                    line-height: 1.19;
                }
        
                &.half {
                    width: calc(50% - 0.4rem);
                    margin-top: 0.8rem;
                }
            }
            .process {
                &-1 {
                    p {
                        background: #00b892;
                    }
                }
                &-2 {
                    p {
                        background: #008f72;
                    }
                }
                &-3 {
                    p{
                        background: #007a62;
                    }
                }
            }
        }
    }

    &-item {
        width: calc(33.3% - 0.5rem);
        height: 42rem;
        border-radius: 0.8rem;
        padding: 2.4rem;

        .top {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding-bottom: 1.6rem;
        }

        .bottom {
            padding-top: 1.3rem;
            border-top: 1px solid #e4e1eb;

            li {
                margin-bottom: 1.3rem;
                line-height: 1.63;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        h5 {
            font-size: 2rem;
            line-height: 1;
            letter-spacing: -0.08rem;
            margin-top: 2.6rem;
            font-family: map-get($ftStyle, secondary);
        }

        .img-area {
            width: 8rem;
            height: 8rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .tab {
        &:first-child {
            margin-bottom: 0.4rem;
        }

        &-con {
            padding-bottom: 4rem;
        }
    }

    .pagination {
        margin-bottom: 0.9rem;
    }

    &-apply {
        display: flex;
        border: 1px solid #e5e5e5;
        border-radius: 0.5rem;

        .left {
            width: 50.7%;
            padding: 4rem 8rem;
            border-right: 1px solid #e5e5e5;
        }

        .right {
            background: #f9f9f9;
            padding: 4rem 8rem;
            width: 49.3%;
        }
    }

    &-teacher {
        margin: 4rem 0 2.4rem;
        border-top: 2px solid #1a1a1a;

        th {
            height: 4.6rem;
            font-size: 1.5rem;
            letter-spacing: -0.06rem;
            color: #1a1a1a;
            font-weight: 600;
        }

        td {
            height: 6.4rem;
            font-size: 1.6rem;
            letter-spacing: -0.064rem;
            color: #666;

            &.strong {
                font-size: 1.8rem;
                color: map-get($color, primary);
                letter-spacing: -0.072rem;
                font-weight: 500;
            }
        }

        th, td {
            padding-left: 2.4rem;
            text-align: left;
            border-bottom: 1px solid #d8e4ec;
        }
    }

    &-lesson {
        border-top: 2px solid #1a1a1a;
        border-bottom: 1px solid #eee;
        text-align: center;
        padding: 4rem 0;

        h2 {
            font-size: 3.2rem;
            font-weight: 500;
            letter-spacing: -0.144rem;
            color: map-get($color, primary);
            line-height: 1.17;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.6rem;
            letter-spacing: -0.064rem;
            color: #666;
            line-height: 1;
        }

        em {
            color: map-get($color, primary);
            font-weight: 500;
            padding-right: 0.8rem;
            margin-right: 0.8rem;
            border-right: 1px solid #e5e5e5;
        }
    }

    &-table {
        &-title {
            font-size: 2rem;
            letter-spacing: -0.08rem;
            line-height: 1.1;
            font-family: map-get($ftStyle, secondary);
            color: #18297a;
            margin: 2.4rem 0 0.8rem;

            &.b {
                margin-top: 6.6rem;
            }
        }

        &-section {
            font-size: 2.4rem;
            letter-spacing: -0.096rem;
            font-family: map-get($ftStyle, secondary);
            color: map-get($color, primary);
            margin: 8.3rem 0 2.6rem;
            padding-bottom: 1.2rem;
            border-bottom: 2px solid #1a1a1a;
        }

        input, select {
            width: 100%;
        }
    }

    &-edu {
        margin-bottom: 2.4rem;
        .top {
            display: flex;
            border-top: 2px solid #1a1a1a;
            border-bottom: 1px solid #eee;
            height: 4.5rem;
            line-height: 4.5rem;
            font-size: 1.5rem;
            color: #1a1a1a;
            font-weight: 600;

            .right {
                p {
                    padding-left: 4rem;
                    &:first-child {
                        width: 58%;
                    }
                    &:nth-child(2) {
                        width: 20%;
                    }
                    &:last-child {
                        width: 22%;
                    }
                }
            }
        }
        .bottom {
            li {
                display: flex;
                padding: 2.4rem 0;
                border-bottom: 1px solid #eee;

                .left {
                    p {
                        font-size: 1.8rem;
                        color: map-get($color, primary);
                        font-weight: 500;
                        letter-spacing: -0.072rem;
                        margin: 0.5rem 0 0.9rem;
                    }

                    span:not(.badge) {
                        font-size: 1.5rem;
                        color: #666;
                        letter-spacing: -0.064rem;

                        em {
                            color: map-get($color, primary);
                            font-weight: 500;
                            padding-right: 0.8rem;
                            margin-right: 0.8rem;
                            border-right: 1px solid #e5e5e5;
                        }
                    }
                }

                .right {
                    div {
                        font-size: 1.5rem;
                        color: #666;
                        padding-left: 4rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;

                        &:first-child {
                            width: 58%;
                        }
                        &:nth-child(2) {
                            width: 20%;
                        }
                        &:last-child {
                            width: 22%;
                        }

                        p {
                            margin: 0.5rem 0;
                        }
                    }
                }
            }
        }
        .left {
            width: 50.8%;
            padding-left: 2.4rem;
        }
        .right {
            width: 49.2%;
            display: flex;
        }
    }

    .table-recruit {
        th {
            width: 16.67%;
            padding: 2.5rem 0 2.5rem 2.5rem;
            font-size: 1.5rem;
            line-height: 1;

            .required {
                display: inline-block;
                width: 0.8rem;
                height: 0.8rem;
                border-radius: 50%;
                background: #35f;
                margin: 0.3rem 0 0 0.4rem;
            }
        }
        td {
            font-size: 1.6rem;
            line-height: 1.2;
            color: #444;

            &.pd-16 {
                padding: 1.6rem 0 1.6rem 2.4rem;
            }

            p {
                line-height: 1.88;
            }

            div {
                display: flex;
                align-items: center;

                span {
                    margin: 0 0.4rem;
                }
            }

            em {
                font-weight: 500;
                color: map-get($color, primary);
            }

            button:not(.btn) {
                display: block;
                padding-left: 2.4rem;
                background: url(../img/file.png) no-repeat left center;
                font-size: 1.5rem;
                color: #666;
                margin-bottom: 1.3rem;
                cursor: pointer;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .btn-area {
        text-align: center;
        margin: 4rem 0 0.9rem;

        &-middle {
            text-align: center;
            margin: 2.4rem 0 2.6rem;
        }

        &.b {
            margin: 6.4rem 0 3.3rem;
        }
    }
}

.video {
    &-list {
        overflow: hidden;
        .item {
            display: block;
            float: left;
            width: calc(33.3% - 1.53rem);

            &:nth-child(3n+2) {
                margin: 0 2.35rem;
            }
            &:nth-child(n+4) {
                margin-top: 2.4rem;
            }
        }
        
        .top {
            position: relative;
            img {
                width: 100%;
                height: auto;
                aspect-ratio: 16/9;
                display: block;
                background: #666;
                border-radius: 1.5rem 1.5rem 0 0;
            }
            .badge {
                position: absolute;
                left: 0.8rem;
                top: 0.8rem;
            }
        }

        .bottom {
            padding: 1.6rem 2.4rem 2.4rem;
            border: 1px solid #e5e5e5;
            border-top: none;
            border-radius: 0 0 1.5rem 1.5rem;

            .title {
                display: flex;
                align-items: center;
                height: 5.4rem;
                margin-bottom: 1.6rem;
            }

            p {
                word-break: keep-all;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical
            }
        }
    }
}

.calendar {
    .top {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-size: 3.6rem;
            font-weight: bold;
            color: map-get($color, primary);
            margin: 0 1.6rem;
        }

        button {
            width: 3.2rem;
            height: 3.2rem;
            background: url(../img/calendar_btn.png) no-repeat center;
            cursor: pointer;
        }
    }
    &-week {
        display: flex;
        background: #18297a;
        border-radius: 1rem 1rem 0 0;
        color: #fff;
        height: 4.8rem;
        align-items: center;
        text-align: center;

        div {
            width: 100%;
            font-size: 1.5rem;
        }
    }
    &-box {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid #ddd;
        border-top: none;
        border-radius: 0 0 1rem 1rem;
        overflow: hidden;

        div {
            width: calc(100% / 7);
            padding: 0.7rem;
            aspect-ratio: 1/1;
            line-height: 1;
            border: 1px solid #ddd;
            border-top: 0;
            border-right: 0;
            color: map-get($color, primary);
            font-weight: 500;
            cursor: pointer;
            font-size: 1.5rem;

            &:nth-child(7n+1) {
                border-left: none;
            }
            &:nth-child(n+36) {
                border-bottom: none;
            }
            &:nth-child(7n) {
                border-right: none;
            }

            &.anotherMonth {
                color: #e5e5e5;
                background: #f9f9f9;
                cursor: default;
            }
            &.weekend {
                color: #aaaaaa;
                background: #f2f2f2;
                cursor: default;
            }
            &.impossible {
                color: #adb4cc;
                background: #f5f7ff;
                cursor: default;
            }
            &.active {
                color: #fff;
                background: #3355ff;
                border-radius: 0.4rem;
            }
        }
    }
    &-next {
        transform: rotate(180deg);
    }
    &-ex {
        display: flex;
        justify-content: flex-end;
        margin-top: 1.2rem;
        .section {
            display: flex;
            align-items: center;
            font-size: 1.5rem;
            line-height: 1;
            color: #444;
            margin: 0 0.8rem;
            div {
                width: 1.6rem;
                height: 1.6rem;
                border-radius: 0.4rem;
                margin-right: 0.6rem;

                &.active {
                    background: #3355ff;
                }
                &.impossible {
                    background: #f5f7ff;
                    border: 1px solid #d2d5e3;
                }
            }
        }
    }
}

.apply {
    &-item {
        display: flex;
        margin-bottom: 2.5rem;
        p {
            width: 100%;
            font-family: map-get($ftStyle, secondary);
            color: map-get($color, primary);
            font-size: 1.5rem;
            line-height: 1;
            margin-bottom: 0.8rem;
        }
        input[type="text"] {
            width: 100%;
        }
        .section {
            margin-left: 0.8rem;

            &:first-child {
                margin-left: 0;
            }
        }
    }
    &-select {
        display: flex;
        align-items: center;

        span {
            display: block;
            margin: 0 0.8rem 0 0.4rem;
        }

        select {
            margin-right: 0.4rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }
    &-save {
        text-align: center;
        margin: 4rem 0 3.3rem;

        p {
            font-size: 1.8rem;
            color: #666;
            letter-spacing: -0.072rem;
            line-height: 1.17;
            margin-bottom: 2.4rem;
        }

        button {
            margin: 0 auto;
            height: 4.8rem;
            padding: 2.4rem;
            line-height: 4.8rem;
            font-size: 1.6rem;
            font-weight: 500;
        }
    }
}

.w {
    &-full {
        width: 100%;
    }
    &-80 {
        max-width: 8rem;
    }
    &-90 {
        width: 9rem;
    }
    &-100 {
        max-width: 10rem !important;
    }
    &-120 {
        width: 12rem !important;
    }
    &-140 {
        width: 14rem;
    }
    &-160 {
        max-width: 14rem;
    }
    &-240 {
        max-width: 24rem;
    }
    &-320 {
        max-width: 32rem;
    }
    &-560 {
        max-width: 56rem;
    }
    &-828 {
        max-width: 82.8rem;
    }
}

button {
    &.w {
        &-240 {
            width: 24rem;
        }
    }
}

@media screen and (max-width: 1210px) {
    .counselEdu-apply  {
        .left, .right {
            padding: 2rem;
        }
    }
    .apply-select {
        select {
            &.w-90 {
                width: 7rem;
            }
        }
    }
}

@media screen and (max-width: 1150px) {
    .counselEdu-list {
        .counselEdu-item {
            height: auto !important;
            pad

            h5 {
                font-size: 1.6rem;
            }
        }

        .item {
            .process {
                li {
                    padding: 0 0.8rem 0 1.2rem;
                }
            }
        }
    }
}

@include mobile {
    .counselEdu {
        .tab {
            &:first-child {
                margin-bottom: 0;
            }
        }
        &-title {
            height: 35rem;
            padding: 4rem 0 0 2rem;
            background-size: cover !important;
            justify-content: flex-start;

            h1 {
                font-size: 3.2rem;
            }

            p {
                font-size: 1.6rem;
                max-width: 77.4%;
                margin: 0.8rem 0 1.1rem;

                span {
                    display: inline;
                }
            }

            &.edu {
                background: url(../img/counseledu_edu_m.png) no-repeat center;
            }
            &.counsel {
                background: url(../img/counseledu_counsel_m.png) no-repeat center;
            }
            &.mentor {
                background: url(../img/counseledu_mentor_m.png) no-repeat center;
            }
            &.video {
                background: url(../img/counseledu_video_m.png) no-repeat center;
            }
            &.student {
                background: url(../img/counseledu_student_m.png) no-repeat center;
            }
        }

        &-list {
            .item {
                .left {
                    width: 9rem;
                    height: 3.2rem;
                    padding: 1rem 0 0 1rem;
                    font-size: 1.6rem;
                    margin-right: 2rem;

                    &.long {
                        height: 5.2rem;
                    }

                    span {
                        display: block;
                        margin-top: 0.4rem;
                    }
                }

                .right {
                    padding-top: 1.2rem;

                    h3 {
                        font-size: 2rem;
                    }

                    span {
                        font-size: 1.4rem;
                    }

                    &.flex {
                        flex-direction: column;
                    }

                    &.start {
                        div {
                            margin: 0 0 0.9rem;

                            &:last-child {
                                margin: 0;
                            }
                        }
                    }
                }

                .process, .way {
                    width: 100%;
                }

                .way {
                    background-size: 1.8rem 1.8rem;
                    padding-left: 2.6rem;
                    margin: 0 0 2.4rem 0;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    p {
                        font-size: 1.6rem;
                        line-height: 1.8rem;
                        margin-bottom: 0.2rem;
                    }

                    div {
                        flex-direction: column;
                        align-items: flex-start;
                        &.pc {
                            display: none;
                        }
                        &.mobile {
                            display: flex;
                        }
                        &.flex-none {
                            display: block;
                        }
                    }

                    .search-box {
                        display: inline-block;
                        margin: 0.2rem 0 0;
                    }
                }

                .process {
                    margin-bottom: 2rem;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    p {
                        height: 4rem;
                        line-height: 4rem;
                        font-size: 1.8rem;
                        margin-bottom: 0.9rem;
                    }

                    li {
                        font-size: 1.4rem;
                        color: #444;
                    }
                }

                &:last-child {
                    .right {
                        padding-bottom: 0;
                    }
                }
            }

            .counselEdu-item {
                h5 {
                    margin-top: 1.6rem !important;
                }
            }
        }

        &-item {
            width: 100%;
            margin-bottom: 0.4rem;
            padding: 2rem 1rem !important;

            &:last-child {
                margin-bottom: 0;
            }

            .img-area {
                width: 6.4rem;
                height: 6.4rem;
            }

            .bottom {
                li {
                    font-size: 1.4rem;
                }
            }
        }

        .board_top--total {
            height: auto;
            line-height: 1;
            margin-bottom: 1.6rem;
        }

        .pagination {
            margin-bottom: 0;
        }

        &-teacher {
            thead, colgroup {
                display: none;
            }

            td {
                display: block;
                height: auto;
                border: 0;
                padding-left: 11.1rem;
                font-size: 1.4rem !important;
                font-weight: normal !important;
                color: #666 !important;
                margin-bottom: 1rem;
                position: relative;
                line-height: 1.14;

                &:first-child {
                    margin-top: 2rem;

                    &::before {
                        content: '신청년도';
                    }
                }
                &:last-child {
                    margin-bottom: 2rem;

                    &::before {
                        content: '강사';
                    }
                }
                &:nth-child(2) {
                    &::before {
                        content: '학교명';
                    }
                }
                &:nth-child(3) {
                    &::before {
                        content: '학교급';
                    }
                }
                &:nth-child(4) {
                    &::before {
                        content: '지역';
                    }
                }
                &:nth-child(5) {
                    &::before {
                        content: '종목';
                    }
                }
                &:nth-child(6) {
                    &::before {
                        content: '인원';
                    }
                }
                &:nth-child(7) {
                    &::before {
                        content: '담당자';
                    }
                }
                &::before {
                    position: absolute;
                    left: 1rem;
                    font-size: 1.4rem;
                    color: #1a1a1a;
                    font-weight: bold;
                }
                &::after {
                    content: '';
                    width: 0.1rem;
                    height: 1.4rem;
                    position: absolute;
                    top: 0;
                    left: 10rem;
                    background: #eee;
                }
            }

            tr {
                padding: 2rem 0;
                border-bottom: 1px solid #eee;
            }
        }

        &-apply {
            flex-wrap: wrap;
            border: 0;

            .left, .right {
                width: 100%;
                border-top: 2px solid #1a1a1a !important;
            }

            .left {
                padding: 2.5rem 0 8rem;
                border-right: 0;
                margin-top: 5.8rem;
                position: relative;

                &::after {
                    content: '날짜선택';
                    font-family: map-get($ftStyle, secondary);
                    font-size: 2.4rem;
                    color: #222;
                    position: absolute;
                    top: -4.2rem;
                    left: 0;
                }
            }

            .right {
                padding: 2.5rem 2rem 4rem;
                margin-top: 3.8rem;
                position: relative;
                border: 1px solid #e5e5e5;
                border-radius: 0 0 0.5rem 0.5rem;

                &::after {
                    content: '신청서 작성';
                    font-family: map-get($ftStyle, secondary);
                    font-size: 2.4rem;
                    color: #222;
                    position: absolute;
                    top: -4.2rem;
                    left: 0;
                }
            }
        }
    }

    .video {
        &-list {
            .item {
                width: 100%;
                margin-bottom: 1.6rem;

                &:last-child {
                    margin-bottom: 0;
                }

                &:nth-child(3n+2) {
                    margin: 0 0 1.6rem;
                }
            }

            .bottom {
                p {
                    font-size: 1.8rem;
                }
            }
        }
    }

    .calendar {
        .top {
            p {
                font-size: 2.2rem;
            }
            margin-bottom: 2.4rem;
        }
        &-week {
            div {
                font-size: 1.4rem;
            }
        }
        &-box {
            div {
                font-size: 1.4rem;
            }
        }
        &-ex {
            justify-content: center;
        }
    }

    .apply {
        &-item {
            
            &.wrap {
                flex-wrap: wrap;

                .section {
                    margin: 0;
    
                    &:nth-child(2) {
                        margin-top: 2.4rem;
                    }
                }
            }

            .select {
                height: 4rem;
                line-height: 4rem;
                font-size: 1.5rem;
            }

            input[type="text"] {
                font-size: 1.5rem;
                letter-spacing: -0.06rem;
                padding-left: 1rem;
            }
        }

        &-save {
            margin-bottom: 0;
            p {
                font-size: 1.4rem;
                line-height: 1.57;
                word-break: keep-all;
            }
        }
    }
}