.lnb li p {
  color: #fff;
  display: flex;
  width: 24rem;
  height: 100%;
  position: relative;
  padding-left: 2.4rem;
  font-size: 1.8rem;
  line-height: 1;
  border-right: 1px solid #3952cc;
  align-items: center;
}

.contents-box .contents-title {
  width: 100%;
  margin-bottom: 2.4rem;
  display: flex;
  align-items: center;
}

.join .lecture {
  margin-bottom: 4rem;
  background-color: #f9f9f9;
  display: flex;
  width: 100%;
  height: 8rem;
  align-items: center;
  justify-content: center;
  gap: 2%;
}

.join .lecture .classification {
  display: flex;
  align-items: center;
}

.join .lecture .classification p {
  margin-right: 0.8rem;
}

.join .lecture .classification .select {
  width: 16rem;
  height: 4.8rem;
}

.join .lecture .course {
  display: flex;
  align-items: center;
}

.join .lecture .course p {
  margin-right: 0.8rem;
}

.join .lecture .course .select {
  width: 16rem;
  height: 4.8rem;
}

.join .lecture button {
  cursor: pointer;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 0.2rem;
  background-color: #35f;
}

.m-t-8 .free-main {
  border-top: 0.2rem solid #000;
  width: 100%;
  max-width: 128rem;
}

.m-t-8 .free-main ol li {
  height: 10rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid #eee;
  align-items: center;
}

.m-t-8 .free-main ol li:nth-child(1) {
  height: 4.8rem;
}

.m-t-8 .free-main ol li .left-free {
  width: 52%;

  margin-left: 2rem;
}

.m-t-8 .free-main ol li .left-free p {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.06rem;
  text-align: left;
  color: #35f;
}

.m-t-8 .free-main ol li .left-free h4 {
  font-size: 1.8rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: -0.072rem;
  text-align: left;
  color: #222;
}

.m-t-8 .free-main ol li .right-free {
  color: #666;
  line-height: 1.6;
  letter-spacing: -0.06rem;
  font-size: 1.5rem;
  width: 48%;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.m-t-8 .free-main ol li .right-free2 {
  color: #666;
  line-height: 1.6;
  letter-spacing: -0.06rem;
  font-size: 1.5rem;
  width: 48%;
  align-items: center;
  display: flex;
  justify-content: start;
}

.m-t-8 .free-main ol li .right-free p {
  font-size: 1.6rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: -0.064rem;
  text-align: left;
  color: #666;
}

.m-t-8 .free-main ol li .right-free span {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.87;
  letter-spacing: -0.06rem;
  text-align: left;
  color: #00a9ff;
  padding: 0.1rem 0.8rem;
  width: 7rem;
  height: 3rem;
  border-radius: 0.4rem;
  border: solid 0.1rem #00a9ff;
  background-color: #fff;
}

.m-t-8 .free-main ol li .right-free .lecture-btn {
  display: flex;
}

.m-t-8 .free-main ol li .right-free .lecture-btn button:nth-child(1) {
  cursor: pointer;
  width: 9.4rem;
  height: 4.8rem;
  border-radius: 0.2rem;
  background-color: #35f;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: -0.064rem;
  text-align: center;
  color: #fff;
  margin-right: 0.4rem;
}

.m-t-8 .free-main ol li .right-free .lecture-btn button:nth-child(2) {
  cursor: pointer;
  width: 9.4rem;
  height: 4.8rem;
  border-radius: 0.2rem;
  background-color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: -0.064rem;
  text-align: center;
  color: #35f;
  border: solid 0.1rem #4766ff;
}
.m-t-8 .free-main ol li .left-free b {
  font-size: 1.5rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.06rem;
  text-align: left;
  color: #1a1a1a;
  width: 10%;
}

.m-t-8 .free-main ol li .right-free2 b {
  font-size: 1.5rem;
  font-weight: 600;

  line-height: 1.6;
  letter-spacing: -0.06rem;
  text-align: left;
  color: #1a1a1a;
}

.m-t-8 .free-main ol li .right-free2 b:nth-child(1) {
  margin-left: 2rem;
}
.m-t-8 .free-main ol li .right-free2 b:nth-child(2) {
  margin-left: 3rem;
}
.m-t-8 .free-main ol li .right-free2 b:nth-child(3) {
  margin-left: 7rem;
}
.m-t-8 .free-main ol li .right-free2 b:nth-child(4) {
  margin-left: 7rem;
}
