// 마이페이지 start

.tab .right a strong {
  display: flex;
  font-weight: normal;
}

.tab .right a strong p {
  margin-left: 0.5rem;
}
.contents-box .contents-title {
  width: 100%;
  margin-bottom: 2.4rem;
  display: flex;
  align-items: center;
}

.join .lecture {
  margin-bottom: 4rem;
  background-color: #f9f9f9;
  display: flex;
  width: 100%;
  height: 8rem;
}

.join .lecture form {
  width: 100%;
  gap: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.join .lecture form .lecture-center {
  display: flex;
  width: 100%;
  gap: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.join .lecture form .classification {
  display: flex;
  align-items: center;
}

.join .lecture .classification label {
  line-height: 1.2;
  letter-spacing: -0.06rem;
  text-align: left;
  color: #444;
  font-size: 1.5rem;
  margin-right: 0.8rem;
}

.join .lecture .course label {
  margin-right: 0.7rem;
  width: 5rem;
  line-height: 1.2;
  letter-spacing: -0.06rem;
  text-align: left;
  color: #444;
  font-size: 1.5rem;
}

.join .lecture .classification .select {
  width: 16rem;
  height: 4.8rem;
}
.join .lecture .course .select {
  width: 16rem;
  height: 4.8rem;
}

.join .lecture .course {
  display: flex;
  align-items: center;
}

.join .lecture button {
  margin-left: 0.4rem;
  cursor: pointer;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 0.2rem;
  background-color: #35f;
}

.free-box {
  border-top: 0.2rem solid #000;
  width: 100%;
  max-width: 128rem;
  margin-bottom: 2.4rem;
}

.free-box ol li {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid #eee;
  align-items: center;
}

.free-box ol li:nth-child(1) {
  height: 4.8rem;
}

.free-box ol li .mycontents {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 10rem;
}
.free-box ol li .mycontents .mycontents-title {
  width: 55%;
  padding-left: 24px;
}
.free-box ol li .mycontents .mycontents-title .blue {
  font-size: 1.5rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.06rem;
  text-align: left;
  color: #35f;
}

.free-box ol li .mycontents .mycontents-title h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.072rem;
  text-align: left;
  color: #222;
}

.free-box ol li:nth-child(1) .mycontents .mycontents-title h4 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.06rem;
  text-align: left;
  color: #222;
}

.free-box ol li .mycontents .mycontents-info {
  display: flex;
  align-items: center;
  width: 25%;
}

.free-box ol li .mycontents .mycontents-info .info1 {
  white-space: nowrap;
  line-height: 1;
  width: 90px;
}

.free-box ol li .mycontents .mycontents-info .info1 span {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -0.056rem;
  text-align: left;
  color: #1a1a1a;
  display: none;
}

.free-box ol li .mycontents .mycontents-info .info2 {
  line-height: 1;
  width: 110px;
}

.free-box ol li:nth-child(1) .mycontents .mycontents-info .info2 {
  margin-left: -5.5%;
  white-space: nowrap;
}

.free-box ol li .mycontents .mycontents-info .info3 {
  white-space: nowrap;
  line-height: 1;
  width: 121px;
}

.free-box ol li .mycontents .mycontents-info .info3 span {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -0.056rem;
  text-align: left;
  color: #1a1a1a;
  display: none;
  display: none;
}

.free-box ol li .mycontents .mycontents-info strong {
  width: 3.2rem;
  font-size: 1.6rem;
  font-weight: normal;
  margin-right: 19.5%;
  line-height: 1.19;
  letter-spacing: -0.064rem;
  text-align: left;
  color: #666;
}

.free-box ol li:nth-child(1) .mycontents .mycontents-info strong:nth-child(1) {
  margin-left: 15%;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.06rem;
  text-align: left;
  color: #222;
}

.free-box ol li .mycontents .mycontents-info strong:nth-child(3) {
  font-size: 1.6rem;
  font-weight: normal;
  margin-left: 15%;
  line-height: 1.19;
  letter-spacing: -0.064rem;
  text-align: left;
  color: #666;
}

.free-box ol li .mycontents .mycontents-btn {
  width: 20%;
  display: flex;
  justify-content: end;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
}

.free-box ol li:nth-child(1) .mycontents .mycontents-btn {
  font-size: 1.5rem;
  line-height: 1.2;
  letter-spacing: -0.06rem;
  text-align: left;
  color: #222;
  width: 20%;
  display: flex;
  justify-content: start;
}
.free-box ol li:nth-child(1) .mycontents .mycontents-btn strong {
  font-weight: 600;
}
.free-box ol li .mycontents .mycontents-btn button:nth-child(1) {
  cursor: pointer;
  width: 9.4rem;
  height: 4.8rem;
  border-radius: 0.2rem;
  background-color: #35f;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: -0.064rem;
  text-align: center;
  color: #fff;
  margin-right: 0.4rem;
}

.free-box ol li .mycontents .mycontents-btn button:nth-child(2) {
  cursor: pointer;
  width: 9.4rem;
  height: 4.8rem;
  border-radius: 0.2rem;
  background-color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: -0.064rem;
  text-align: center;
  color: #35f;
  border: solid 0.1rem #4766ff;
}

.free-box ol li .free-box-left b {
  font-size: 1.5rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.06rem;
  text-align: left;
  color: #1a1a1a;
  width: 10%;
}

.free-box ol li .right-free2 b {
  font-size: 1.5rem;
  font-weight: 600;

  line-height: 1.6;
  letter-spacing: -0.06rem;
  text-align: left;
  color: #1a1a1a;
}

.free-box ol li .right-free2 b:nth-child(1) {
  margin-left: 2rem;
}

.free-box ol li .right-free2 b:nth-child(2) {
  margin-left: 3rem;
}

.free-box ol li .right-free2 b:nth-child(3) {
  margin-left: 7rem;
}

.free-box ol li .right-free2 b:nth-child(4) {
  margin-left: 7rem;
}

@media (max-width: 945px) {
  .tab .right a strong p {
    margin-left: 0rem;
  }

  .tab .right a strong {
    display: block;
  }
  .join .lecture {
    height: 15.2rem;
  }
  .join .lecture form {
    width: 100%;
    gap: 2%;
    display: block;
    align-items: center;
    justify-content: center;
  }

  .join .lecture form .lecture-center {
    width: 29.2rem;
    margin: 0 auto;
    display: block;
  }

  .join .lecture form .classification {
    margin-top: 2.4rem;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .join .lecture .course {
    margin-top: 0.8rem;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .free-box ol li:nth-child(1) {
    display: none;
  }
  .free-box ol li {
    height: 27rem;
  }

  .free-box ol li:nth-child(6) {
    display: none;
  }

  .free-box ol li .mycontents {
    position: relative;
    display: block;
    width: 100%;
    height: 27rem;
  }

  .free-box ol li .mycontents .mycontents-title h4 {
    -webkit-line-clamp: 2;
  }
  .free-box ol li .mycontents .mycontents-title {
    padding-top: 3.2rem;
    width: 100%;
    padding-left: 1rem;
  }

  .free-box ol li .mycontents .mycontents-title .blue {
    font-size: 1.5rem;
    margin-bottom: 10rem;
  }
  .free-box ol li .mycontents .mycontents-info {
    padding-bottom: 2.4rem;
    padding-top: 2.4rem;
    padding-left: 1rem;
    display: block;
    width: 100%;
  }

  .free-box ol li .mycontents .mycontents-info .info1 {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  .free-box ol li .mycontents .mycontents-info .info3 {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  .free-box ol li .mycontents .mycontents-btn {
    width: 100%;
    display: flex;
    justify-content: start;

    padding-left: 1rem;
  }

  .free-box ol li .mycontents .mycontents-info .info1 span {
    display: block;
  }

  .free-box ol li .mycontents .mycontents-info .info1 span:nth-child(2) {
    color: #eee;
    display: block;
  }

  .free-box ol li .mycontents .mycontents-info .info3 span {
    display: block;
  }

  .free-box ol li .mycontents .mycontents-info .info3 span:nth-child(2) {
    color: #eee;
    display: block;
  }

  .free-box ol li .mycontents .mycontents-info strong:nth-child(3) {
    margin-left: 0%;
  }

  .join .lecture .classification .select {
    width: 18rem;
  }
  .join .lecture .course .select {
    width: 18rem;
  }

  #my-position {
    position: absolute;
    top: 2rem;
    right: 1rem;
  }
}

// 마이페이지 학생용 끝 //

// 마이페이지 학부모 시작 //
.join-sp-tb {
  margin-bottom: 2.4rem;
}

.join-sp-tb .tb-mob {
  display: none;
}

.join-sp-tb thead tr {
  border-top: 0.2rem solid #1a1a1a;
  height: 4.8rem;
  border-bottom: 0.1rem solid #eee;
}

.join-sp-tb tbody tr {
  border-bottom: 0.1rem solid #eee;
  height: 6.4rem;
}

.join-sp-tb tbody tr th:nth-child(1) {
  padding-left: 2.4rem;
}

.join-sp-tb thead tr th:nth-child(1) {
  padding-left: 2.4rem;
}

.join-sp-tb tbody tr th {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.06rem;
  text-align: left;
  color: #1a1a1a;
}

.join-sp-tb tbody tr th {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: -0.064rem;
  text-align: left;
  color: #666;
}

.join-sp-tb thead tr th {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.06rem;
  text-align: left;
  color: #1a1a1a;
}

.join-sp-tb tbody tr td {
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: -0.064rem;
  text-align: left;
  color: #666;
}

.join-sp-tb tbody tr td:nth-child(2) {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.072rem;
  text-align: left;
  color: #222;
}

@media (max-width: 768px) {
  .join-sp-tb {
    flex-wrap: wrap;
    border-top: 0.2rem solid #1a1a1a;
    display: flex;
    width: 100%;
  }
  .join-sp-tb .tb-mob {
    border-bottom: 0.1rem solid #eee;
    display: flex;
    width: 5%;
  }

  .join-sp-tb .tb-mob tr td {
    font-weight: normal;
    color: #eee;
  }

  .join-sp-tb .tb-mob tr td:nth-child(2) {
    font-weight: normal;
    color: #eee;
  }

  .join-sp-tb thead {
    width: 30%;
    padding-top: 2rem;
    border-bottom: 0.1rem solid #eee;
    height: 24rem;
  }

  .join-sp-tb thead tr {
    margin-left: 1rem;
    border: 0;
    display: flex;
    flex-direction: column;
  }

  .join-sp-tb thead tr th {
    line-height: 1.17;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  .join-sp-tb thead tr th:nth-child(1) {
    padding-left: 0rem;
  }

  .join-sp-tb tbody {
    border-bottom: 0.1rem solid #eee;
    width: 65%;
    padding-top: 2rem;
    height: 24rem;
    display: flex;
  }

  .join-sp-tb tbody tr {
    border: 0;
    display: flex;
    flex-direction: column;
  }
  .join-sp-tb tbody tr th {
    line-height: 1.17;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  .join-sp-tb tbody tr td {
    line-height: 1.17;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  .join-sp-tb tbody tr th:nth-child(1) {
    padding-left: 0rem;
  }

  .join-sp-tb tbody tr td:nth-child(2) {
    font-size: 1.4rem;
    color: #666;
  }
}
// 조인시작//
.join {
  &.contents {
    padding-top: 4rem;
  }

  &-choose {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .item {
      width: calc(33.3% - 1.6rem);
      border: 1px solid #eee;
      border-radius: 1.6rem;
      margin: 0 2.4rem 2.4rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 4rem 0;

      &:nth-child(3n) {
        margin-right: 0;
      }
      &:nth-child(n + 4) {
        margin-bottom: 0;
      }

      h5 {
        font-size: 2rem;
        color: map-get($color, primary);
        letter-spacing: -0.08rem;
        font-family: map-get($ftStyle, secondary);
        margin: 1.5rem 0 0.7rem;
      }

      p {
        text-align: center;
        font-size: 1.6rem;
        letter-spacing: -0.064rem;
        line-height: 1.63;

        span {
          color: #3355ff;
          font-weight: 600;
        }
      }

      button {
        width: 18rem;
        height: 4.8rem;
        color: #fff;
        line-height: 4.8rem;
        font-size: 1.6rem;
        font-weight: 500;
        border-radius: 0.2rem;
        margin-top: 1.9rem;

        &.skyblue {
          background: #00a9ff;
        }
        &.blue {
          background: #3355ff;
        }
        &.green {
          background: #00a388;
        }
        &.purple {
          background: #8548fe;
        }
      }

      .img-box {
        width: 12rem;
        height: 12rem;
        background: #f0f6fa;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-width: 6.4rem;
          max-height: 6.4rem;
        }
      }

      .bottom {
        text-align: center;
      }
    }
  }

  &-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 2.9rem;

    .img-box {
      width: 4.8rem;
      height: 4.8rem;
      margin-bottom: 0.7rem;

      .active {
        display: none;
      }
    }

    p {
      font-size: 1.5rem;
      font-family: map-get($ftStyle, secondary);
      color: #aaa;
      letter-spacing: -0.06rem;
    }

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 5.1rem;
      position: relative;

      &::after {
        content: "";
        width: 0.9rem;
        height: 1.6rem;
        background: url(/img/join_nav_arrow.png) no-repeat center;
        position: absolute;
        top: 50%;
        right: -3.4rem;
        transform: translate(-50%, -50%);
      }

      &:last-child {
        margin-right: 0;

        &::after {
          display: none;
        }
      }

      &.active {
        p {
          color: map-get($color, primary);
        }

        .active {
          display: block;
        }

        .none {
          display: none;
        }

        &::after {
          background-image: url(/img/join_nav_arrow_on.png);
        }
      }
    }
  }

  &-title {
    display: flex;
    align-items: center;
    padding-bottom: 0.7rem;
    border-bottom: 2px solid #1a1a1a;
    margin-bottom: 1.6rem;

    .icon-box {
      width: 4rem;
      height: 4rem;
    }

    h3 {
      font-size: 2.4rem;
      letter-spacing: -0.096rem;
      color: map-get($color, primary);
      font-family: map-get($ftStyle, secondary);
    }
  }

  .gray-box {
    width: 100%;
    padding: 2.4rem;
    background: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 0.4rem;

    &.flex {
      display: flex;
      align-items: center;
    }
  }

  &-contents {
    .checkbox {
      &__inp {
        margin-right: 1rem;
      }

      &__label {
        span {
          font-size: 1.5rem;
          color: #3355ff;
          margin-left: 0.6rem;
          font-weight: 500;
        }
      }

      &-all {
        font-size: 2rem;
        letter-spacing: -0.08rem;
        color: map-get($color, primary);
        font-weight: 600;
      }
    }

    .btn-area {
      display: flex;
      justify-content: center;
      margin: 4rem 0 2.4rem;

      .btn {
        width: 24rem;
        height: 5.6rem;
        line-height: 5.6rem;
        margin: 0 0.4rem;
      }
    }
  }

  &-agree {
    li {
      border: 1px solid #e5e5e5;
      border-radius: 0.4rem;
      margin-top: 0.4rem;

      a {
        display: flex;
        padding: 2rem 2.4rem;
        align-items: center;
        background: #f9f9f9;
      }

      div {
        width: 100%;
        height: 24rem;
        padding: 2.4rem;
        overflow-y: auto;

        p {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .join {
    &-choose {
      .item {
        width: calc(50% - 1.2rem);

        &:nth-child(2n) {
          margin-right: 0;
        }
        &:nth-child(4) {
          margin-bottom: 2.4rem;
        }
      }
    }
  }
}

@include mobile {
  .join {
    &-choose {
      .item {
        width: 100%;
        margin: 0 0 0.4rem !important;
        padding: 1.6rem 2.4rem;
        flex-direction: row;

        &:last-child {
          margin-bottom: 0 !important;
        }

        p {
          display: none;
        }

        h5 {
          font-size: 1.8rem;
          margin: 0;
        }

        button {
          width: 9rem;
          height: 4rem;
          line-height: 4rem;
          margin-top: 0.8rem;

          span {
            display: none;
          }
        }

        .img-box {
          width: 8rem;
          height: 8rem;

          img {
            max-width: 4.8rem;
            max-height: 4.8rem;
          }
        }

        .bottom {
          display: flex;
          flex-direction: column;
          margin-left: 2rem;
        }
      }
    }

    &-nav {
      .img-box {
        width: 4rem;
        height: 4rem;
        margin-bottom: 0.8rem;
      }

      li {
        margin-right: 3.3rem;

        &::after {
          right: -2.6rem;
        }
      }
    }

    &-title {
      align-items: flex-start;
    }

    &-contents {
      .checkbox {
        &-all {
          font-size: 1.8rem;
        }

        &__label {
          span {
            font-size: 1.4rem;
          }
        }

        &__inp {
          width: 1.8rem;
          height: 1.8rem !important;
        }
      }
    }

    .gray-box {
      padding: 2.5rem 0 2.5rem 1.6rem;
    }
  }
}
// 조인 끝 //
