.footer {
  width: 100%;

  background: #222;
  padding: 32px 0;
  .inner {
    width: 100%;
    position: relative;
    max-width: 1280px;
    margin: -15px auto;

    .siteWrap {
      align-items: center;
      display: flex;
      width: 100%;
      .mobile_only {
        display: flex;
        width: 90%;
        color: #ccc;
        gap: 4%;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: -0.72px;
        text-align: left;
      }
      .relevant-site {
        select {
          border-radius: 4px;
          border: solid 1px #aaa;
          background-color: #222;
          width: 240px;
          height: 48px;
          font-size: 16px;
          font-weight: 500;
          color: #aaa;
          -o-appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background: url("../img/footer_arrow.png") no-repeat 93% 50%/15px auto;
          padding-left: 20px;
        }
      }
    }
  }
  .line {
    width: 100%;
    margin-top: 31px;
    border: 1px solid #444;
  }
  .footer-bottom {
    width: 100%;
    position: relative;
    max-width: 1280px;
    display: flex;
    margin: 20px auto;
    h1 {
      width: 26%;
      .relevant-site {
        display: none;
      }
    }

    .information {
      letter-spacing: -0.64px;
      font-size: 16px;
      color: #aaa;
      width: 100%;
      max-width: 1050px;
      display: flex;
      justify-content: start;
      flex-wrap: wrap;
      p {
        margin-right: 20px;
      }
    }
  }
}
