.footer {
  width: 100%;
  height: 199px;
  background: #222;
  padding: 32px 0;
  .inner {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  .siteWrap {
    width: 100%;
    .mobile_only {
      display: flex;
    }
  }
}
