// 페이지네이션
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    &-control {
        font-size: 0;

        &--prev {
            margin-right: 0.5rem;
            margin-left: -0.5rem;
        }

        &--next {
            margin-left: 0.5rem;

            i {
                transform: rotate(180deg);
            }
        }
    }

    button {
        min-width: 4rem;
        height: 4rem;
        border-radius: 0.3rem 0 0 0.3rem;
        border: 0.1rem solid #ccc;
        text-align: center;
        line-height: 4rem;
        position: relative;

        i {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            &.reverse {
                transform: rotate(180deg) translate(50%, 50%);
            }
        }

        &.prev {
            margin-left: -0.5rem;
            border-left: none;
        }

        &.next {
            margin-right: -0.5rem;
            border-right: none;
        }
    }


    &-list {
        display: flex;

        li {
            border: none;
            text-align: center;
            line-height: 4rem;
            position: relative;
            color: #666;

            a {
                display: block;
                width: 4rem;
                height: 4rem;
            }
        }

        li.is_active {
            background-color: #4766ff;
            border: none;
            color: #fff;
            border-radius: 0.2rem;
        }
    }
}

.icon-pagination {
    width: 0.6rem;
    height: 1rem;
    background: url(/img/icon-pagination.svg)no-repeat center / 100%;
    display: inline-block;

}

.icon-pagination--d {
    width: 1.2rem;
    height: 1rem;
    background: url(/img/icon-pagination--d.svg)no-repeat center / 100%;
    display: inline-block;
}

// 로그인 페이지 피씨 start 
.contents-box {
    .login-border {
        width: 100%;
        border-top: 2px solid #1a1a1a;
        padding: 8rem 2rem 4rem;
        .login-contents {
            max-width: 416px;
            margin: 0 auto;
            .idPw {
                display: block;
            }
    
            input[type=text],
            input[type=password] {
                width: 100%;
                height: 4.8rem;
                border-bottom: 1px solid #222;
                border-top: none;
                border-left: none;
                border-right: none;
                border-radius: 0;
                margin-bottom: 2.4rem;
                padding-left: 1rem;
            }
    
            .btn-login {
                width: 100%;
                margin-top: 4rem;
            }
            .btn-find {
                display: flex;
                width: 100%;
                padding: 19px 0 17px 0;
                border-bottom: 1px solid #eee;
                font-size: 16px;
                font-weight: 600;
                line-height: 1.63;
                letter-spacing: -0.64px;
                text-align: center;
                color: #35f;
                a::after {
                    content: "";
                    background: url(/img/arrow-blue--s.svg);
                    display: inline-block;
                    margin: 0px 0 -1px 8px;
                    width: 8px;
                    height: 14px;
                    vertical-align: initial;
    
                }
                &--id {
                    width: 50%;
                }
                &--pw {
                    width: 50%;
                    border-left: 1px solid #eee;
                }
                
            }
            .btn-join {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 2.4rem;
            }
        }
        
    }
}

// 로그인 페이지 모바일 start 
@media all and (max-width: 768px) {
    .contents-box {
        .login-border {
            padding: 4rem 2rem;
            .login-contents {
                .btn-join {
                    span {
                        width: 69%;
                    }
                    button {
                        width: 9.4rem;
                    }
                }
            }
        }
    }
}