// 페이지네이션
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    &-control {
        font-size: 0;

        &--prev {
            margin-right: 0.5rem;
            margin-left: -0.5rem;
        }

        &--next {
            margin-left: 0.5rem;

            i {
                transform: rotate(180deg);
            }
        }
    }

    button {
        min-width: 4rem;
        height: 4rem;
        border-radius: 0.3rem 0 0 0.3rem;
        border: 0.1rem solid #ccc;
        text-align: center;
        line-height: 4rem;
        position: relative;

        i {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            &.reverse {
                transform: rotate(180deg) translate(50%, 50%);
            }
        }

        &.prev {
            margin-left: -0.5rem;
            border-left: none;
        }

        &.next {
            margin-right: -0.5rem;
            border-right: none;
        }
    }


    &-list {
        display: flex;

        li {
            border: none;
            text-align: center;
            line-height: 4rem;
            position: relative;
            color: #666;

            a {
                display: block;
                width: 4rem;
                height: 4rem;
            }
        }

        li.is_active {
            background-color: #4766ff;
            border: none;
            color: #fff;
            border-radius: 0.2rem;
        }
    }
}

.icon-pagination {
    width: 0.6rem;
    height: 1rem;
    background: url(/img/icon-pagination.svg)no-repeat center / 100%;
    display: inline-block;

}

.icon-pagination--d {
    width: 1.2rem;
    height: 1rem;
    background: url(/img/icon-pagination--d.svg)no-repeat center / 100%;
    display: inline-block;
}

// 로그인 페이지 피씨 start 
.contents-box {
    .login-border {
        width: 100%;
        border-top: 2px solid #1a1a1a;
        padding: 8rem 2rem 4rem;

        .login-contents {
            max-width: 416px;
            margin: 0 auto;

            .idPw {
                display: block;
            }

            input[type=text],
            input[type=password] {
                width: 100%;
                height: 4.8rem;
                border-bottom: 1px solid #222;
                border-top: none;
                border-left: none;
                border-right: none;
                border-radius: 0;
                margin-bottom: 2.4rem;
                padding-left: 1rem;
            }

            .btn-login {
                width: 100%;
                margin-top: 4rem;
            }

            .btn-find {
                display: flex;
                width: 100%;
                padding: 19px 0 17px 0;
                border-bottom: 1px solid #eee;
                font-size: 16px;
                font-weight: 600;
                line-height: 1.63;
                letter-spacing: -0.64px;
                text-align: center;
                color: #35f;

                a::after {
                    content: "";
                    background: url(/img/arrow-blue--s.svg);
                    display: inline-block;
                    margin: 0px 0 -1px 8px;
                    width: 8px;
                    height: 14px;
                    vertical-align: initial;

                }

                &--id {
                    width: 50%;
                }

                &--pw {
                    width: 50%;
                    border-left: 1px solid #eee;
                }

            }

            .btn-join {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 2.4rem;
            }
        }

    }
}

.required {
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background: #35f;
    margin: 0.3rem 0 0 0.4rem;
}

.input-dot {
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background: #000e52;
    margin: 0 0.8rem 0.2rem 0 ;
    vertical-align: middle;
}

.join {
    .join-contents {
        .gray-box2 {
            width: 100%;
            padding: 2.4rem;
            background: #f9f9f9;
            border: 1px solid #e5e5e5;
            border-radius: 0.4rem;
    
            ul {
                li {
                    font-size: 1.5rem;
                    font-weight: normal;
                    line-height: 1.73;
                    letter-spacing: -0.6px;
                    text-align: left;
                    color: #444;
                }
            }
        }
        .search2 {
            min-height: 16.2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
        }
    }
    .join-table {
        tbody {
            tr {
                th {
                    width: 16.67%;
                    padding: 2.5rem 0 2.5rem 2.5rem;
                    font-size: 1.5rem;
                    line-height: 1;
                }
    
                td {
                    div {
                        display: flex;
                        align-items: center;
                    }
    
                    input[type=text] {
                        height: 4.8rem;
                        line-height: 4.8rem;
                        padding: 0 3rem 0 1rem;
                        border-color: #ccc;
                    }
    
                    input.w-560-2 {
                        width: 57.5%;
                    }
    
                    input.w-100p {
                        width: 84.8%;
                    }
                    .confirmed {
                        display: inline-flex;
                        font-size: 1.4rem;
                        font-weight: 500;
                        color: #ccc;
                        letter-spacing: -0.056rem;
                        height: 4.8rem;
                        align-items: center;
                        margin-left: 1rem;
                    }
                    .p-gray {
                        
                        font-size: 14px;
                        font-style: normal;
                        line-height: 1.14;
                        letter-spacing: -0.56px;
                        text-align: left;
                        color: #666;
                    }
                    .hyphen {
                        margin: 0 0.4rem;
                    }
                    .send-check {
                        font-size: 1.5rem;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.2;
                        letter-spacing: -0.3px;
                        text-align: left;
                        color: #444;margin-bottom: 1rem;
                    }
                    .td-name {
                        font-size: 2rem;
                        font-weight: 600;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.2;
                        letter-spacing: -0.8px;
                        text-align: left;
                        color: #222;
                    }
                    .td-birth {
                        font-size: 16px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.6;
                        letter-spacing: -0.32px;
                        text-align: left;
                        color: #444;
                        margin-left: 0.8rem;
                    }
                }
            }
        }
    }
}




// 로그인 페이지 모바일 start 
@media all and (max-width: 768px) {
    .contents-box {
        .login-border {
            padding: 4rem 2rem;

            .login-contents {
                .btn-join {
                    span {
                        width: 69%;
                    }

                    button {
                        width: 9.4rem;
                    }
                }
            }
        }
    }
    .join {
        .join-contents {
            .gray-box2 {
                width: 100%;
                padding: 2.4rem;
                background: #f9f9f9;
                border: 1px solid #e5e5e5;
                border-radius: 0.4rem;
        
                ul {
                    li {
                        font-size: 1.5rem;
                        font-weight: normal;
                        line-height: 1.73;
                        letter-spacing: -0.6px;
                        text-align: left;
                        color: #444;
                    }
                }
            }
            .search2 {
                min-height: 16.2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative;
            }
        }
        .join-table {
            tbody {
                tr {
                    th {
                      width: 27%!important;
                    }
        
                    td {
                        .input-id {
                            display: flex;
                           flex-wrap: wrap;
                        }
                        .input-email {
                            flex-wrap: wrap;
                        }
        
                        input[type=text] {
                            
                        }
        
                        input.w-560-2 {
                            width: 57.5%;
                        }
        
                        input.w-100p {
                            width: 84.8%;
                        }
                        .confirmed {
                            font-size: 14px;
                            font-weight: normal;
                            line-height: 1.57;
                            letter-spacing: -0.56px;
                            text-align: left;
                        }
                        .p-gray {
                            font-size: 14px;
                            font-weight: normal;
                            line-height: 1.57;
                            letter-spacing: -0.56px;
                            text-align: left;
                        }
                        .hyphen {
                            
                        }
                        .send-check {
                            font-size: 14px;
                            font-weight: normal;
                            line-height: 1.57;
                            letter-spacing: -0.56px;
                        }
                        .td-name {
                            font-size: 1.8rem;
                        }
                        .td-birth {
                            
                        }
                    }
                }
            }
        }
    }
    
    
}