// 채용정보알림신청
.txt-blue {
    font-size: 1.5rem;
    text-align: center;
    color: #4766ff;
}

table.table-recruit {
    border-top: 1px solid #18297a;

    tbody {
        tr {
            border-bottom: 1px solid #e4e6ee;

            th {
                height: 8rem;
                padding: 2.4rem 0 2.4rem 3rem;
                border: none;
                color: #18297a;
                font-weight: 600;
                background-color: #f5f7ff;
                text-align: left;
            }

            td {
                border: none;
                padding-left: 2.4rem;

                input {
                    height: 4.8rem;
                }

                select {
                    height: 4.8rem;
                }

                .td_span {
                    line-height: 4rem;
                }

                .btn {
                    display: inline-block;
                }
            }
        }
    }
}

.btn_area {
    display: flex;
    justify-content: center;
}


