// 채용정보알림신청
.txt-blue {
    font-size: 1.5rem;
    text-align: center;
    color: #4766ff;
}

table.table-recruit {
    border-top: 1px solid #18297a;

    tbody {
        tr {
            border-bottom: 1px solid #e4e6ee;

            th {
                height: 8rem;
                padding: 2.4rem 0 2.4rem 3rem;
                border: none;
                color: #18297a;
                font-weight: 600;
                background-color: #f5f7ff;
                text-align: left;
            }

            td {
                border: none;
                padding-left: 2.4rem;

                input {
                    height: 4.8rem;
                }

                select {
                    height: 4.8rem;
                }

                .td_span {
                    line-height: 4rem;
                }

                .btn {
                    display: inline-block;
                }
            }
        }
    }
}

.btn_area {
    display: flex;
    justify-content: center;
}

.board_top {
    display: flex;
    justify-content: space-between;

    &--total {
        font-size: 1.6rem;
        color: #888;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: -0.064rem;
        text-align: left;
        height: 4.8rem;
        line-height: 4.8rem;

        strong {
            color: #4766ff;
        }
    }

    &--srch {
        select {
            border-color: #ccc;
            height: 4.8rem;
            padding: 0 10px;
            font-size: 16px;
            color: #222;
            letter-spacing: -0.64px;
            border-radius: 2px;
        }
    }
}

.free-main2 {
    border-top: 0.2rem solid #000;
    width: 100%;
    max-width: 128rem;
    margin-top: 0.8rem;

    ol {
        li {
            display: flex;
            justify-content: space-between;
            border-bottom: 0.1rem solid #eee;

            .left-free2 {
                width: 60%;
                display: flex;
                margin-left: 2rem;
                align-items: center;
            }

            .right-free2 {
                color: #666;
                line-height: 1.6;
                letter-spacing: -0.06rem;
                font-size: 1.5rem;
                width: 40%;
                align-items: center;
                display: flex;
                justify-content: space-around;
            }

            &.left-p25 {
                padding: 2.5rem 0 !important;
                height: auto;

                .ico_provider {
                    padding: 1.7rem 1.3rem 0.7rem;
                    border-radius: 1.6rem;
                    box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.08);
                    border: solid 1px #eee;
                    background-color: #fff;

                }
            }
        }

        li:nth-child(1) {
            height: 4.8rem;
        }
    }
}

.w-130 {
    min-width: 13rem;
}

.w-160 {
    min-width: 16rem;
}

.w-a {
    width: auto !important;
}

.bg-white {
    background-color: #fff !important;
}

.announ2 {
    color: #35f;
    width: 12%;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: -0.06rem;
}