// 채용정보알림신청
.txt-blue {
    font-size: 1.5rem;
    color: #4766ff;
}

.w-130 {
    min-width: 13rem;
}

.w-160 {
    min-width: 16rem;
}

.w-a {
    width: auto !important;
}

.bg-white {
    background-color: #fff !important;
}

.announ2 {
    color: #35f;
    width: 12%;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: -0.06rem;
}

table.table-recruit {
    border-top: 1px solid #18297a;

    tbody {
        tr {
            border-bottom: 1px solid #e4e6ee;

            th {

                padding: 2.4rem 0 2.4rem 3rem;
                border: none;
                color: #18297a;
                font-weight: 600;
                background-color: #f5f7ff;
                text-align: left;
            }

            td {
                border: none;
                padding: 2.4rem 0 2.4rem 2.4rem;

                input[type=text] {
                    height: 4.8rem;
                    line-height: 4.8rem;
                    padding: 0 3rem 0 1rem;
                    border-color: #ccc;
                }

                select {
                    height: 4.8rem;
                }

                .td_span {
                    line-height: 4rem;
                }

                .btn {
                    display: inline-block;
                }
            }

            td.notifyCheck {
                display: flex;
            }
        }
    }
}

.btn_area {
    display: flex;
    justify-content: center;
}

// 분야별채용공고,채용정보검색 리스트
.board_top {
    display: flex;
    justify-content: space-between;

    &--total {
        font-size: 1.6rem;
        color: #888;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: -0.064rem;
        text-align: left;
        height: 4.8rem;
        line-height: 4.8rem;

        strong {
            color: #4766ff;
        }
    }

    &--srch {
        select {
            border-color: #ccc;
            height: 4.8rem;
            padding: 0 10px;
            font-size: 16px;
            color: #222;
            letter-spacing: -0.64px;
            border-radius: 2px;
        }
    }
}

.free-main2 {
    border-top: 0.2rem solid #000;
    width: 100%;
    max-width: 128rem;
    margin-top: 0.8rem;

    ol {
        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 0.1rem solid #eee;

            .left-free2 {
                width: 55%;
                display: flex;
                margin-left: 2rem;
                align-items: center;
            }

            .right-free2 {
                color: #666;
                line-height: 1.6;
                letter-spacing: -0.06rem;
                font-size: 1.5rem;
                width: 45%;
                align-items: center;
                display: flex;
                justify-content: space-around;
            }

            &.left-padding {
                padding: 2.5rem 0 !important;
                height: auto;

                .ico_provider {

                    img {
                        width: 48px;
                        height: 48px;
                        padding: 1.7rem 1.3rem 1.6rem;
                        border-radius: 1.6rem;
                        box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.08);
                        border: solid 1px #eee;
                        background-color: #fff;
                    }

                }
            }
        }

        li:nth-child(1) {
            height: 4.8rem;
        }
    }
}

// 채용정보사이트
.title_info--mo {
    display: none;
}
.title_link--mo {
    display: none;
}
.free-main3 {
    border-top: 0.2rem solid #000;
    width: 100%;
    max-width: 128rem;
    margin-top: 0.8rem;

    ol {
        li {
            display: flex;
            border-bottom: 1px solid #eee;
            padding: 8px 0;
            align-items: center;

            .left-free3 {
                width: 282px;
                height: 158px;
                border-radius: 4px;
                border: 1px solid #e5e5e5;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }

            .right-free3 {
                padding: 1.3rem 2.5rem;
                color: #666;
                line-height: 1.6;
                letter-spacing: -0.06rem;
                font-size: 1.5rem;

                h4 {
                    font-size: 2rem;
                    font-weight: 600;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.2;
                    letter-spacing: -0.4px;
                    text-align: left;
                    color: #222;
                    margin-bottom: 1.2rem;
                }

                h4::after {
                    content: '';
                    background: url(/img/ico_link.svg);
                    display: inline-block;
                    margin-left: 0.8rem;
                    width: 16px;
                    height: 16px;
                    vertical-align: initial;
                }

                .title_info {
                    margin-bottom: 2rem;
                    font-size: 1.6rem;
                    font-weight: normal;
                    line-height: 1.63;
                    letter-spacing: -0.64px;
                    text-align: left;
                    color: #666;
                    overflow: hidden;
                    width: 65rem;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }

                .title_link {
                    color: #3355ff;
                    font-size: 1.4rem;
                    font-weight: normal;
                    line-height: 1.14;
                    letter-spacing: normal;
                    text-align: left;
                }
            }
        }

        li:nth-chiild(1) {
            height: auto;

        }
    }
}

// 채용정보 검색
.contents {
    .contents_detail {
        width: 100%;
        border-bottom: 1px solid #e5e5e5;
        &--tit {
            display: flex;
            align-items: baseline;
            width: 100%;
            p {
                padding-bottom: 0.8rem;
                font-size: 2rem;
                font-family: "ONE-Mobile-Title";
                color: #222;
                line-height: 1; 
            }
            img {
                margin-left: 1rem;
            }
        }
        &--open {
            display: none;
        }
        // &--tit::after {
        //     content: '';
        //     // background-image: url(/img/ico_arrow--top.svg);
        //     width: 16px;
        //     height: 9px;
        //     display: inline-block;
        //     vertical-align: middle;
        //     margin-left: 1rem;
        // }
    }
}


// 모바일 시작
@media all and (max-width: 768px) {
    input[type=text] {
        height: 4rem;
        line-height: 4rem;
        padding-left: 1.5rem;
        border-radius: 0.2rem;
        border: solid 0.1rem #ccc;

    }

    /*채용정보알림신청*/
    .contents-box {
        table.table-recruit {
            select {
                height: 4rem;
                line-height: 4rem;
            }

            .checkbox__label,
            .radio__label {
                font-size: 1.3rem;
            }

            .txt-blue {
                font-size: 1.4rem;
            }

            .btn--size-m {
                width: 9.4rem;
                height: 4rem;
                font-weight: 500;
                font-size: 1.5rem;
                letter-spacing: -0.064rem;
            }

            tbody {
                tr {
                    th {
                        font-size: 1.3rem;
                        width: 30%;
                        padding: 0 2.4rem 0 1.2rem;
                    }

                    td {
                        font-size: 1.3rem;
                        padding: 2rem 1rem;

                        input[type=text] {
                            height: 4rem;
                            line-height: 4rem;
                            padding: 0 3rem 0 1rem;
                            border-color: #ccc;
                        }

                    }

                    td.input_keyword {
                        input {
                            margin-bottom: 0.5rem;
                        }

                        input:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }


}

@media all and (max-width: 390px) {

    /*분야별채용공고*/
    .listType-header {
        .board_top {
            display: block;
        }

        .free-main2 {
            margin-top: 1.5rem;

            ol {
                li {
                    display: block;

                    .left-free2 {
                        width: 100%;
                        margin-left: 1rem;

                        .left-free--title {
                            h4 {
                                a {
                                    font-weight: 600;
                                }
                            }
                        }
                    }

                    .right-free2 {
                        position: relative;
                        margin-top: 2rem;
                        width: 100%;
                        flex-wrap: wrap;
                        justify-content: flex-start;

                        p {
                            margin-left: 1rem;
                            margin-right: 0.7rem;
                        }

                        p:nth-child(1)::before {
                            content: '학력';
                            padding-right: 0.4rem;
                            margin-right: 0.4rem;
                            border-right: 1px solid #eee;
                            color: #1a1a1a;
                            font-size: 14px;
                            font-weight: 600;
                        }

                        p:nth-child(2)::before {
                            content: '경력';
                            padding-right: 0.4rem;
                            margin-right: 0.4rem;
                            border-right: 1px solid #eee;
                            color: #1a1a1a;
                            font-size: 14px;
                            font-weight: 600;
                        }

                        p:nth-child(3)::before {
                            content: '등록일';
                            padding-right: 0.4rem;
                            margin-right: 0.4rem;
                            border-right: 1px solid #eee;
                            color: #1a1a1a;
                            font-size: 14px;
                            font-weight: 600;
                        }

                        p:nth-child(4)::before {
                            content: '지원 마감일';
                            padding-right: 0.4rem;
                            margin-right: 0.4rem;
                            border-right: 1px solid #eee;
                            color: #1a1a1a;
                            font-size: 14px;
                            font-weight: 600;
                        }

                        span {
                            display: block;
                        }

                        .ico_provider {
                            position: absolute;
                            right: 0;

                            img {
                                width: 4rem;
                                height: 4rem;
                                padding: 1.2rem 0.9rem;
                                border-radius: 1.2rem;
                            }
                        }
                    }

                    &.free-title {
                        display: none;
                    }

                    &.left-padding {
                        padding: 2rem 0 !important;
                    }
                }

            }
        }

        /*채용정보사이트*/
        .free-main3 {
            .title_link {
                display: none;
            }
            .title_info {
                display: none!important;
            }
            .title_link--mo {
                color: #35f;
                width: 16rem;
                line-height: 1.23;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                word-break: break-all;
            }
            .title_info--mo {
                margin-top: 1.2rem;
                font-size: 1.4rem;
                font-weight: normal;
                line-height: 1.71;
                letter-spacing: -0.56px;
                text-align: left;
                color: #666;
                width: 35rem;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            ol {
                li {
                    display: flex;
                    flex-wrap: wrap;
                    .left-free3 {
                        width: 16rem;
                        height: 9rem;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .right-free3 {
                        padding: 0 1rem;
                        width: calc(100% - 16rem);
                        h4 {
                            font-size: 1.8rem;
                            font-weight: 600;
                            line-height: 1.44;
                            letter-spacing: -1.36px;
                            margin-bottom: 0.5rem;
                        }
                    }
                    
                }
            }
        }

    }

}