// 채용정보알림신청
.txt-blue {
    font-size: 15px;
    text-align: center;
    color: #4766ff;
}

table.table-recruit {
    border-top: 1px solid #18297a;

    tbody {
        tr {
            border-bottom: 1px solid #e4e6ee;

            th {
                height: 80px;
                padding: 24px 0 24px 30px;
                border: none;
                color: #18297a;
                background-color: #f5f7ff;
                text-align: left;
            }

            td {
                border: none;
                padding-left: 24px;

                input {
                    max-width: 240px;
                    height: 48px;
                }
                select {
                    height: 48px;
                }
                .td_span {
                    line-height: 40px;
                }
            }
        }
    }
}

input[type="radio"] {
    width: 18px;
    height: 18px!important;
    display: inline-block;
        vertical-align: text-top;
        margin-right: 5px;
    
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    color: #222;
    font-size: 16px;
    margin-right: 10px;
}

// input[type="radio"] + label span {
//     display: inline-block;
//     vertical-align: text-top;
//     margin-right: 5px;
//     width: 18px;
//     height: 18px;
//     background-color: #fff;
//     border: 1px solid #444;
//     border-radius: 50%;
    
// }

// input[type="radio"]:checked + label span {
//     border: 6px solid #3355ff;
// }