// 채용정보알림신청
.txt-blue {
    font-size: 1.5rem;
    color: #4766ff;
}

table.table-recruit {
    border-top: 1px solid #18297a;

    tbody {
        tr {
            border-bottom: 1px solid #e4e6ee;

            th {
                
                padding: 2.4rem 0 2.4rem 3rem;
                border: none;
                color: #18297a;
                font-weight: 600;
                background-color: #f5f7ff;
                text-align: left;
            }

            td {
                border: none;
                padding: 2.4rem 0 2.4rem 2.4rem;

                input[type=text] {
                    height: 4.8rem;
                    line-height: 4.8rem;
                    padding: 0 3rem 0 1rem;
                    border-color: #ccc;
                }

                select {
                    height: 4.8rem;
                }

                .td_span {
                    line-height: 4rem;
                }

                .btn {
                    display: inline-block;
                }
            }
            td.notifyCheck {
                display: flex;
            }
        }
    }
}

.btn_area {
    display: flex;
    justify-content: center;
}

// 분야별채용공고,채용정보검색 리스트
.board_top {
    display: flex;
    justify-content: space-between;

    &--total {
        font-size: 1.6rem;
        color: #888;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: -0.064rem;
        text-align: left;
        height: 4.8rem;
        line-height: 4.8rem;

        strong {
            color: #4766ff;
        }
    }

    &--srch {
        select {
            border-color: #ccc;
            height: 4.8rem;
            padding: 0 10px;
            font-size: 16px;
            color: #222;
            letter-spacing: -0.64px;
            border-radius: 2px;
        }
    }
}

.free-main2 {
    border-top: 0.2rem solid #000;
    width: 100%;
    max-width: 128rem;
    margin-top: 0.8rem;

    ol {
        li {
            display: flex;
            justify-content: space-between;
            border-bottom: 0.1rem solid #eee;

            .left-free2 {
                width: 55%;
                display: flex;
                margin-left: 2rem;
                align-items: center;
            }

            .right-free2 {
                color: #666;
                line-height: 1.6;
                letter-spacing: -0.06rem;
                font-size: 1.5rem;
                width: 45%;
                align-items: center;
                display: flex;
                justify-content: space-around;
                
                span {
                    display: none;
                }
            }

            &.left-padding {
                padding: 2.5rem 0 !important;
                height: auto;

                .ico_provider {
                    padding: 1.7rem 1.3rem 0.7rem;
                    border-radius: 1.6rem;
                    box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.08);
                    border: solid 1px #eee;
                    background-color: #fff;

                }
            }
        }

        li:nth-child(1) {
            height: 4.8rem;
        }
    }
}

.w-130 {
    min-width: 13rem;
}

.w-160 {
    min-width: 16rem;
}

.w-a {
    width: auto !important;
}

.bg-white {
    background-color: #fff !important;
}

.announ2 {
    color: #35f;
    width: 12%;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: -0.06rem;
}

@media all and (max-width: 768px) {
    input[type=text] {
        height: 4rem;
        line-height: 4rem;
        padding-left: 1.5rem;
        border-radius: 0.2rem;
        border: solid 0.1rem #ccc;
        
    }
    /*채용정보알림신청*/
    .contents-box {
        table.table-recruit {
            select {
                height: 4rem;
                line-height: 4rem;
            }
            .checkbox__label, 
            .radio__label {
                font-size: 1.3rem;
            }
            .txt-blue {
                font-size: 1.4rem;
            }
            .btn--size-m {
                width: 9.4rem;
                height: 4rem;
                font-weight: 500;
                font-size: 1.5rem;
                letter-spacing: -0.064rem;
            }
            tbody {
                tr {
                    th {
                        font-size: 1.3rem;
                        width: 30%;
                        padding: 0 2.4rem 0 1.2rem;
                    }
                    td {
                        font-size: 1.3rem;
                        padding: 2rem 1rem;
                        input[type=text] {
                            height: 4rem;
                            line-height: 4rem;
                            padding: 0 3rem 0 1rem;
                            border-color: #ccc;
                        }
                        
                    }
                    td.input_keyword {
                        input {
                            margin-bottom: 0.5rem;
                        }
                        input:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }

    
}

@media all and (max-width: 390px) {
    /*분야별채용공고*/
    .listType-header {
        .board_top {
            display: block;
        }
        .free-main2 {
            margin-top: 1.5rem;
        }
        ol {
            li {
                display: block;
                .left-free2 {
                    width: 100%;
                    margin-left: 1rem;
                }
                .right-free2 {
                    width: 100%;
                    span {
                        display: block;
                    }
                    &--data {
                        display: flex;
                    }
                }
                &.free-title {
                    display: none;
                }
                &.left-padding {
                    padding: 2rem 0 !important;
                }
            }
            
        }
    }
}