.welfare {
    &.contents {
        padding-bottom: 6.4rem;
    }

    .icon-box {
        width: 6.4rem;
        height: 6.4rem;
        margin-right: 2.2rem;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }

    &-title {
        max-width: 120rem;
        width: 100%;
        height: 24rem;
        border-radius: 1.6rem;
        padding: 6% 0 0 49.59%;
        margin-bottom: 2.4rem;
        color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        h1 {
            font-family: 'ONE-Mobile-Title';
            font-size: 3.6rem;
            line-height: 1;
            margin-top: 2.4rem;
        }

        p {
            margin-top: 0.9rem;
            color: #fff;
        }

        .right {
            padding-right: 1rem;
        }

        &.house {
            background: url($imgPath + 'welfare_house_w.png') no-repeat center;
            color: #222;
        }

        &.prize {
            background: url($imgPath + 'welfare_prize_w.png') no-repeat center;
        }

        &.study {
            background: url($imgPath + 'welfare_study_w.png') no-repeat center;
        }

        &.etc {
            background: url($imgPath + 'welfare_fund_w.png') no-repeat center;
        }
    }

    &-info {
        width: 100%;
        height: 10.7rem;
        background: #f9f9f9;
        border: 1px solid #eee;
        border-radius: 0.4rem;
        padding: 2.1rem 4rem 2.4rem;
        margin-top: 2.4rem;

        .top {
            height: 3.2rem;
            font-size: 2rem;
            font-family: 'ONE-Mobile-Title';
            color: #222;
            padding: 0.6rem 4.2rem;
            background: url($imgPath + 'welfare_info.png') no-repeat;
            line-height: 1;
            letter-spacing: -0.08rem;
        }

        .bottom {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-top: 1.2rem;

            p {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                line-height: 1;

                span {
                    font-size: 1.6rem;
                    color: #444;
                    padding: 0 2.4rem 0 0.9rem;
                    font-weight: 500;
                    letter-spacing: -0.064rem;

                    &:first-child {
                        font-size: 1.5rem;
                        color: #888;
                        border-right: 1px solid #ddd;
                        padding: 0 0.9rem 0 0;
                        font-weight: normal;
                    }
                }

                &.number {
                    margin-left: -1.2rem;
                    font-size: 1.6rem;
                    font-weight: 600;
                    color: #3355ff;
                }
            }
        }
    }
}

.contents-list {
    h3 {
        line-height: 1;
        letter-spacing: -0.096rem;
    }

    .item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        min-height: 12rem;
        padding: 2.4rem 0 6.4rem;
        border-top: 1px solid #eee;

        &:first-child {
            border: none;
        }

        &-wrap {
            border-top: 0.2rem solid #1a1a1a;
            margin-top: 1.2rem;
        }
    }

    .left {
        width: 20rem;
        -ms-flex-negative: 0;
        flex-shrink: 0;

        p {
            font-size: 1.8rem;
            color: #222;
            font-family: 'ONE-Mobile-Title';
            position: relative;
            letter-spacing: -0.072rem;

            &::after {
                content: '';
                width: 4rem;
                height: 0.2rem;
                background: #3355ff;
                position: absolute;
                left: 0;
                bottom: -0.4rem;
            }
        }
    }

    .right {
        table {
            border-radius: 0.4rem;
            overflow: hidden;
            position: relative;
            width: 100rem;

            col {
                &.th {
                    &-width {
                        width: 22%;
                    }

                    &-left,
                    &-right {
                        width: 20%;
                    }
                }
            }

            th {
                background: #f5f7ff;
                color: #18297a;
                font-size: 1.5rem;
                font-weight: 600;
                text-align: center;

                span {
                    display: block;
                }
            }

            td {
                padding: 1.5rem;
                text-align: center;
            }

            th,
            td {
                border: 1px solid #e4e6ee;
            }

            thead {
                th {
                    height: 4.8rem;
                }
            }

            &::after {
                content: '';
                width: calc(100% + 0.3rem);
                height: calc(100% + 0.3rem);
                position: absolute;
                border: 0.2rem solid #e4e6ee;
                border-radius: 0.5rem;
                top: -0.2rem;
                left: -0.1rem;
            }

            .mobile {
                &-90 {
                    width: 9rem !important;
                }
            }
        }

        .history {
            line-height: 2.22;
            font-weight: normal;
        }

        ul {
            li {
                margin-bottom: 1.2rem;
                color: #222;
            }
        }

        .caution {
            font-size: 1.5rem;
            letter-spacing: -0.06rem;
            margin-top: 1.6rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            button {
                width: 13.4rem;
                margin-left: 1.6rem;
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .contents-list {
        .right {
            overflow: hidden;

            .table-wrap {
                width: 100%;
                padding-right: 2rem;
                overflow-x: scroll;
                -ms-overflow-style: none;
                scrollbar-width: none;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            table {
                th {
                    font-size: 1.3rem;
                }

                col {
                    &.th {
                        &-width {
                            width: 9rem;
                        }

                        &-left {
                            width: 10rem;
                        }

                        &-right {
                            width: 20rem;
                        }
                    }
                }

                &::after {
                    left: -0.2rem;
                }
            }
        }
    }
}

@include mobile {
    .contents-list {
        .item {
            display: block;
            padding-bottom: 4rem;
        }

        .left {
            p {
                margin-bottom: 2rem;
            }
        }

        .right {
            overflow: visible;

            .table-wrap {
                width: calc(100% + 2rem);
            }

            table {
                width: 72rem;
            }

            .caution {
                display: block;

                button {
                    margin: 1.2rem 0 0 0;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                }

                &.m {
                    color: map-get($color, primary);
                    font-weight: 600;
                }
            }
        }
    }

    .welfare {
        &-info {
            height: 15.1rem;
            padding: 2rem 0 2rem 2rem;

            .top {
                height: 4rem;
                background-size: 4rem 4rem;
                font-size: 1.8rem;
                padding-top: 0;
                padding: 0 0 0 5.2rem;

                span {
                    display: block;
                    margin-top: 0.6rem;
                }
            }

            .bottom {
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                margin-top: 2rem;

                p {
                    &:first-child {
                        width: 100%;
                        margin-bottom: 0.9rem;
                    }

                    &.number {
                        font-size: 1.5rem;
                        margin-left: -0.8rem;
                    }

                    span {
                        font-size: 1.5rem;

                        &:first-child {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }

        &-title {
            height: 35rem;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            padding: 2rem;
            background-size: cover !important;
            margin-bottom: 4rem;

            h1 {
                font-size: 3.2rem;
            }

            &.house {
                background: url($imgPath + 'welfare_house_m.png') no-repeat center;
                color: #222;
            }

            &.prize {
                background: url($imgPath + 'welfare_prize_m.png') no-repeat center;
            }

            &.study {
                background: url($imgPath + 'welfare_study_m.png') no-repeat center;
            }

            &.etc {
                background: url($imgPath + 'welfare_fund_m.png') no-repeat center;
            }
        }

        .icon-box {
            width: 4.8rem;
            height: 4.8rem;
        }
    }
}